.helpLink, .helpLink#visited, .helpLink#hover {
  display: inline-block;
  background: url(src/assets/images/help.png) no-repeat center;
  line-height: 16px;
  height: 16px;
  width: 16px;
  font-size: 16px;
  text-decoration: none !important;
  color: white;
}
