<div class="container-fluid">
  <div class="text-center" fxLayout="row nowrap" fxLayoutAlign="space-between">
    <!-- Navigation -->
    <div fxLayout="row nowrap">
      <!-- Previous -->
      <div>
        <div class="button button-primary btn-left" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="emitDate($event)">
          {{'calendar.previous' | translate}}
        </div>
      </div>

      <div>
        <!-- Today -->
        <div class="button button-primary btn-left" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="emitDate($event)"> 
          {{'calendar.today' | translate}}
        </div>
      </div>
      <div>
        <!-- Next -->
        <div class="button button-primary btn-left" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="emitDate($event)">
          {{'calendar.next' | translate}}
        </div>
      </div>
    </div>

    <!-- Title -->
    <div class="col-md-4">
      <h1>{{ viewDate | calendarDate:(view + 'ViewTitle'): currentLang: 1 }}</h1>
    </div>

    <!-- Types of view -->
    <div fxLayout="row nowrap">
      <div>
        <div class="button btn-left" [class.button-secondary]="view != CalendarView.Month" [class.button-primary]="view == CalendarView.Month" (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month">
          {{'calendar.month' | translate}}
        </div>
      </div>
      <div>
        <div class="button btn-left" [class.button-secondary]="view != CalendarView.Week" [class.button-primary]="view == CalendarView.Week" (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week">
          {{'calendar.week' | translate}}
        </div>
      </div>

      <div>
        <div class="button" [class.button-secondary]="view != CalendarView.Day" [class.button-primary]="view == CalendarView.Day" (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day">
          {{'calendar.day' | translate}}
        </div>
      </div>
    </div>
  </div>

  <br>

  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" [weekStartsOn]="1" (eventClicked)="handleEvent('Clicked', $event.event)">
    </mwl-calendar-month-view>

    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [weekStartsOn]="1"
      [hourSegmentHeight]=20
      [dayStartHour] = openingHour
      [dayEndHour] = closingHour
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (hourSegmentClicked)="hourSegment($event)"
      >
    </mwl-calendar-week-view>

    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      [hourSegmentHeight]=20 [dayStartHour]=openingHour [dayEndHour]=closingHour
      (eventClicked)="handleEvent('Clicked', $event.event)">
    </mwl-calendar-day-view>
  </div>

</div>