<div class="container-fluid">
  <div class="row text-center">
    <!-- Navigation -->
    <div class="col-md-4">
      <div class="btn-group">
        <!-- Previous -->
        <div class="btn btn-primary btn-left"
             mwlCalendarPreviousView
             [view]="view"
             [(viewDate)]="viewDate">
          {{'calendar.previous' | translate}}
        </div>

        <!-- Today -->
        <div class="btn btn-outline-secondary btn-left"
             mwlCalendarToday
             [(viewDate)]="viewDate">
          {{'calendar.today' | translate}}
        </div>

        <!-- Next -->
        <div class="btn btn-primary"
             mwlCalendarNextView
             [view]="view"
             [(viewDate)]="viewDate">
          {{'calendar.next' | translate}}
        </div>
      </div>
    </div>

    <!-- Title -->
    <div class="col-md-4">
      <h1>{{ viewDate | calendarDate:(view + 'ViewTitle'): currentLang: 1 }}</h1>
    </div>

    <!-- Types of view -->
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary btn-left"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month">
          {{'calendar.month' | translate}}
        </div>

        <div
          class="btn btn-primary btn-left"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week">
          {{'calendar.week' | translate}}
        </div>

        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day">
          {{'calendar.day' | translate}}
        </div>
      </div>
    </div>
  </div>

  <br>

  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [weekStartsOn]="1"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>

    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [weekStartsOn]="1"
      [hourSegmentHeight]=20
      [dayStartHour] = openingHour
      [dayEndHour] = closingHour
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>

    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [hourSegmentHeight]=20
      [dayStartHour] = openingHour
      [dayEndHour] = closingHour
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>

</div>
