<div>
  <div *ngIf="locationReservations.length === 0" class="alert alert-info">
    {{'management.locationDetails.calendar.reservations.table.noLocationReservations' | translate}}
  </div>
  <div *ngIf="warning" class="alert alert-warning">
    {{'scan.unregistered' | translate}}
  </div>

  <div class="row form-group">
    <label class="col-md-3 control-label" for="search">
      {{'management.locationDetails.calendar.reservations.searchUser' | translate}}
    </label>
    <div class="col-sm-10 col-md-7">
      <input id="search" type="text" class="form-control"
             [(ngModel)]="searchTerm" (ngModelChange)="updateSearchTerm(scanningError)">
    </div>
    <div class="col-sm-2 col-md-2 pull-right">
      <button id="finish" class="btn btn-secondary" (click)="setAllNotScannedToUnattended(scanningError)"
              data-toggle="tooltip" data-placement="top"
              title="{{'management.locationDetails.calendar.reservations.finishScanningTooltip' | translate}}">
        {{'management.locationDetails.calendar.reservations.finishScanning' | translate}}
      </button>
    </div>
  </div>

  <div class="row">
    <div class="alert alert-info" *ngIf="waitingForServer">
      {{'general.waitingForServer' | translate}}
    </div>
  </div>

  <table class="table table-striped" style="width: 100%; margin-bottom: 10px;" *ngIf="locationReservations.length > 0">
    <thead>
      <tr>
        <th>{{'management.locationDetails.calendar.reservations.table.user' | translate}}</th>
        <th>{{'management.locationDetails.calendar.reservations.table.attended' | translate}}</th>
        <th>{{startedScanning ? ('management.locationDetails.calendar.reservations.table.scan' | translate) : ''}}</th>
        <th *ngIf="!hideDeleteIcon">
          <!-- Delete -->
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of filter(locationReservations)" [class.highlight]="reservation.attended">
        <td>{{reservation.user.firstName + ' ' + reservation.user.lastName}}</td>
        <td>{{getCorrectI18NObject(reservation) | translate}}</td>
        <td>
          <!-- Note: don't disable the other button if yes/no is clicked because otherwise the user couldn't
             change the attendance, e.g. if he/she clicked on the wrong button. Therefore the class
             of the button should be set as if the button was disabled -->
          <button *ngIf="startedScanning" class="btn btn-secondary btn-left"
            [ngClass]="isButtonDisabled(reservation) ? 'disabled': '' "
            (click)="scanLocationReservation(reservation, true, scanningError)">
            {{'general.yes' | translate}}
          </button>
          <button *ngIf="startedScanning" class="btn btn-default"
            [ngClass]="!isButtonDisabled(reservation) ? 'disabled': '' "
            (click)="scanLocationReservation(reservation, false, scanningError)">
            {{'general.no' | translate}}
          </button>
        </td>
        <td class="hover" style="padding-left: 10px; padding-right: 10px; padding-top: 10px"
            *ngIf="!hideDeleteIcon"
          (click)="prepareToDeleteLocationReservation(reservation, deleteLocationReservationModal)">
          <span class="glyphicon glyphicon-trash pointerCursor"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal view to ask whether the user is sure to delete a lockerReservation -->
<ng-template #deleteLocationReservationModal>
  <!-- Header -->
  <div class="modal-header">
    <h5 class="modal-title" id="deleteLocationModalLabel">
      {{'management.reservations.location.deleteModal.title' | translate}}
    </h5>
  </div>

  <!-- Body -->
  <div class="modal-body">
    <div>
      <b>{{'management.reservations.location.deleteModal.body' | translate}}</b>
      <br><br>
      <ul *ngIf="locationReservationToDelete !== undefined">
        <li><b style="margin-right: 5px"><i>{{('management.locationDetails.calendar.reservations.table.user' | translate) + ':   '}}</i></b>{{locationReservationToDelete.user.firstName + ' ' + locationReservationToDelete.user.lastName}}</li>
        <li><b style="margin-right: 5px"><i>{{('management.locationDetails.calendar.reservations.table.attended' | translate) + ':   '}}</i></b>{{(locationReservationToDelete.attended ? 'general.yes' : 'general.no') | translate}}</li>
      </ul>
    </div>
  </div>

  <!-- Footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-primary"
            (click)="deleteLocationReservation()">
      {{'management.reservations.location.deleteModal.yesButton' | translate}}
    </button>
    <button type="button" class="btn btn-secondary" (click)="closeModal()">
      {{'management.reservations.location.deleteModal.noButton' | translate}}
    </button>
  </div>

  <div class="container-fluid">
    <div class="alert alert-info" *ngIf="successDeletingLocationReservation === null">
      {{'management.reservations.location.deleteModal.loading' | translate}}
    </div>

    <div class="alert alert-success" *ngIf="successDeletingLocationReservation === true">
      {{'management.reservations.location.deleteModal.success' | translate}}
    </div>

    <div class="alert alert-error" *ngIf="successDeletingLocationReservation === false">
      {{'management.reservations.location.deleteModal.error' | translate}}
    </div>
  </div>
</ng-template>

<ng-template #scanningError>
  <!-- Modal header -->
  <div class="modal-header">
    <h5 class="modal-title inline-block" id="scanningErrorModalTitle">
      {{'management.reservations.location.scanningErrorModal.title' | translate}}
    </h5>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
    <div class="alert alert-error">
      {{'management.reservations.location.scanningErrorModal.message' | translate}}
    </div>
  </div>

  <!-- Modal footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="closeModal()">
      {{'general.buttons.close' | translate}}
    </button>
  </div>
</ng-template>
