<div class="container-fluid">
  <h3>{{'management.penaltyEvents.title' | translate}}</h3>

  <hr>

  <!-- If unable to retrieve penalty events, show error message -->
  <div *ngIf="errorOnRetrievingPenaltyEvents" class="alert alert-error">
    {{'management.penaltyEvents.errorOnRetrievingPenaltyEvents' | translate}}
  </div>

  <div *ngIf="penaltyEventsObs | async as penaltyEvents">
    <table style="width: 100%;">
      <thead>
      <tr>
        <th>{{'management.penaltyEvents.table.code' | translate}}</th>
        <th>{{'management.penaltyEvents.table.points' | translate}}</th>
        <th>{{'management.penaltyEvents.table.description' | translate}}</th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr [@rowsAnimation]="" *ngFor="let penaltyEvent of penaltyEvents">
        <td>{{penaltyEvent.code}}</td>
        <td>{{penaltyEvent.points}}</td>
        <td>{{descriptionToShow(penaltyEvent)}}</td>
        <!-- Edit icon -->
        <td data-toggle="modal" data-target="#updatePenaltyEventModal"
            class="hover" style="padding-left: 10px; padding-right: 10px; padding-top: 10px"
            (click)="prepareToUpdatePenaltyEvent(penaltyEvent)">
          <span class="glyphicon glyphicon-pencil pointerCursor"></span>
        </td>
        <!-- Delete icon -->
        <td *ngIf="isPenaltyEventUpdatableOrDeletable(penaltyEvent.code)" data-toggle="modal" data-target="#deletePenaltyEventModal"
            class="hover" style="padding-left: 10px; padding-right: 10px; padding-top: 10px"
            (click)="prepareToDeletePenaltyEvent(penaltyEvent)">
          <span class="glyphicon glyphicon-trash pointerCursor"></span>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="row" style="margin-top: 20px">
      <button class="btn btn-primary" data-toggle="modal" data-target="#addPenaltyEventModal"
              (click)="prepareToAddPenaltyEvent()">
        {{'management.penaltyEvents.addNewButton' | translate}}
      </button>
    </div>
  </div>
</div>

<!-- Modal view to add a new penalty event -->
<div class="modal fade" id="addPenaltyEventModal" tabindex="-1" role="dialog"
     aria-labelledby="addPenaltyEventModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Modal header -->
      <div class="modal-header">
        <h5 class="modal-title" id="addPenaltyEventModalTitle">
          {{'management.penaltyEvents.addPenaltyEventModal.title' | translate}}
        </h5>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="penaltyEventFormGroup">
          <!-- PenaltyEvent code -->
          <div class="row form-group">
            <label class="col-lg-3 control-label" for="code">
              {{'management.penaltyEvents.table.code' | translate}}<span style="color: red; margin-left: 5px;">*</span>
            </label>
            <div class="col-lg-8">
              <input class="form-control" id="code" type="number" formControlName="code" >
            </div>
          </div>

          <div class="row">
            <div *ngIf="code.invalid && (code.dirty || code.touched)" class="alert alert-danger">
              <div *ngIf="code.errors.required">
                {{'management.penaltyEvents.addPenaltyEventModal.formValidationErrorMessages.code' | translate}}
              </div>
            </div>

            <div *ngIf="!isPenaltyEventUpdatableOrDeletable(code.value)">
              <div class="alert alert-warning">
                {{'management.penaltyEvents.addPenaltyEventModal.formValidationErrorMessages.codeWarning1666' | translate}}
              </div>
            </div>
          </div>

          <!-- Penalty points -->
          <div class="row form-group">
            <label class="col-lg-3 control-label" for="penaltyPoints">
              {{'management.penaltyEvents.table.points' | translate}}<span style="color: red; margin-left: 5px;">*</span>
            </label>
            <div class="col-lg-8">
              <input class="form-control" id="penaltyPoints" type="number" formControlName="penaltyPoints" >
            </div>
          </div>

          <div class="row">
            <div *ngIf="penaltyPoints.invalid && (penaltyPoints.dirty || penaltyPoints.touched)" class="alert alert-danger">
              <div *ngIf="penaltyPoints.errors.required">
                {{'management.penaltyEvents.addPenaltyEventModal.formValidationErrorMessages.penaltyPoints' | translate}}
              </div>

              <div *ngIf="penaltyPoints.errors.min">
                {{'management.penaltyEvents.addPenaltyEventModal.formValidationErrorMessages.penaltyPointsMin' | translate}}
              </div>
            </div>
          </div>
        </form>

        <!-- Languages that the application supports -->
        <div class="row form-group" *ngFor="let lang of supportedLanguagesTranslated">
          <label class="col-lg-3 control-label" for="{{lang}}">
            {{lang}}<span style="color: red; margin-left: 5px;">*</span>
          </label>
          <div class="col-lg-8">
            <input class="form-control" id="{{lang}}" type="text"
                   [ngModel]="descriptionsForNewPenaltyEvent.get(lang)"
                   (ngModelChange)="descriptionsForNewPenaltyEvent.set(lang, $event)">
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary"
                [disabled]="!validPenaltyEventForm()"
                (click)="addNewPenaltyEvent(penaltyEventFormGroup.value)">
          {{'management.penaltyEvents.addPenaltyEventModal.addButton' | translate}}
        </button>
        <button type="button" class="btn btn-secondary"
                data-dismiss="modal">
          {{'management.penaltyEvents.addPenaltyEventModal.cancelButton' | translate}}
        </button>
      </div>

      <!-- Feedback to the user -->
      <div class="container-fluid">
        <div class="alert alert-info" *ngIf="additionWasSuccess === null">
          {{'management.penaltyEvents.addPenaltyEventModal.loading' | translate}}
        </div>

        <div class="alert alert-success" *ngIf="additionWasSuccess === true">
          {{'management.penaltyEvents.addPenaltyEventModal.success' | translate}}
        </div>

        <div class="alert alert-error" *ngIf="additionWasSuccess === false">
          {{'management.penaltyEvents.addPenaltyEventModal.error' | translate}}
        </div>

        <div class="alert alert-error" *ngIf="notAllSupportedLanguagesAreFilledInError">
          {{'management.penaltyEvents.addPenaltyEventModal.notAllLanguagesError' | translate}}
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Modal view to update a penalty event -->
<div class="modal fade" id="updatePenaltyEventModal" tabindex="-1" role="dialog"
     aria-labelledby="updatePenaltyEventModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Modal header -->
      <div class="modal-header">
        <h5 class="modal-title" id="updatePenaltyEventModalTitle">
          {{'management.penaltyEvents.updatePenaltyEventModal.title' | translate}}
        </h5>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="penaltyEventFormGroup">
          <!-- PenaltyEvent code -->
          <div class="row form-group">
            <label class="col-lg-3 control-label" for="codeUpdate">
              {{'management.penaltyEvents.table.code' | translate}}<span style="color: red; margin-left: 5px;">*</span>
            </label>
            <div class="col-lg-8">
              <input class="form-control" id="codeUpdate" type="number" formControlName="code">
            </div>
          </div>

          <!-- Penalty points -->
          <div class="row form-group">
            <label class="col-lg-3 control-label" for="penaltyPointsUpdate">
              {{'management.penaltyEvents.table.points' | translate}}<span style="color: red; margin-left: 5px;">*</span>
            </label>
            <div class="col-lg-8">
              <input class="form-control" id="penaltyPointsUpdate" type="number" formControlName="penaltyPoints">
            </div>
          </div>

          <div class="row">
            <div *ngIf="penaltyPoints.invalid && (penaltyPoints.dirty || penaltyPoints.touched)" class="alert alert-danger">
              <div *ngIf="penaltyPoints.errors.required">
                {{'management.penaltyEvents.updatePenaltyEventModal.formValidationErrorMessages.penaltyPoints' | translate}}
              </div>

              <div *ngIf="penaltyPoints.errors.min">
                {{'management.penaltyEvents.updatePenaltyEventModal.formValidationErrorMessages.penaltyPointsMin' | translate}}
              </div>
            </div>
          </div>
        </form>

        <!-- Languages that the application supports -->
        <div class="row form-group" *ngFor="let lang of supportedLanguagesTranslated">
          <label class="col-lg-3 control-label" for="{{lang}}Update">
            {{lang}}<span style="color: red; margin-left: 5px;">*</span>
          </label>
          <div class="col-lg-8">
            <input class="form-control" id="{{lang}}Update" type="text"
                   [ngModel]="descriptionsForNewPenaltyEvent.get(lang)"
                   (ngModelChange)="descriptionsForNewPenaltyEvent.set(lang, $event)">
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary"
                [disabled]="!validPenaltyEventForm()"
                (click)="updatePenaltyEvent()">
          {{'management.penaltyEvents.updatePenaltyEventModal.updateButton' | translate}}
        </button>
        <button type="button" class="btn btn-secondary"
                data-dismiss="modal">
          {{'management.penaltyEvents.updatePenaltyEventModal.cancelButton' | translate}}
        </button>
      </div>

      <!-- Feedback to the user -->
      <div class="container-fluid">
        <div class="alert alert-info" *ngIf="updateWasSuccess === null">
          {{'management.penaltyEvents.updatePenaltyEventModal.loading' | translate}}
        </div>

        <div class="alert alert-success" *ngIf="updateWasSuccess === true">
          {{'management.penaltyEvents.updatePenaltyEventModal.success' | translate}}
        </div>

        <div class="alert alert-error" *ngIf="updateWasSuccess === false">
          {{'management.penaltyEvents.updatePenaltyEventModal.error' | translate}}
        </div>

        <div class="alert alert-error" *ngIf="notAllSupportedLanguagesAreFilledInError">
          {{'management.penaltyEvents.updatePenaltyEventModal.notAllLanguagesError' | translate}}
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Modal view to ask whether the user is sure to delete a penalty event -->
<div class="modal fade" id="deletePenaltyEventModal" tabindex="-1" role="dialog"
     aria-labelledby="deletePenaltyEventModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="deleteLockerModalLabel">
          {{'management.penaltyEvents.deletePenaltyEventModal.title' | translate}}
        </h5>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <div>
          <b>{{'management.penaltyEvents.deletePenaltyEventModal.body' | translate}}</b>
          <br><br>
          <ul>
            <li><b style="margin-right: 5px"><i>{{('management.penaltyEvents.table.code' | translate) + ':   '}}</i></b>{{currentPenaltyEventToDelete.code}}</li>
            <li><b style="margin-right: 5px"><i>{{('management.penaltyEvents.table.points' | translate) + ':   '}}</i></b>{{currentPenaltyEventToDelete.points}}</li>
            <li><b style="margin-right: 5px"><i>{{('management.penaltyEvents.table.description' | translate)}}</i></b>{{descriptionToShow(currentPenaltyEventToDelete)}}</li>
          </ul>
        </div>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                (click)="deletePenaltyEventLinkedToCurrentToDelete()">
          {{'management.penaltyEvents.deletePenaltyEventModal.yesButton' | translate}}
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{'management.penaltyEvents.deletePenaltyEventModal.noButton' | translate}}
        </button>
      </div>

      <div class="container-fluid">
        <div class="alert alert-info" *ngIf="deletionWasSuccess === null">
          {{'management.penaltyEvents.deletePenaltyEventModal.loading' | translate}}
        </div>

        <div class="alert alert-success" *ngIf="deletionWasSuccess === true">
          {{'management.penaltyEvents.deletePenaltyEventModal.success' | translate}}
        </div>

        <div class="alert alert-error" *ngIf="deletionWasSuccess === false">
          {{'management.penaltyEvents.deletePenaltyEventModal.error' | translate}}
        </div>
      </div>

    </div>
  </div>
</div>
