<div class="container-fluid">
  <div class="row">

    <!-- Menu for /management -->
    <aside class="col-sm-12 col-md-2 inpage-nav-container" style="margin-bottom: 20px;">
      <nav class="padding-default bg-tertiary">
        <h2>{{'management.aside.title' | translate}}</h2>
        <ul class="linklist linklist-dark">
          <li><a routerLink="./locations">{{'management.aside.locations' | translate}}</a></li>
          <li><a routerLink="./buildings">{{'management.aside.buildings' | translate}}</a></li>
          <li *ngIf="showTagManagement"><a routerLink="./tags">{{'management.aside.tags' | translate}}</a></li>
          <li *ngIf="showAdmin"><a routerLink="./users">{{'management.aside.users' | translate}}</a></li>
          <li *ngIf="showAdmin"><a routerLink="./authorities">{{'management.aside.authorities' | translate}}</a></li>
          <li *ngIf="showPenalties"><a routerLink="./penalties">{{'management.aside.penalties' | translate}}</a></li>
        </ul>
      </nav>
    </aside>

    <article class="col-sm-12 col-md-10">
      <router-outlet></router-outlet>
    </article>
  </div>
</div>
