<div class="container-fluid">
  <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="space-between">


    <!-- Default -->


    <!-- Menu for /management -->
    <aside fxFlex="0 1 calc(23% - 32px);">
      <section class="highlight highlight--top">
        <div class="highlight__inner no-right-padding">
          <h2>{{'management.aside.title' | translate}}</h2>

          <div fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="space-between">

            <a routerLink="./locations">{{'management.aside.locations' | translate}}</a>            
              <a routerLink="./buildings">{{'management.aside.buildings' | translate}}</a>
              <a routerLink="./tags"  *ngIf="showTagManagement">{{'management.aside.tags' | translate}}</a>
              <a routerLink="./users" *ngIf="showAdmin">{{'management.aside.users' | translate}}</a>
              <a routerLink="./volunteers" *ngIf="showVolunteersManagement">{{'management.aside.volunteers' | translate}}</a>
              <a routerLink="./authorities"  *ngIf="showAdmin">{{'management.aside.authorities' | translate}}</a>
              <a routerLink="./admins"  *ngIf="showAdmin">{{'management.aside.admins' | translate}}</a>
              <a routerLink="./penalties"  *ngIf="showPenalties">{{'management.aside.penalties' | translate}}</a>

          </div>
        </div>
      </section>
    </aside>

    <article fxFlex="0 1 calc(75% - 32px);">
      <router-outlet></router-outlet>
    </article>
  </div>
</div>