<!-- Form with information about location -->
<div class="container-fluid" *ngIf="location | async as location">
  <form [formGroup]="locationForm">
    <!-- Location name -->
    <div class="row form-group">
      <label class="col-lg-3 control-label" for="name">
        {{'management.locationDetails.form.name' | translate}}
      </label>
      <div class="col-lg-8">
        <input class="form-control" id="name" type="text" formControlName="name">
      </div>
    </div>

    <!-- Authority -->
    <div class="row form-group" *ngIf="authoritiesObs | async as authorities">
      <label class="col-lg-3 control-label" for="authority">
        {{'management.locationDetails.form.authority' | translate}}
      </label>
      <div class="col-lg-8">
        <select class="form-control" id="authority" formControlName="authority">
          <option *ngFor="let authority of authorities" [value]="authority.authorityId">
            {{authority.authorityName + ' (' + authority.description + ')'}}
          </option>
        </select>
      </div>
    </div>

    <!-- Building -->
    <div class="row form-group" *ngIf="buildingsObs | async as buildings">
      <label class="col-lg-3 control-label" for="building">
        {{'management.locationDetails.form.building' | translate}}
      </label>
      <div class="col-lg-8">
        <select class="form-control" id="building" formControlName="building">
          <option *ngFor="let building of buildings" [value]="building.buildingId">
            {{building.name + ' (' + building.address + ')'}}
          </option>
        </select>
      </div>
    </div>

    <!-- Number of seats -->
    <div class="row form-group">
      <label class="col-lg-3 control-label" for="numberOfSeats">
        {{'management.locationDetails.form.numberOfSeats' | translate}}
      </label>
      <div class="col-lg-8">
        <input class="form-control" id="numberOfSeats" type="number" formControlName="numberOfSeats">
        <span class="help-block">{{'management.locationDetails.form.numberOfSeatsHelp' | translate}}</span>
        <div class="alert alert-warning" *ngIf="this.canEditLocationSeats">
          {{'management.locationDetails.form.numberOfSeatsApplyWarning' | translate}}
        </div>
      </div>
    </div>

    <!-- Number of lockers -->
    <div class="row form-group" *ngIf="showLockersManagement">
      <label class="col-lg-3 control-label" for="numberOfLockers">
        {{'management.locationDetails.form.numberOfLockers' | translate}}
      </label>
      <div class="col-lg-8">
        <input class="form-control" id="numberOfLockers" type="number" formControlName="numberOfLockers">
      </div>
    </div>

    <!-- Image URL -->
    <div class="row form-group">
      <label class="col-lg-3 control-label" for="imageUrl">
        {{'management.locationDetails.form.imageUrl' | translate}}</label>
      <div class="col-lg-8">
        <input class="form-control" id="imageUrl" type="text" formControlName="imageUrl">
      </div>
    </div>

    <!-- Buttons to edit/cancel/persist location -->
    <div class="row form-group button-group">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div class="pull-left">
          <!-- Button to make form editable -->
          <button type="button" class="button button-primary btn-space"
                  [disabled]="disableEditLocationButton"
                  (click)="editLocationDetailsButtonClick()">
            {{'management.locationDetails.form.edit' | translate}}
          </button>
        </div>

        <div class="pull-right">

          <!-- Button to persist changes -->
          <button type="button" class="button button-primary btn-space"
                  [disabled]="disablePersistLocationButton"
                  (click)="persistLocationDetailsButtonClick()">
            {{'management.locationDetails.form.persist' | translate}}
          </button>

                    <!-- Button to cancel changes -->

          <button type="button" class="button button-secondary btn-space btn-left"
                  [disabled]="disableCancelLocationButton"
                  (click)="cancelLocationDetailsButtonClick(location)">
            {{'management.locationDetails.form.cancel' | translate}}
          </button>

          
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="alert alert-info" *ngIf="successUpdatingLocation === null">
        {{'management.locationDetails.form.loading' | translate}}
      </div>

      <div class="alert alert-success" *ngIf="successUpdatingLocation === true">
        {{'management.locationDetails.form.success' | translate}}
      </div>

      <div class="alert alert-error" *ngIf="successUpdatingLocation === false">
        {{'management.locationDetails.form.error' | translate}}
      </div>
    </div>
  </form>
</div>
