<div class="container-fluid">
  <div class="row">
    <!--  -->
    <aside class="col-sm-12 col-md-2 inpage-nav-container">
      <nav class="padding-default bg-tertiary">
        <h2>{{'profile.asideTitle' | translate}}</h2>
        <ul class="linklist linklist-dark">
          <li>{{'profileAside.overview' | translate}}</li>
          <li>{{'profileAside.reservations' | translate}}</li>
          <li>{{'profileAside.calendar' | translate}}</li>
          <li>{{'profileAside.penalties' | translate}}</li>
        </ul>
      </nav>
    </aside>

    <article class="col-sm-12 col-md-10">
      profile works!
    </article>
  </div>
</div>
