<div class="container-fluid">
  <div class="row">

    <!-- Menu for /profile/ -->
    <aside class="col-sm-12 col-md-2 inpage-nav-container" style="margin-bottom: 20px;">
      <nav class="padding-default bg-tertiary">
        <h2>{{'profile.aside.title' | translate}}</h2>
        <ul class="linklist linklist-dark">
          <li><a routerLink="./overview">{{'profile.aside.overview' | translate}}</a></li>
          <li *ngIf="showReservations"><a routerLink="./reservations">{{'profile.aside.reservations' | translate}}</a></li>
          <li><a routerLink="./calendar">{{'profile.aside.calendar' | translate}}</a></li>
          <li *ngIf="showPenalties"><a routerLink="./penalties">{{'profile.aside.penalties' | translate}}</a></li>
          <li><a routerLink="./password">{{'profile.aside.password' | translate}}</a></li>
        </ul>
      </nav>
    </aside>

    <article class="col-sm-12 col-md-10">
      <router-outlet></router-outlet>
    </article>
  </div>
</div>
