<div class="row">
  <h2 translate>management.locationCalendar</h2>
  <hr>
</div>

<div class="row">
  <h3 translate>management.selectLocation</h3>
  <form>
    <div class="form-group">
      <label class="col-lg-3 control-label" for="location" translate>location.location</label>
      <div class="col-lg-9 bootstrap-select">
        <select class="form-control selectpicker" id="location" data-live-search="true" [(ngModel)]="location"
                (change)="locationChanged()" name="location">
          <option *ngFor="let loc of locations" [ngValue]="loc">{{loc.name}}</option>
        </select>
      </div>
    </div>
  </form>
</div>

<!-- Header for the calendar -->
<h2>{{ viewDate | calendarDate:(view + 'ViewTitle'):this.locale }}
  <div class="btn btn-primary" style="float: right; margin: 5px" mwlCalendarNextView
       [view]="view"
       [(viewDate)]="viewDate"
       translate>
    <span class="glyphicon glyphicon-chevron-right"></span>
  </div>
  <div class="btn btn-primary" style="float: right; margin: 5px" mwlCalendarPreviousView
       [view]="view"
       [(viewDate)]="viewDate" translate>
    <span class="glyphicon glyphicon-chevron-left"></span>
  </div>
</h2>

<div class="row">

  <!-- This is a custom cell template for the calendar, it represents the Html code for 1 day -->
  <ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
      <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
      <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>

    <!-- If the location is open on this day -->
    <div *ngIf="isOpen(this.calendar, dateToIDate(day.date))" class="text-center">

      <!-- Show opening hours -->
      <h2 translate>location.openingHours</h2>
      <h3>{{getOpeningHoursToString(day.date)}}</h3>

      <!-- show date and time when reservations open for this day -->
      <h2 translate>calendarOverview.reservationOpens</h2>
      <h3>{{getReservationHoursToString(day.date)}}</h3>

    </div>

    <!-- If this day is closed, show 'closed' -->
    <div *ngIf="!isOpen(this.calendar, dateToIDate(day.date))" class="cal-cell-top text-center">
      <h2 translate>location.closed</h2>
    </div>
  </ng-template>

  <!-- The calendar -->
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [cellTemplate]="customCellTemplate"
      [(locale)]=this.locale
      [weekStartsOn]="1"
      (dayClicked)="dayClicked($event.day)">
    </mwl-calendar-month-view>
  </div>
</div>

<!--
Container of both forms. The value of the radio buttons will set this.selectTypeOfForm
and therefore decide which form will be actively shown.
-->

<div class="row" style="padding-bottom: 5vh; padding-top: 5vh">
  <div>
    <h3 translate [translateParams]="{location: location === undefined ? '' : location.name}">calendarOverview.selectTypeOfFormTitle
      <div class="helpLink"
           title="{{ 'calendarOverview.selectTypeOfFormHelp' | translate:{'location': location === undefined ? '' : location.name} }}"
           target="_blank">
        &nbsp;&nbsp;&nbsp;
      </div>
    </h3>

    <div class="form-group container-fluid">

      <div>
        <input id="chkSelectSingle" type="radio" name="typeSelectSingle" [(ngModel)]="selectTypeOfForm" [value]="0" style="margin-right: 5px">
        <label for="chkSelectSingle" translate>calendarOverview.lblChkSelectedDay</label>
      </div>

      <div>
        <input id="chkSelectMultiple" type="radio" name="typeSelectMultiple" [(ngModel)]="selectTypeOfForm" [value]="1" style="margin-right: 5px">
        <label for="chkSelectMultiple" translate>calendarOverview.lblChkMultipleDays</label>
      </div>

    </div>
  </div>

  <!--
  FIRST FORM
  a single day is selected by clicking on the day in the calendar

  fields to fill in:
    open: yes/no
    opening hour: time
    closing hour: time
    open for reservation date: date and time (the time when reservations open for the selected day
  -->

  <div>
    <div *ngIf="selectTypeOfForm === 0">
      <h3 translate>calendarOverview.selectedDay
        <div class="helpLink"
             title="{{ 'management.singleDayInfo' | translate}}"
             target="_blank">
          &nbsp;&nbsp;&nbsp;
        </div>
      </h3>

      <form class="form-horizontal" [formGroup]="singleDayForm" (ngSubmit)="onSubmitSingleDay()" id="singleDayForm">

        <div class="form-group">
          <label class="col-md-2 control-label" for="open">Open</label>
          <div class="col-md-10">
            <input class="form-control" id="open" type="checkbox" formControlName="open" value="false">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="openingHour" translate>calendar.openingHour</label>
          <div class="col-md-10">
            <input class="form-control" id="openingHour" type="time" formControlName="openingHour">
          </div>
        </div>

        <!-- The filled in time in the opening hour field is not a time, ex. 08:--         -->

        <div class="row" *ngIf="singleDayForm.controls['openingHour'].touched && singleDayForm.controls['openingHour'].dirty">
          <div class="alert alert-warning col-md-offset-2">
            <h3 translate>management.warning</h3>
            <p translate>calendarOverview.notATime</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="closingHour" translate>calendar.closingHour</label>
          <div class="col-md-10">
            <input class="form-control" id="closingHour" type="time" formControlName="closingHour">
          </div>
        </div>

        <!-- The filled in time in the closing hour field is not a time, ex. 08:--           -->

        <div class="row" *ngIf="singleDayForm.controls['closingHour'].touched && singleDayForm.controls['closingHour'].dirty">
          <div class="alert alert-warning col-md-offset-2">
            <h3 translate>management.warning</h3>
            <p translate>calendarOverview.notATime</p>
          </div>
        </div>

        <!-- The opening hour does not come before the closing hour -->

        <div class="row" *ngIf="singleDayForm.controls['open'].dirty">
          <div class="alert alert-warning col-md-offset-2">
            <h3 translate>management.warning</h3>
            <p translate>calendarOverview.errorOpeningClosingHour</p>
          </div>
        </div>

        <div class="form-group">

          <label class="col-md-2 control-label" for="openForReservationDate"
                 translate>calendarOverview.reservationOpens</label>
          <div class="col-md-5">
            <input class="form-control" id="openForReservationDate" type="date" formControlName="openForReservationDate">
          </div>

          <div class="col-md-5">
            <input class="form-control" id="openForReservationTime" type="time" formControlName="openForReservationTime">
          </div>

        </div>

        <div class="row">

          <!-- The filled in date in the open for reservation date field is not a date, ex. 04/--/2020     -->

          <div class="alert alert-warning col-md-offset-2 col-md-5" *ngIf="singleDayForm.controls['openForReservationDate'].touched && singleDayForm.controls['openForReservationDate'].dirty">
            <h3 translate>management.warning</h3>
            <p translate>calendarOverview.notADate</p>
          </div>

          <!-- The filled in time in the open for reservation date time field is not a time, ex. 08:--     -->

          <div class="alert alert-warning col-md-offset-7" *ngIf="singleDayForm.controls['openForReservationTime'].touched && singleDayForm.controls['openForReservationTime'].dirty">
            <h3 translate>management.warning</h3>
            <p translate>calendarOverview.notATime</p>
          </div>
        </div>

        <!-- SHOW ERROR MESSAGE
          This is an error message that pops up when you try to submit a past day, because you can not edit the opening hours
          of a past day
        -->

        <div class="row" *ngIf="showErrorPastDaySubmit">
          <div class="alert alert-warning">
            <h3 translate>management.warning</h3>
            <p translate>calendarOverview.pastDaySelected</p>
          </div>
        </div>

        <!-- SHOW ERROR MESSAGE
          This is an error message that pops up when try to set the 'open for reservations date' after the selected date.
          This can not be possible because students wouldn't be able to make a reservation for that day.
        -->

        <div class="row" *ngIf="showErrorOpenForReservationDate">
          <div class="alert alert-warning">
            <h3 translate>management.warning</h3>
            <p translate>calendarOverview.errorOpenForReservationDate</p>
          </div>
        </div>

        <!-- SHOW SUCCESS MESSAGE
          This is a success message that pops up when you successfully edited the opening hours of the selected day
        -->

        <div class="row" *ngIf="showSuccessfullySubmitted">
          <div class="alert alert-success">
            <h3 translate>calendarOverview.success</h3>
            <p translate>calendarOverview.successfullySubmitted</p>
          </div>
        </div>

        <div class="col-md-offset-8 col-md-2 text-center">
          <button class="btn btn-primary" type="submit" translate>Ok</button>
        </div>
        <div class="col-md-2 text-center">
          <button class="btn btn-default " (click)="cancel($event)" translate>location.cancel</button>
        </div>

      </form>
    </div>

    <!--
   SECOND FORM
   Configure multiple days at a time by selecting a period for which the opening hours are the same.

   fields to fill in:
    start date: date
    end date: date
    open: yes/no
    opening hour: time
    closing hour: time
    open for reservation date: date and time
    -->
    <div *ngIf="selectTypeOfForm === 1">
      <h3 translate>calendarOverview.fillInMultipleDays
        <div class="helpLink"
             title="{{ 'management.singleDayInfo' | translate}}"
             target="_blank">
          &nbsp;&nbsp;&nbsp;
        </div>
      </h3>

      <form class="form-horizontal" [formGroup]="multipleDaysForm" (ngSubmit)="onSubmitMultipleDays()"
            id="multipleDayForm">

        <div class="form-group">
          <label class="col-md-2 control-label" for="startDateMultipleDays" translate>calendar.startDate</label>
          <div class="col-md-10">
            <input class="form-control" id="startDateMultipleDays" type="date" formControlName="startDate">
          </div>
        </div>

        <!-- The filled in date in the startdate field is not a date, ex. 04/--/2020     -->

        <div class="row" *ngIf="multipleDaysForm.controls['startDate'].touched && multipleDaysForm.controls['startDate'].dirty && !isValidStartDate()">
          <div class="alert alert-warning col-md-offset-2">
            <h3 translate>management.warning</h3>
            <p translate>calendarOverview.notADate</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="endDateMultipleDays" translate>calendar.endDate</label>
          <div class="col-md-10">
            <input class="form-control" id="endDateMultipleDays" type="date" formControlName="endDate">
          </div>
        </div>

        <!-- The filled in date in the enddatea field is not a date, ex. 04/--/2020     -->

        <div class="row" *ngIf="multipleDaysForm.controls['endDate'].touched && multipleDaysForm.controls['endDate'].dirty">
          <div class="alert alert-warning col-md-offset-2">
            <h3 translate>management.warning</h3>
            <p translate>calendarOverview.notADate</p>
          </div>
        </div>

        <!-- The start date is not before the end date -->

        <div class="row" *ngIf="multipleDaysForm.controls['startDate'].touched && multipleDaysForm.controls['startDate'].dirty && isValidStartDate()">
          <div class="alert alert-warning col-md-offset-2">
            <h3 translate>management.warning</h3>
            <p translate>calendarOverview.errorStartDateEndDate</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="openMultipleDays">Open</label>
          <div class="col-md-10">
            <input class="form-control" id="openMultipleDays" type="checkbox" formControlName="open" value="false">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="openingHourMultipleDays" translate>calendar.openingHour</label>
          <div class="col-md-10">
            <input class="form-control" id="openingHourMultipleDays" type="time" formControlName="openingHour">
          </div>
        </div>

        <!-- The filled in time in the openinghour field is not a time, ex. 08:--     -->

        <div class="row" *ngIf="multipleDaysForm.controls['openingHour'].touched && multipleDaysForm.controls['openingHour'].dirty">
          <div class="alert alert-warning col-md-offset-2">
            <h3 translate>management.warning</h3>
            <p translate>calendarOverview.notATime</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="closingHourMultipleDays" translate>calendar.closingHour</label>
          <div class="col-md-10">
            <input class="form-control" id="closingHourMultipleDays" type="time" formControlName="closingHour">
          </div>
        </div>

        <!-- The filled in time in the closinghour field is not a time, ex. 08:--     -->

        <div class="row" *ngIf="multipleDaysForm.controls['closingHour'].touched && multipleDaysForm.controls['closingHour'].dirty">
          <div class="alert alert-warning col-md-offset-2">
            <h3 translate>management.warning</h3>
            <p translate>calendarOverview.notATime</p>
          </div>
        </div>

        <!-- the opening hour does not come before the closing hour -->

        <div class="row" *ngIf="multipleDaysForm.controls['open'].dirty">
          <div class="alert alert-warning col-md-offset-2">
            <h3 translate>management.warning</h3>
            <p translate>calendarOverview.errorOpeningClosingHour</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="openForReservationDateMultipleDays" translate>calendarOverview.reservationOpens</label>
          <div class="col-md-5">
            <input class="form-control" id="openForReservationDateMultipleDays" type="date"
                   formControlName="openForReservationDate">
          </div>

          <div class="col-md-5">
            <input class="form-control" id="openForReservationTimeMultipleDays" type="time"
                   formControlName="openForReservationTime">
          </div>
        </div>

        <div class="row">

          <div class="alert alert-warning col-md-offset-2 col-md-5" *ngIf="multipleDaysForm.controls['openForReservationDate'].touched && multipleDaysForm.controls['openForReservationDate'].dirty">
            <h3 translate>management.warning</h3>

            <!-- The filled in date in the open for reservation date field is not a date, ex. 04/--/2020     -->

            <p *ngIf="!isValidOpenForReservationDate()" translate>calendarOverview.notADate</p>

            <!-- The filled in openforreservationdate does not come before the startdate     -->

            <p *ngIf="isValidOpenForReservationDate()" translate>calendarOverview.errorOpenForReservationDate</p>
          </div>

          <!-- The filled in time in the open for reservation time field is not a time, ex. 08:--     -->

          <div class="alert alert-warning col-md-offset-7" *ngIf="multipleDaysForm.controls['openForReservationTime'].touched && multipleDaysForm.controls['openForReservationTime'].dirty">
            <h3 translate>management.warning</h3>
            <p translate>calendarOverview.notATime</p>
          </div>
        </div>

        <!-- SHOW ERROR MESSAGE
          This is an error message that pops up when trying to edit the opening hours of a day that has passed.
        -->

        <div class="row" *ngIf="showErrorPastDaySubmitMultipleDays">
          <div class="alert alert-warning">
            <h3 translate>management.warning</h3>
            <p translate>calendarOverview.pastDaySelected</p>
          </div>
        </div>

        <!-- SHOW SUCCESS MESSAGE
          this is a success message that pops up when editing the opening hours of the selected days succeeded.
        -->

        <div class="row" *ngIf="showSuccessfullySubmittedMultipleDays">
          <div class="alert alert-success">
            <h3 translate>calendarOverview.success</h3>
            <p translate>calendarOverview.successfullySubmitted</p>
          </div>
        </div>

        <div class="col-md-offset-8 col-md-2 text-center">
          <button class="btn btn-primary" type="submit" translate>Ok</button>
        </div>
        <div class="col-md-2 text-center">
          <button class="btn btn-default " (click)="cancelMultipleDays($event)" translate>location.cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
