<div class="container-fluid">
  <!-- Page title -->
  <h3>{{'profile.changePassword.title' | translate}}</h3>

  <hr>

  <!-- Explanation about the conditions for a password -->
  <div class="alert alert-info">
    <ul>
      <li>{{'profile.changePassword.conditions.li1' | translate}}</li>
      <li>{{'profile.changePassword.conditions.li2' | translate}}</li>
      <li>{{'profile.changePassword.conditions.li3' | translate}}</li>
    </ul>
  </div>

  <hr>

  <!-- Form to change password -->
  <form [formGroup]="formGroup" (ngSubmit)="submitChangePassword(formGroup.value)">

    <!-- Password -->
    <div class="row form-group">
      <label class="col-lg-3 control-label" for="password">
        {{'profile.changePassword.form.password' | translate}}</label>
      <div class="col-lg-8">
        <input class="form-control" id="password" type="password" formControlName="password" >
      </div>
    </div>

    <!-- Confirm password -->
    <div class="row form-group">
      <label class="col-lg-3 control-label" for="confirmPassword">
        {{'profile.changePassword.form.confirmPassword' | translate}}</label>
      <div class="col-lg-8">
        <input class="form-control" id="confirmPassword" type="password" formControlName="confirmPassword" >
      </div>
    </div>

    <!-- Buttons to confirm/cancel -->
    <div class="row">
      <div class="col-md-11">

        <div class="form-group pull-right">
          <!-- Save changes -->
          <button type="submit" class="btn btn-primary btn-space margin-default"
                  [disabled]="disabledSubmitButton(formGroup.value)">
            {{'profile.changePassword.form.confirmButton' | translate}}</button>

          <!-- Cancel changes -->
          <button type="button" class="btn btn-primary btn-space" (click)="cancelChangePassword()">
            {{'profile.changePassword.form.cancelButton' | translate}}</button>
        </div>

      </div>
    </div>
 </form>
</div>
