<div class="cs--cyan modal-full" fxLayout="column" fxLayoutGap="32px">
    <div fxLayout="row" fxLayoutAlign="space-between">
        <div class="modal-c-header">
            <!-- Header -->
            <ng-content select="[modal-header]" ></ng-content>
        </div>

        <div>
            <button type="button" class="close" (click)="closeModal()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div fxLayout="column nowrap" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="modal-body">
        <!-- body -->
        <ng-content select="[modal-message-before]"></ng-content>

        <ng-content select="[modal-body]" class="modal_body"></ng-content>

        <ng-content select="[modal-message-after]"></ng-content>
    </div>


    <div fxLayout="column" fxLayoutGap="10px">
        <!-- footer -->

        <ng-content select="[modal-footer]"></ng-content>
        <ng-content select="[modal-message-footer]"></ng-content>
    </div>
</div>
