<h2 translate>management.lockerreservations</h2>
<hr>
<app-searchbar [service]="lockerReservationService"
               [searchPossibilities]="searchPossibilities"
               (resultsChanged)="resultsChanged($event)"></app-searchbar>

<!-- FILTER -->
<div class="panel-group content-text mbottom-default">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" id="openFilter" data-parent="#accordion2" href="#collapse_styleguide_2"
           aria-expanded="false"
           class="collapsed" translate="">
          <i class="glyphicon glyphicon-plus"></i>
          <i class="glyphicon glyphicon-minus"></i>
          management.filter</a>
      </h4>
    </div>
    <div id="collapse_styleguide_2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
      <div class="panel-body col-md-12" style="padding: 20px;">
        <form class="form-horizontal" role="form" (ngSubmit)="applyFilter()">

          <div class="col-xs-12 row">
            <label for="select1" class="control-label" translate>management.name<span>:</span></label>
            <div class=" bootstrap-select  form-control col-md-12">
              <select class="form-control selectpicker " id="select1" tabindex="-98"
                      data-width="100%" data-selected-text-format="count > 7" multiple data-live-search="true"
                      data-size="5" data-actions-box="true" title="Naam">
                <option selected *ngFor="let l of uniqueNames" [value]="l">{{l}}</option>
              </select>
            </div>
          </div>

          <div class="col-xs-12 row"  style="padding-top: 3vh">
            <label for="select1" class="control-label" translate>management.locations<span>:</span></label>
            <div class=" bootstrap-select  form-control col-md-12">
              <select class="form-control selectpicker " id="select2" tabindex="-98"
                      data-width="100%" data-selected-text-format="count > 7" multiple data-live-search="true"
                      data-size="5" data-actions-box="true" title="Naam">
                <option selected *ngFor="let l of uniqueLocations" [value]="l">{{l}}</option>
              </select>
            </div>
          </div>

          <div class="row col-md-12" style="padding-top: 3vh">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="form-group">
                <label for="datepicker1" class="control-label" translate>management.from<span>:</span></label>
                <div class="input-group date col-xs-12" id="datetimepicker1">
                  <input type="text" class="form-control date-picker" placeholder="dd-mm-jjjj" id="datepicker1">
                  <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1"></div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="form-group">
                <label for="datepicker2" class="control-label" translate>management.until<span>:</span></label>
                <div class="input-group date col-xs-12" id="datetimepicker2">
                  <input type="text" class="form-control date-picker" placeholder="dd-mm-jjjj" id="datepicker2">
                  <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row col-md-12" style="padding-top: 3vh">
            <div class="col-md-3 col-xs-12 col-lg-7 col-sm-5"></div>
            <button class="btn btn-default col-xs-12 col-md-4 col-lg-2 col-sm-6" style="margin-right: 10px"
                    (click)="removeFilter()" translate>
              management.removeFilter
            </button>
            <button class="btn btn-default col-xs-12 col-md-4 col-lg-2 col-sm-6" type="submit" translate>
              management.apply
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div style="padding-top: 2vh; padding-bottom: 3vh" class="table-responsive col-md-12">
  <table *ngIf="results.length > 0" class="table-striped" style="width: 100%" id="resultsTable">
    <thead class="bg-info">
    <tr class="firstrow lastrow even">
      <th scope="col" translate>management.location</th>
      <th scope="col" translate>management.locker</th>
      <th scope="col" translate>management.from</th>
      <th scope="col" translate>management.until</th>
      <th scope="col" translate>management.lastName</th>
      <th scope="col" translate>management.firstName</th>
      <th scope="col" translate>management.studentid</th>
      <th class="text-center" scope="col" translate>management.keyPickedUp</th>
      <th class="text-center" scope="col" translate>management.keyBroughtBack</th>
    </tr>
    </thead>
    <tbody>
    <tr [@rowsAnimation]="" *ngFor="let lockerReservation of filteredResults.slice(lower,upper)"
        class="row_odd firstrow odd">
      <td>{{lockerReservation.locker.location}}</td>
      <td>{{lockerReservation.locker.number}}</td>
      <td>{{lockerReservation.startDate.day}}/{{lockerReservation.startDate.month}}
        /{{lockerReservation.startDate.year}}</td>
      <td>{{lockerReservation.endDate.day}}/{{lockerReservation.endDate.month}}/{{lockerReservation.endDate.year}}</td>
      <td>{{lockerReservation.owner.firstName}}</td>
      <td>{{lockerReservation.owner.lastName}}</td>
      <td>{{lockerReservation.owner.augentID}}</td>
      <td class="text-center"><span class="glyphicon" [ngClass]="(lockerReservation.keyPickedUp)?' glyphicon-ok':' glyphicon-remove'"></span></td>
      <td class="text-center"><span class="glyphicon" [ngClass]="(lockerReservation.keyBroughtBack)?' glyphicon-ok':' glyphicon-remove'"></span></td>

    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="results.length >= linesOnPage" style="position: center">
  <div class="col-md-4"></div>
  <div class="col-xs-12 col-md-4" style="position: center">
    <nav>
      <ul class="pagination">
        <li class="disabled">
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">«</span>
          </a>
        </li>
        <li [ngClass]="{'active selected': i === floor(lower/20)+1}" style="cursor: pointer"
            *ngFor="let i of numbers" (click)="newPage(i)"><a>{{i}}</a></li>
        <!-- next knop <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">»</span>
          </a>
        </li> -->
      </ul>
    </nav>
  </div>
  <div class="col-md-4"></div>
</div>
