<div class="container-fluid">
  <!-- Title -->
  <h3>{{'profile.reservations.locations.title' | translate}}</h3>

  <hr>

  <!-- Table to show the location reservations of the logged in user -->
  <div class="container-fluid row">

    <div class="container-fluid col-md-11">
      <div class="container-fluid" *ngIf="locationReservations | async as reservations">
        <table style="width: 100%" *ngIf="reservations.length > 0; else noReservations">
          <!-- Table header -->
          <thead>
          <tr>
            <th>{{'profile.reservations.locations.table.header.locationName' | translate}}</th>
            <th>{{'profile.reservations.locations.table.header.reservationDate' | translate}}</th>
            <th>{{'profile.reservations.locations.table.header.attended' | translate}}</th>
          </tr>
          </thead>

          <!-- Table body -->
          <tbody>
          <tr [@rowsAnimation]="" *ngFor="let reservation of reservations">
            <td>{{reservation.location.name}}</td>
            <td>{{toDateString(reservation.date)}}</td>

            <!-- This column should only be 'yes' or 'no' if the reservationDate is in the past,
                 otherwise it is not possible to be attended, and it might seem that penalty points will be given -->
            <td>{{compareDates(nowAsCustomDate(), reservation.date)
            < 0 ? ('profile.reservations.locations.table.attended.other' | translate) :
              reservation.attended ?
                ('profile.reservations.locations.table.attended.yes' | translate) :
                ('profile.reservations.locations.table.attended.no' | translate)}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #noReservations>
  {{'profile.reservations.locations.noReservations' | translate}}
</ng-template>
