<div class="container cs--cyan">
  <!-- HEADER -->
  <div class="row">
    <app-header></app-header>
  </div>

  <!-- CONTENT -->
  <router-outlet></router-outlet>

  <!-- FOOTER -->
  <footer class="page-footer fluid-container">
    <div class="row">
      <!-- By setting an empty div with class 'padding-20', some whitespace
           is provided above the actual footer -->
      <div class="col-xs-12 padding-20"></div>

      <div class="col-xs-12">
        <div class="bg-primary padding-20">
          <div class="mbottom-small border-bottom">
            <div class="row flexbox">
              <!-- TODO: FLEXBOX CONTENT? NO FLEXBOX CONTENT FOR NOW -->
            </div>
          </div>

          <div class="row">
            <div id="socialbanner" class="container-share col-xs-12 col-sm-4">
              <ul class="list-inline list-unstyled">
                <!-- TODO: SOCIAL BANNERS IN FOOTER? NO SOCIAL BANNERS FOR NOW -->
                <li>
                  {{ 'footer.madeBy' | translate }}
                  <a href="https://dsa.ugent.be/about"
                     title="Dienst StudentenActiviteiten">
                    {{'general.dsa' | translate}}
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-8">
              <ul class="list-inline list-unstyled pull-right" id="footeractions">
                <li id="siteaction-privacy">
                  <a href="https://www.ugent.be/en/privacy"
                     title="{{'footer.privacy' | translate}}">{{'footer.privacy' | translate}}</a>
                </li>

                <li id="siteaction-disclaimer">
                  <a href="https://www.ugent.be/ea/idlab/en/disclaimer"
                     title="{{'footer.disclaimer' | translate}}">{{'footer.disclaimer' | translate}}</a>
                </li>

                <li id="siteaction-cookies">
                  <a href="https://www.ugent.be/en/cookies"
                     title="{{'footer.cookies' | translate}}">{{'footer.cookies' | translate}}</a>
                </li>

                <li id="siteaction-accessibility">
                  <a href="https://www.ugent.be/en/accessibility/accessibility.htm"
                     title="{{'footer.accessibility' | translate}}">{{'footer.accessibility' | translate}}</a>
                </li>

                <li>
                  © 2020 {{'general.ugent' | translate}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
