/_frontend/node_modules/
/frontend/node_modules/
*.iml
.idea/
logs/
*.bak*
scripts/database/a
scripts/database/b
scritps/
*.lck
stop
start
varia/*.docx
backend/.vscode/
backend/bin/
frontend/.vscode/


# Mac-specific files
.DS_Store
backup**
.gradle/
bin/**
