HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.jpb
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Gradle ###
.gradle/
build/

src/main/resources/application-dev.yml

# Credentials
*.override.yml
/src/main/resources/keystore/**
!/src/main/resources/keystore/blokat-tests.p12
!/src/main/resources/keystore/samlKeystore-tests.jks
/src/main/resources/saml/metadata/
