<div *ngIf="locationObs | async as location; else catchAllError" class="container-fluid">
  <h3>{{('scan.locationDetails.title' | translate).replace('{locationName}', location.name)}}</h3>

  <div *ngIf="usersObs | async as users; else loadingOrError">
    <div *ngIf="users.length > 0; else noUsers">

      <div class="panel-group">
        <!--MOBILE SCANNER-->

        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" href="#phone" aria-expanded="false" class="collapsed">
              <i class="glyphicon glyphicon-plus"></i>
              <i class="glyphicon glyphicon-minus"></i>
              {{'scan.phone' | translate}}</a>
          </h3>
        </div>

        <div class="panel-collapse collapse" id="phone">
          <app-scanner *ngIf="!user" [validator]="getValidator(users)" (code)="scanUser(users, $event)"></app-scanner>

          <div *ngIf="user">
            <p>
              User: {{user.firstName}} {{user.lastName}}
            </p>
            <p>
              AugentID: {{user.augentID}}
            </p>
            <div fxLayout="row">
              <button class="btn btn-default" (click)="confirm(location)">Confirm</button>
              <button class="btn btn-primary" (click)="cancel()">Cancel</button>
            </div>
          </div>

        </div>

        <div>
          <!-- Hand Scanner -->
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" href="#handheld" aria-expanded="false" class="collapsed">
                <i class="glyphicon glyphicon-plus"></i>
                <i class="glyphicon glyphicon-minus"></i>
                {{'scan.handheld' | translate}}</a>
            </h3>
          </div>
          <div class="panel-collapse collapse" id="handheld">
            <input [(ngModel)]="scanningfield" (ngModelChange)="scannedInput(users, location)" autofocus/>
          </div>
        </div>


        <div>
          <!-- Manual Scanner -->
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" href="#manual" aria-expanded="false" class="collapsed">
                <i class="glyphicon glyphicon-plus"></i>
                <i class="glyphicon glyphicon-minus"></i>
                {{'scan.manual' | translate}}</a>
            </h3>
          </div>
          <div class="panel-collapse collapse" id="manual">

          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #catchAllError>
  <div class="alert alert-error">
    {{'general.catchAllError' | translate}}
  </div>
</ng-template>

<ng-template #loadingOrError>
  <div *ngIf="loadingError | async; else loading" class="alert alert-error">
    {{'scan.locationDetails.errorMessageOnLoadingUsers' | translate}}
  </div>
  <ng-template #loading>
    <div class="alert alert-info">
      {{'general.waitingForServer' | translate}}
    </div>
  </ng-template>
</ng-template>

<ng-template #noUsers>
  <div class="alert alert-warning">
    {{'scan.locationDetails.noUsersToScanWarning' | translate}}
  </div>
</ng-template>