<div *ngIf="locationObs | async as location; else loadingOrErrorForLocation" class="container-fluid">
  <h3>{{('scan.locationDetails.title' | translate).replace('{locationName}', location.name)}}</h3>

  <div *ngIf="locationReservationObs | async as lr; else loadingOrError">
    <div *ngIf="lr.length > 0; else noUsers">

      <app-accordeon>
        <a accordion-button data-toggle="collapse" aria-controls="camera"
           aria-expanded="false" class="collapsed accordion--button">
          <i class="glyphicon glyphicon-plus"></i>
          <i class="glyphicon glyphicon-minus"></i>
          {{'scan.phone' | translate}}</a>

        <div accordion-content class="accordion--content" id="camera">

          <div *ngIf="error" style="margin-top: 15px;" class="messages messages--error">{{error | translate}}</div>
          <div *ngIf="!reservation" style="margin-top: 15px;" class="alert alert-info">{{'scan.mobile-hint' | translate}}</div>

          <app-scanner (scanSuccess)="scanUser(lr, $event)"></app-scanner>

          <div class="usertag" *ngIf="reservation" fxLayout="column" fxLayoutAlign="center center">
            <p>
              User: {{reservation.user.firstName}} {{reservation.user.lastName}}
            </p>
            <p>
              AugentID: {{reservation.user.userId}}
            </p>
            <div fxLayout="row">
              <button class="btn btn-default" (click)="confirm()">Confirm</button>
              <button class="btn btn-primary" (click)="cancel()">Cancel</button>
            </div>
          </div>

        </div>
      </app-accordeon>

    <br>

    <div class="messages messages--warning">{{"scan.warn-unattended" | translate}}</div>
    <div class="messages messages--info">{{"scan.handheld-hint" | translate}}</div>

    <app-location-reservations [currentTimeSlot]="location.currentTimeslot" [locationReservations]="lr"
      [lastScanned]="lastScanned" [isManagement]="false">
    </app-location-reservations>
  </div>
</div>

</div>

<ng-template #loadingOrError>
  <div *ngIf="loadingError | async; else loading" class="messages messages--error">
    {{'scan.locationDetails.errorMessageOnLoadingUsers' | translate}}
  </div>
  <ng-template #loading>
    <div class="messages messages--info">
      {{'general.waitingForServer' | translate}}
    </div>
  </ng-template>
</ng-template>

<ng-template #loadingOrErrorForLocation>
  <div *ngIf="locationLoadingSubject | async; else loading" class="messages messages--error">
    {{'scan.locationDetails.errorMessageOnLoadingLocation' | translate}}
  </div>

  <ng-template #loading>
    <div class="messages messages--info">
      {{'general.waitingForServer' | translate}}
    </div>
  </ng-template>
</ng-template>

<ng-template #noUsers>
  <div class="messages messages--warning">
    {{'scan.locationDetails.noUsersToScanWarning' | translate}}
  </div>
</ng-template>