<div class="panel-group" *ngIf="volunteerObs | async as volunteers; else loadingOrError">
    <!-- Heading -->
    <app-accordeon>

        <div class="panel-heading" class="accordion--button" data-toggle="collapse"
            attr.aria-controls="accordion--{{location.id}}" [attr.aria-expanded]="!collapsed" accordion-button>
            <h3 class="panel-title">
                <a>
                    <i class="glyphicon glyphicon-plus"></i>
                    <i class="glyphicon glyphicon-minus"></i>
                    {{('management.locationDetails.title' | translate).replace('{locationName}',
                    location.name)}}
                    <span style="float: right">
                        {{volunteers.length}} {{('management.aside.volunteers' | translate).toLowerCase()}}
                    </span>
                </a>
            </h3>
        </div>

        <!-- Body -->
        <div class="panel-collapse accordion--content " [class.collapse]="collapsed" id="accordion--{{location.id}}"
            accordion-content>
            <div class="panel-body responsive-table fullwidth" style="padding: 20px">
                <div class="table-wrapper fullwidth">
                    <table class="fullwidth" *ngIf="!showEmpty(volunteers)">
                        <thead>
                            <tr>
                                <th scope="col">{{'management.users.searchResult.table.id' | translate}}</th>
                                <th scope="col">{{'management.users.searchResult.table.firstName' | translate}}</th>
                                <th scope="col">{{'management.users.searchResult.table.lastName' | translate}}</th>
                                <th scope="col">{{'management.users.searchResult.table.institution' | translate}}</th>
                                <th scope='col'>
                                    <!-- Details -->
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let user of volunteers">
                                <td>{{user.userId}}</td>
                                <td>{{user.firstName}}</td>
                                <td>{{user.lastName}}</td>
                                <td>{{user.institution}}</td>
                                <td class="hover" style="padding-left: 10px; padding-right: 10px; padding-top: 10px">
                                    <span (click)="deleteVolunteer(user)">
                                        <i class="icon-cross" aria-hidden="true"></i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div *ngIf="showEmpty(volunteers)">
                        <div class="messages messages--warning">
                            {{'management.volunteers.no-volunteers' | translate}}
                        </div>
                    </div>

                    <button class='button button-primary'
                        (click)="showAdd(confirm)">{{'management.volunteers.addNewButton' |
                        translate}}</button>
                </div>
            </div>
        </div>
    </app-accordeon>
</div>

<ng-template #confirm>
    <h1>
        {{'management.volunteers.addNewHeader' | translate}}
    </h1>
    <div class="modal-body text-center">
        <!-- Form to filter users by
          - first name
          - last name
          - barcode
   -->
        <div class=" highlight loupe highlight--left">
            <div class="highlight__inner">
                <div class="">
                    <form [formGroup]="formGroup" (ngSubmit)="submitSearch(formGroup.value)">
                        <!-- First Name -->
                        <div class="row form-group">
                            <label class="col-lg-3 control-label" for="firstName">
                                {{'management.users.overview.firstName' | translate}}
                            </label>
                            <div class="col-lg-8">
                                <input class="form-control" id="firstName" type="text" formControlName="firstName">
                            </div>
                        </div>

                        <!-- Last Name -->
                        <div class="row form-group">
                            <label class="col-lg-3 control-label" for="lastName">
                                {{'management.users.overview.lastName' | translate}}
                            </label>
                            <div class="col-lg-8">
                                <input class="form-control" id="lastName" type="text" formControlName="lastName">
                            </div>
                        </div>

                        <!-- Search and Cancel buttons -->
                        <div class="row">
                            <div class="col-md-11">

                                <div class="pull-right">
                                    <!-- Search -->
                                    <button type="submit" class="button button-primary btn-left"
                                        [disabled]="!enableSearchButton(formGroup.value)">
                                        {{'management.users.overview.filterSearchButton' | translate}}
                                    </button>

                                    <!-- Clear input -->
                                    <button type="button" class="button button-secondary" (click)="clearFilterInput()"
                                        [disabled]="!enableClearButton(formGroup.value)">
                                        {{'management.users.overview.filterClearButton' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="responsive-table fullwidth">
            <div class="table-wrapper fullwidth">


                <table style="width: 100%" *ngIf="neverSearched != true">
                    <thead>
                        <tr>
                            <th scope="col">{{'management.users.searchResult.table.id' | translate}}</th>
                            <th scope="col">{{'management.users.searchResult.table.firstName' | translate}}</th>
                            <th scope="col">{{'management.users.searchResult.table.lastName' | translate}}</th>
                            <th scope="col">{{'management.users.searchResult.table.institution' | translate}}</th>
                            <th scope="col">
                                <!-- Details -->
                            </th>
                        </tr>
                    </thead>

                    <tbody *ngIf="filteredUsers | async as users">
                        <tr *ngFor="let user of users" class="text-left">
                            <td>{{user.userId}}</td>
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.institution}}</td>
                            <td class="hover" style="padding-left: 10px; padding-right: 10px; padding-top: 10px">
                                <span (click)="addVolunteer(user)">
                                    <i class="icon-plus" aria-hidden="true"></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div *ngIf="neverSearched == true" class="alert alert-info">
            {{'management.users.searchResult.neverSearched' | translate}}
        </div>

    </div>
</ng-template>

<ng-template #loadingOrError>
    <div class="alert alert-error" *ngIf="errorSubject | async; else loading">
        {{'management.volunteers.errorOnLoadingVolunteers' | translate}}
    </div>

    <ng-template #loading>
        <div class="alert alert-info" style="margin-top: 10px;">
            {{'general.waitingForServer' | translate}}
        </div>
    </ng-template>
</ng-template>