<div class="container-fluid responsive-table fullsize">
  <div class="table-wrapped fullsize">
    <table class="table table-striped" style="table-layout: fixed; width: 100%">
      <thead> <!-- Table header -->
        <tr>
          <th *ngFor="let column of this.tabularData.columns; let i = index" scope="col" style="width: {{ column.width }}%">
            {{ column.columnHeader }}
          </th>

        </tr>
      </thead>



      <tbody>
        <tr *ngFor="let dataPoint of tabularData.data">
          <td style="padding-right: 5em;" *ngFor="let column of tabularData.columns; let i = index">
            <ng-template *ngIf="column.type === 'contentColumn'" [ngTemplateOutlet]="contentColumn" [ngTemplateOutletContext]="{ column: column, dataPoint: dataPoint, i: index }">
            </ng-template>

            <ng-template *ngIf="column.type === 'actionColumn'" [ngTemplateOutlet]="actionColumn" [ngTemplateOutletContext]="{ column: column, dataPoint: dataPoint, i: index }">
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<ng-template #contentColumn let-column="column" let-data="dataPoint">
  {{ column.columnContent(data) }}
</ng-template>

<ng-template #actionColumn let-column="column" let-data="dataPoint" let-index="i">
  <ng-container *ngIf="column.columnContent(data) as action">
    <div class="action" (click)="onAction(index, data)" *ngIf="action.actionType === 'string'">
      {{ action.actionContent }}
    </div>

    <div class="action" (click)="onAction(index, data)" *ngIf="action.actionType === 'icon'">
      <i class="icon-{{action.actionContent}}" aria-hidden="true"></i>
    </div>
  </ng-container>
</ng-template>
