<div class="container-fluid">
        <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="center">
                <p>{{'navigation.profileInfo' | translate}}</p>
                <a routerLink="/profile/overview" class="read-more standalone-link"
                        title="Link to profile and QR-Code">
                        {{'navigation.profile' | translate}}
                </a>
        </div>
        <br/>
        <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="center">
                <p>{{'navigation.dashboardInfo' | translate}}</p>
                <a routerLink="/dashboard" class="read-more standalone-link" 
                        title="dashboard" >
                        {{'navigation.dashboard' | translate}}
                </a><br/>
        </div>
        <br/>
        <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="center">
                <p>{{'navigation.informationInfo' | translate}}</p>
                <a routerLink="/information" class="read-more standalone-link" 
                        title="help" *ngIf="showManagement || showAdmin">
                        {{'navigation.information' | translate}}
                </a>
        </div>
        <br/>
        <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="center">
                <p>{{'navigation.scanInfo' | translate}}</p>
                <a routerLink="/scan/locations" class="read-more standalone-link" 
                        title="{{'navigation.scan' | translate}}" *ngIf="showSupervisors || showManagement || showAdmin">
                        {{'navigation.scan' | translate}}
                </a>
        </div>

        <br/>
        <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="center">
                <p>{{'navigation.managementInfo' | translate}}</p>
                <a routerLink="/management/locations" class="read-more standalone-link" 
                        title="Link to management page" *ngIf="showManagement || showAdmin">
                        {{'navigation.management' | translate}}
                </a>
        </div>
</div>
