<div class="container-fluid">
  <!-- Title -->
  <h3>{{'management.authorities.title' | translate}}</h3>

  <hr>

  <!-- Table with all existing authorities -->
  <div *ngIf="authoritiesObs | async as authorities" class="responsive-table fullwidth">
    <div class="table-wrapper">
      <table style="width: 100%;" *ngIf="authorities.length > 0; else noAuthorities">
        <thead>
          <tr>
            <th scope="col">{{'management.authorities.table.authorityName' | translate}}</th>
            <th scope="col">{{'management.authorities.table.description' | translate}}</th>
            <th scope="col">
              <!-- user management -->
            </th>
            <th scope="col">
              <!-- update -->
            </th>
            <th scope="col">
              <!-- delete -->
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let authority of authorities">
            <td>{{authority.authorityName}}</td>
            <td>{{authority.description}}</td>
            <!-- User glyphicon -->
            <td class="hover" style="padding-left: 10px; padding-right: 10px; padding-top: 10px">
              <span class="pointerCursor" [routerLink]="'./' + authority.authorityId"
                (click)="setAuthorityToManage(authority)">
                <i class="icon-user" aria-hidden="true"></i>
              </span>
            </td>
            <!-- Update glyphicon -->
            <td class="hover" style="padding-left: 10px; padding-right: 10px; padding-top: 10px"
              (click)="prepareUpdate(authority, updateAuthorityModal)">
              <span class="glyphicon glyphicon-pencil pointerCursor">
                <i class="icon-document" aria-hidden="true"></i>
              </span>
            </td>
            <!-- Delete glyphicon -->
            <td class="hover" style="padding-left: 10px; padding-right: 10px; padding-top: 10px"
              (click)="prepareToDelete(authority, deleteAuthorityModal)">
              <span class="pointerCursor">
                <i class="icon-cross" aria-hidden="true"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row" style="margin-top: 20px">
      <button class="button button-primary" data-toggle="modal" (click)="prepareAdd(addAuthorityModal)">
        {{'management.authorities.addNewAuthority' | translate}}
      </button>
    </div>
  </div>

  <div class="row">
    <div class="alert alert-error" *ngIf="successGettingAuthorities === false">
      {{'management.authorities.errorOnRetrievingAuthorities' | translate}}
    </div>

    <div class="alert alert-info" *ngIf="successGettingAuthorities === null">
      {{'general.waitingForServer' | translate}}
    </div>
  </div>
</div>

<ng-template #noAuthorities>
  <div class="alert alert-info">
    {{'management.general.noAuthorities' | translate}}
  </div>
</ng-template>

<!-- Modal view to add a new authority -->
<ng-template #addAuthorityModal>
  <!-- Modal header -->
  <div fxLayout="row" fxLayoutAlign="space-between">
    <h1 class="modal-title" id="addAuthorityModalTitle">
      {{'management.authorities.addAuthorityModal.title' | translate}}
    </h1>
    <div>
      <button type="button" class="close" (click)="closeModal()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
    <form [formGroup]="authorityFormGroup">
      <!-- Name of the authority -->
      <div class="row form-group">
        <label class="col-lg-3 control-label" for="authorityNameAdd">
          {{'management.authorities.table.authorityName' | translate}}<span
            style="color: red; margin-left: 5px;">*</span>
        </label>
        <div class="col-lg-8">
          <input class="form-control" id="authorityNameAdd" type="text" formControlName="authorityName">
        </div>
      </div>

      <!-- Description of the authority -->
      <div class="row form-group">
        <label class="col-lg-3 control-label" for="descriptionAdd">
          {{'management.authorities.table.description' | translate}}<span style="color: red; margin-left: 5px;">*</span>
        </label>
        <div class="col-lg-8">
          <input class="form-control" id="descriptionAdd" type="text" formControlName="description">
        </div>
      </div>
    </form>
  </div>

  <!-- Modal footer -->
  <div class="modal-footer">
    <button type="submit" class="button button-primary" [disabled]="!validTagFormGroup()" (click)="addAuthority()">
      {{'general.buttons.add' | translate}}
    </button>
    <button type="button" class="button button-secondary" (click)="closeModal()">
      {{'general.buttons.close' | translate}}
    </button>
  </div>

  <!-- Feedback to the user -->
  <div class="container-fluid">
    <div class="alert alert-info" *ngIf="successAddingAuthority === null">
      {{'general.waitingForServer' | translate}}
    </div>

    <div class="alert alert-success" *ngIf="successAddingAuthority === true">
      {{'management.authorities.addAuthorityModal.success' | translate}}
    </div>

    <div class="alert alert-error" *ngIf="successAddingAuthority === false">
      {{'management.authorities.addAuthorityModal.error' | translate}}
    </div>
  </div>
</ng-template>

<!-- Modal view to update an authority -->
<ng-template #updateAuthorityModal>
  <!-- Modal header -->
  <div fxLayout="row" fxLayoutAlign="space-between">
    <h1 class="modal-title" id="updateAuthorityModalTitle">
      {{'management.authorities.updateAuthorityModal.title' | translate}}
    </h1>
    <div>
      <button type="button" class="close" (click)="closeModal()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
    <form [formGroup]="authorityFormGroup">
      <!-- Name of the authority -->
      <div class="row form-group">
        <label class="col-lg-3 control-label" for="authorityNameUpdate">
          {{'management.authorities.table.authorityName' | translate}}<span
            style="color: red; margin-left: 5px;">*</span>
        </label>
        <div class="col-lg-8">
          <input class="form-control" id="authorityNameUpdate" type="text" formControlName="authorityName">
        </div>
      </div>

      <!-- Description of the authority -->
      <div class="row form-group">
        <label class="col-lg-3 control-label" for="descriptionUpdate">
          {{'management.authorities.table.description' | translate}}<span style="color: red; margin-left: 5px;">*</span>
        </label>
        <div class="col-lg-8">
          <input class="form-control" id="descriptionUpdate" type="text" formControlName="description">
        </div>
      </div>
    </form>
  </div>

  <!-- Modal footer -->
  <div class="modal-footer">
    <button type="submit" class="button button-primary" [disabled]="!validTagFormGroup()"
      (click)="updateTagInFormGroup()">
      {{'general.buttons.update' | translate}}
    </button>
    <button type="button" class="button button-secondary" (click)="closeModal()">
      {{'general.buttons.close' | translate}}
    </button>
  </div>

  <!-- Feedback to the user -->
  <div class="container-fluid">
    <div class="alert alert-info" *ngIf="successUpdatingAuthority === null">
      {{'general.waitingForServer' | translate}}
    </div>

    <div class="alert alert-success" *ngIf="successUpdatingAuthority === true">
      {{'management.authorities.updateAuthorityModal.success' | translate}}
    </div>

    <div class="alert alert-error" *ngIf="successUpdatingAuthority === false">
      {{'management.authorities.updateAuthorityModal.error' | translate}}
    </div>
  </div>
</ng-template>

<!-- Modal view to ask whether the user is sure to delete an authority -->
<ng-template #deleteAuthorityModal>
  <!-- Header -->
  <div class="modal-header">
    <h5 class="modal-title" id="deleteAuthorityModalTitle">
      {{'management.authorities.deleteAuthorityModal.title' | translate}}
    </h5>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- Body -->
  <div class="modal-body">
    <div>
      <b>{{'management.authorities.deleteAuthorityModal.body' | translate}}</b>

      <div class="alert alert-danger" style="margin-top: 10px; margin-bottom: 10px;">
        {{'management.authorities.deleteAuthorityModal.warning' | translate}}
      </div>

      <ul>
        <li><b style="margin-right: 5px"><i>{{('management.authorities.table.authorityName' | translate) + ':
              '}}</i></b>{{authorityName.value}}</li>
        <li><b style="margin-right: 5px"><i>{{('management.authorities.table.description' |
              translate)}}</i></b>{{description.value}}</li>
      </ul>
    </div>
  </div>

  <!-- Footer -->
  <div class="modal-footer">
    <button type="button" class="button button-alert" (click)="deleteTagInFormGroup()">
      {{'general.buttons.delete' | translate}}
    </button>
    <button type="button" class="button button-secondary" (click)="closeModal()">
      {{'general.buttons.cancel' | translate}}
    </button>
  </div>

  <div class="container-fluid">
    <div class="alert alert-info" *ngIf="successDeletingAuthority === null">
      {{'general.waitingForServer' | translate}}
    </div>

    <div class="alert alert-success" *ngIf="successDeletingAuthority === true">
      {{'management.authorities.deleteAuthorityModal.success' | translate}}
    </div>

    <div class="alert alert-error" *ngIf="successDeletingAuthority === false">
      {{'management.authorities.deleteAuthorityModal.error' | translate}}
    </div>
  </div>
</ng-template>