<div class="container-fluid responsive-table fullsize">
  <div class="table-wrapped fullsize" *ngIf="locationObs | async as locations; else loadingOrError">
    <table *ngIf="locations.length > 0; else noLocations" class="table table-striped"
      style="table-layout: fixed; width: 100%;">
      <!-- Table header -->
      <thead>
        <tr>
          <th scope="col" style="width: 50%">{{'scan.locations.header.name' | translate}}</th>
          <th scope='col' style="width: 30%">{{'scan.locations.header.building' | translate}}</th>
          <th scope='col' style="width: 10%">{{'scan.locations.header.numberOfSeats' | translate}}</th>
          <th scope="col" style="width: 10%">{{'scan.locations.header.scan' | translate}}</th>
        </tr>
      </thead>

      <!-- Table body -->
      <tbody>
        <tr *ngFor="let location of locations">
          <td style="padding-right: 5em;">{{location.name}}</td>
          <td style="padding-right: 5em;">{{location.building.name}}</td>
          <td>{{location.numberOfSeats}}</td>
          <td class="hover" style="padding-left: 10px; padding-right: 10px; padding-top: 10px">

            <div *ngIf="isScannable(location); then scannableTemplate else notScannableTemplate">
            </div>

            <ng-template #scannableTemplate>
              <span routerLink="./{{location.locationId}}">
                <i class="icon-hamburger" aria-hidden="true"></i>
              </span>
            </ng-template>

            <ng-template #notScannableTemplate>
              <div>
                {{'scan.locations.empty' | translate}}
              </div>
            </ng-template>


          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #loadingOrError>
  <div *ngIf="loadingError | async; else loading" class="messages messages--error">
    {{'scan.locations.errorMessageOnLoadingLocations' | translate}}
  </div>
  <ng-template #loading>
    <div class="messages messages--info">
      {{'general.waitingForServer' | translate}}
    </div>
  </ng-template>
</ng-template>

<ng-template #noLocations>
  <div class="messages messages--warning">
    {{'scan.locations.noLocationsWarning' | translate}}
  </div>
</ng-template>