<article class="content">
    <h2 *ngIf="isProfile">{{"header.navigation.profile" | translate }}</h2>
    <section *ngIf="isProfile" class="profile">
        <span class="avatar">{{user.firstName[0]}}</span>
        <div class="profile-info">
            <span>{{user.firstName + ' ' + user.lastName}}</span>
            <a routerLink="/profile" (click)="close()" class="button button-primary button-small">
                {{"header.navigation.profile" | translate }} </a>
        </div>
    </section>

    <section *ngIf="!isProfile">
        <h2>{{"header.navigation.general" | translate}}</h2>
        <ul class="links">
            <li><a (click)="close()" routerLink="/">{{"header.navigation.dashboard" | translate }}</a></li>
            <li><a (click)="close()" routerLink="/information">{{"header.navigation.information" | translate }}</a></li>
        </ul>
    </section>

    <section *ngIf="!isProfile && showLoggedIn">
        <h2>{{"header.navigation.management" | translate}}</h2>
        <ul class="links">
            <li><a (click)="close()" *ngIf="showAdmin || showManagement" routerLink="/management">{{'header.navigation.management' | translate }}</a></li>
            <li><a (click)="close()" *ngIf="showAdmin || showVolunteer" routerLink='/scan'>{{'header.navigation.scan' | translate }}</a></li>
        </ul>
    </section>
    
    <footer *ngIf="isProfile">
        <a (click)='showLoggedIn && logout()' class="button button-small button-secondary">
            {{"header.logOut" | translate}} </a>
    </footer>
</article>

