<div class="fluid-container">
  <div class="row">
    <header class="pageheader col-xs-12 ">
      <nav class="navbar navbar-default">
        <div class="row">
          <div class="navbar-header col-xs-12 col-sm-2">
            <div class="page-logo">
              <a href="https://www.ugent.be/nl" class="link" title="Home UGent">
                <img class="th-nl" src="assets/images/logo_ugent_{{iso}}.svg" alt="{{ 'menu.alt' | translate }}">
              </a>
            </div>

            <a class="toggle-search"><i class="glyphicon glyphicon-search"></i><span>ZOEK</span></a>
            <a class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true"
               aria-controls="navbar" role="button">
              <span class="">MENU</span>
              <div class="block">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </div>
            </a>
          </div>
          <div id="navbar" class="navbar-collapse col-sm-10 collapse in" role="navigation" aria-expanded="true"
               style="">
            <div class="row menu">
              <div class="col-xs-12">
                <div class="bg-primary spacer">
                  <div class="row">
                    <div class="col-xs-12">
                      <ul class="nav-tertiary nav navbar-nav navbar-right">

                        <li id="logOut" class="last-child" *ngIf="this.authenticationService.getCurrentUser() !== null">
                          <a title="Log uit" routerLink="{{urls.login}}"  (click)="authenticationService.logout()" translate>menu.logout</a>
                        </li>
                        <li lang="en" xml:lang="en">
                          <a href="" (click)="useLanguage($event)" translate>menu.differentLanguage</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row menu">
              <div class="col-xs-12">
                <ul class="nav-primary nav navbar-nav main-top-nav">
                  <li id="dashboard" *ngIf="authenticationService.getCurrentUser() !== null">
                    <a routerLink="/dashboard" routerLinkActive="nav-active">
                      <span>Dashboard</span>
                    </a>
                  </li>
                  <li id="profile" *ngIf="this.authenticationService.getCurrentUser() !== null">
                    <a routerLink="/profile" routerLinkActive="nav-active">
                      <span translate>menu.profile</span>
                    </a>
                  </li>
                  <li id="scan" *ngIf="this.authenticationService.getCurrentUser() !== null
                          && ( this.authenticationService.getCurrentUser().roles.includes(roles.employee)
                          || authenticationService.getCurrentUser().roles.includes(roles.admin) )">
                    <a routerLink="/scan" routerLinkActive="nav-active">
                      <span>Scan</span>
                    </a>
                  </li>
                  <li id="management" *ngIf="this.authenticationService.getCurrentUser() !== null
                          &&  ( this.authenticationService.getCurrentUser().roles.includes(roles.employee) ||
                  authenticationService.getCurrentUser().roles.includes(roles.admin)) ">
                    <a routerLink="/management" routerLinkActive="nav-active">
                      <span translate>menu.management</span>
                    </a>
                  </li>
                  <li id="login" *ngIf="this.authenticationService.getCurrentUser() === null">
                    <a routerLink="/login" routerLinkActive="nav-active">
                      <span translate>loginAndRegister.login</span>
                    </a>
                  </li>
                  <li id="information" routerLinkActive="nav-active">
                    <a routerLink="/information">
                      <span translate>menu.information</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-2 branding-container faculty-1">
          <a routerLink="dashboard">
            <h1>
              Blok@UGent
            </h1>
          </a>
        </div>
      </div>
    </header>
  </div>
</div>

<div class="fluid-container">
  <router-outlet></router-outlet>
</div>


<footer class="page-footer fluid-container" style="padding-top: 5vh;">
  <div class="row">
    <div class="col-xs-12">
      <div class="bg-primary padding-20">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <ul class="list-inline list-unstyled pull-left">
              <li translate>
                menu.version
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-8">
            <ul class="list-inline list-unstyled pull-right">
              <li>
                <a href="mailto:your-feedback-address@UGent.be" translate> menu.feedback</a>
              </li>
              <li>
                <a href="#" translate >menu.disclaimer</a>
              </li>
              <li>
                <a href="https://www.ugent.be/nl/cookies" translate >menu.cookies</a>
              </li>
              <li>
                &copy;<span translate>menu.copy</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
