<ng-container>
    <!-- Title -->
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h3 class="m-0">
            {{ 'management.faq.title' | translate }}
        </h3>
        <div class="d-flex gap-3">
            <button class="button button-secondary" (click)="showCategoriesModal()">
                {{'management.faq.categories.title' | translate}}
            </button>
            <button class="button button-primary" (click)="prepareAdd()">
                {{'management.faq.addNew' | translate}}
            </button>
        </div>
    </div>

    <!-- List -->
    <app-management-table
        [data]="$faqItems | async"
        [actions]="getTableActions()"
        [mapper]="getTableMapper()">
    </app-management-table>

    <!-- Modal view to add a new item -->
    <app-modal #modify>
        <h2 modal-header>
            {{'management.faq.modifyModal.title' | translate}}
        </h2>

        <!-- Modal body -->
        <div modal-body>
            <form [formGroup]="formGroup" *ngIf="formGroup">
                <!-- FAQ title -->
                <ng-container formGroupName="title">
                    <div class="row" formGroupName="translations">
                        <div class="col">
                            <label for="titleNl">
                                {{'management.faq.modifyModal.form.titleNl' | translate}}
                                <input class="form-control" id="titleNl" type="text" formControlName="nl" required>
                            </label>
                        </div>
                        <div class="col">
                            <label for="titleEn">
                                {{'management.faq.modifyModal.form.titleEn' | translate}}
                                <input class="form-control" id="titleEn" type="text" formControlName="en" required>
                            </label>
                        </div>
                    </div>
                </ng-container>

                <!-- FAQ content -->
                <ng-container formGroupName="content">
                    <div class="row gap-3" formGroupName="translations">
                        <div class="col-12">
                            <label for="contentNl">
                                {{'management.faq.modifyModal.form.contentNl' | translate}}
                                <ckeditor id="contentNl" formControlName="nl" [editor]="editor" required></ckeditor>
                            </label>
                        </div>
                        <div class="col-12">
                            <label for="contentEn">
                                {{'management.faq.modifyModal.form.contentEn' | translate}}
                                <ckeditor id="contentEn" formControlName="en" [editor]="editor" required></ckeditor>
                            </label>
                        </div>
                    </div>
                </ng-container>

                <!-- FAQ category -->
                <div class="row" *ngIf="$faqCategories | async as categories">
                    <div class="col">
                        <label for="category">
                            {{'management.faq.modifyModal.form.category' | translate}}
                            <select class="form-control" id="category" formControlName="category">
                                <!-- Display empty select for safari -->
                                <option style="display:none" disabled selected value=""></option>
                                <option *ngFor="let category of categories" [value]="category.id">
                                    {{category.name.translations[translateService.currentLang] }}
                                </option>
                            </select>
                        </label>
                    </div>
                </div>

                <!-- FAQ is pinned -->
                <div class="row">
                    <div class="col">
                        <label for="isPinned">
                            <input type="checkbox" class="form-control" id="isPinned" formControlName="isPinned">
                            {{'management.faq.modifyModal.form.isPinned' | translate}}
                        </label>
                    </div>
                </div>
            </form>
        </div>

        <!-- Modal footer -->
        <div modal-footer>
            <ng-container *ngIf="selectedSub$ | async as item; else addButton">
                <button type="submit" class="button button-primary" [disabled]="!formGroup.valid" (click)="update(item)">
                    {{'management.faq.modifyModal.addButton' | translate}}
                </button>
            </ng-container>
            <ng-template #addButton>
                <button type="submit" class="button button-primary" [disabled]="!formGroup.valid" (click)="store()">
                    {{'management.faq.modifyModal.addButton' | translate}}
                </button>
            </ng-template>
            <button type="button" class="button button-secondary" (click)="closeModal(modify)">
                {{'management.faq.modifyModal.cancelButton' | translate}}
            </button>
        </div>

        <!-- Feedback to the user -->
        <div modal-message-footer>
            <div class="messages messages--info" *ngIf="(isSuccess | async) === undefined">
                <i class="icon-info" aria-hidden="true"></i>
                {{'management.faq.modifyModal.loading' | translate}}
            </div>
            <div class="messages messages--success" *ngIf="(isSuccess | async) === true">
                <i class="icon-checkmark" aria-hidden="true"></i>
                {{'management.faq.modifyModal.success' | translate}}
            </div>
            <div class="messages messages--warning" *ngIf="(isSuccess | async) === false">
                <i class="icon-exclamation" aria-hidden="true"></i>
                {{'management.faq.modifyModal.error' | translate}} <ng-container *ngIf="feedbackMessage | async as message">({{ message }})</ng-container>.
            </div>
        </div>
    </app-modal>

    <!-- Modal view to ask whether the user is sure to delete a location -->
    <app-modal #remove>
        <!-- Header -->
        <h2 modal-header>
            {{'management.faq.removeModal.title' | translate}}
        </h2>

        <!-- Body -->
        <div *ngIf="selectedSub$ | async as selected"  modal-body>
            <div>
                <p>
                    {{ ('management.faq.removeModal.body' | translate).replace('{faqTitle}', selected.title.translations[translateService.currentLang]) }}
                </p>
            </div>
        </div>

        <!-- Footer -->
        <div *ngIf="selectedSub$ | async as selected"  modal-footer>
            <button type="button" class="button button-primary" *ngIf="selectedSub$ | async as selected" (click)="delete(selected)">
                {{'management.faq.removeModal.yesButton' | translate}}
            </button>
            <button type="button" class="button button-secondary" (click)="closeModal(remove)">
                {{'management.faq.removeModal.noButton' | translate}}
            </button>
        </div>

        <div modal-message-footer>
            <div class="messages messages--info" *ngIf="(isSuccess | async) === undefined">
                <i class="icon-info" aria-hidden="true"></i>
                {{'management.faq.removeModal.loading' | translate}}
            </div>

            <div class="messages messages--success" *ngIf="(isSuccess | async) === true">
                <i class="icon-checkmark" aria-hidden="true"></i>
                {{'management.faq.removeModal.success' | translate}}
            </div>

            <div class="messages messages--warning" *ngIf="(isSuccess | async) === false">
                <i class="icon-exclamation" aria-hidden="true"></i>
                {{'management.locations.deleteLocationModal.error' | translate}} <ng-container *ngIf="feedbackMessage | async as message">({{ message }})</ng-container>.
            </div>
        </div>
    </app-modal>

    <app-modal #categoriesModal>
        <h2 modal-header>
            {{'management.faq.categories.title' | translate}}
        </h2>

        <div *ngIf="$faqCategories | async as categories" modal-body>
            <app-categories-management
                (categoriesChange)="refresh$.next()"
                [categories]="categories">
            </app-categories-management>
        </div>
    </app-modal>
</ng-container>
