<div class="fluid-container">
  <div class="col-xs-12 mb-3 mbottom-default">
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
    <div class="row main">
      <div class="clearfix bg-tertiary">
        <div class="col-xs-12 col-sm-4 p-5">
          <h2>{{'login.title' | translate}}</h2>

          <a href="{{casFlowTriggerUrl}}" class="btn btn-secondary"
                  (click)="loginButtonClicked()">
            {{'login.casLogin' | translate}}
          </a>
          <br>
          <br>
          <a href="{{hoGentFlowTriggerUrl}}" class="btn btn-secondary"
             (click)="loginButtonClicked()">
            {{'login.hoGentLogin' | translate}}
          </a>
          <br>
          <br>
          <a href="{{arteveldeHSFlowTriggerUrl}}" class="btn btn-secondary"
             (click)="loginButtonClicked()">
            {{'login.arteveldeHSLogin' | translate}}
          </a>
          <br>
          <br>
          <a href="{{oktaFlowTriggerUrl}}" class="btn btn-secondary"
             (click)="loginButtonClicked()">
            Okta Login
          </a>
        </div>
        <div class="col-xs-12 col-sm-8" id="image-container" style="background-image: url(assets/images/welcome/welcome.jpg)">
          <div id="display">
            <h1>{{'login.appTitle' | translate}}</h1>
            <h2>{{'login.about' | translate}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
