<div class="fluid-container">
  <div class="col-xs-12 mb-3 mbottom-default">
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
    <div class="main">
      <div class="clearfix bg-tertiary">
        <div class="p-5">
          <h2>{{'login.title' | translate}}</h2>

          <a href="{{casFlowTriggerUrl}}?callbackUrl={{getCallbackUrl()}}" class="btn btn-secondary"
                  (click)="loginButtonClicked()">
            {{'login.casLogin' | translate}}
          </a>
          <br>
          <br>
          <a href="{{hoGentFlowTriggerUrl}}?callbackUrl={{getCallbackUrl()}}" class="btn btn-secondary"
             (click)="loginButtonClicked()">
            {{'login.hoGentLogin' | translate}}
          </a>
          <br>
          <br>
          <a href="{{arteveldeHSFlowTriggerUrl}}?callbackUrl={{getCallbackUrl()}}" class="btn btn-secondary"
             (click)="loginButtonClicked()">
            {{'login.arteveldeHSLogin' | translate}}
          </a>
          <br>
          <br>
          <a href="{{odiseeFlowTriggerUrl}}?callbackUrl={{getCallbackUrl()}}" class="btn btn-secondary"
             (click)="loginButtonClicked()">
            {{'login.odiseeLogin' | translate}}
          </a>
          <br>
          <br>
          <a href="{{lucaFlowTriggerUrl}}?callbackUrl={{getCallbackUrl()}}" class="btn btn-secondary"
             (click)="loginButtonClicked()">
            {{'login.lucaLogin' | translate}}
          </a>
          <br>
          <br>
          <a href="{{stadGentFlowTriggerUrl}}?callbackUrl={{getCallbackUrl()}}" class="btn btn-secondary"
          (click)="loginButtonClicked()">
         {{'login.stadGentLogin' | translate}}
       </a>
       <br>
          <br>
          <a href="{{kulFlowTriggerUrl}}?callbackUrl={{getCallbackUrl()}}" class="btn btn-secondary"
          (click)="loginButtonClicked()">
         {{'login.kuLeuvenLogin' | translate}}
       </a>
      <br>
       <br>
       <a href="{{otherFlowTriggerUrl}}?callbackURL={{getCallbackUrl()}}" class="btn btn-secondary"
       (click)="loginButtonClicked()">
      {{'login.otherLogin' | translate}}
    </a>


        </div>
        <div class="col-xs-12 col-sm-8" id="image-container" style="background-image: url(assets/images/welcome/welcome.jpg)">
          <div id="display">
            <h1>{{'login.appTitle' | translate}}</h1>
            <h2>{{'login.about' | translate}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
