#login {
  max-width: 35em;
  margin-left: auto;
  margin-right: auto;
}

.btn-secondary {
  margin-right: 5px;
}

.main h1{
  font-size:38px!important
}

.bg-tertiary{
  background-color:#e9f0fa;
  margin-bottom: 5rem;
}

.p-5 {
  padding:3rem!important
}

.btn .glyphicon:not(.timepicker-picker .btn .glyphicon){
  margin-right:6px
}

.btn-secondary:hover{
  background-color:#fff0b7
}

.linklist a, .linklist a:hover {
  color:#000!important
}

.linklist a:hover {
  border-color:#000!important
}

.mt-5 {
  margin-top:3rem!important
}

#image-container {
  min-height:400px;
  background-size:cover;
  background-position:50% 50%;
  background-repeat:no-repeat;
  position:relative
}

#display {
  position:absolute;
  bottom:-30px;
  right:45px;
  max-width:380px;
  margin-left:0;
  padding:20px;
  background-color:#009DE0;
}

@media screen and (max-width:768px) {
  #display {
    width:100%;
    bottom:0;
    right:0}

  #image-container {
    min-height:690px;
    background-position:20% 0}

  #display {
    max-width:100%
  }
}

#display h1 {
  font-size:35px;
  line-height:40px;
  color:#fff
}

#display h2 {
  line-height:30px;
  color:#fff
}
