<div>
  <h3 translate>lockerOverview.title</h3>
  <hr>
</div>

<div class="table-responsive col-md-12">
  <table class="table-striped" style="width: 100%" *ngIf="results != undefined && results.length > 0">
    <thead class="bg-info">
    <tr class="firstrow lastrow even">
      <th translate>location.location</th>
      <th>Locker</th>
      <th translate>location.from</th>
      <th translate>location.to</th>
      <th translate>locationOverview.status</th>
      <th ></th>
      <th ></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let res of results" class="row_odd firstrow odd">
      <td>{{res.locker.location}}</td>
      <td>{{res.locker.number}}</td>
      <td [translateParams]="{day:res.startDate.day, year:res.startDate.year}" [translate]="('locationOverview.'+res.startDate.month)"></td>
      <td [translateParams]="{day:res.endDate.day, year:res.endDate.year}" [translate]="('locationOverview.'+res.endDate.month)"></td>
      <td><h3 [translate]="('locationOverview.'+getStatus(res))"></h3></td>
      <td style="padding-top: 10px">
        <button *ngIf="!res.keyPickedUp" class="btn btn-default lastcolumn" (click)="displayCancel = 'block'; selectedReservation = res" translate>location.cancel</button>
      </td>
      <td style="padding-top: 10px">
        <button *ngIf="res.keyPickedUp" class="btn btn-default lastcolumn" style="visibility: hidden" translate>location.cancel</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="results === undefined || results.length === 0" translate>
    lockerOverview.noLockerReservations
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" [ngStyle]="{'display':displayCancel}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" translate>location.cancel</h2>
      </div>
      <div class="modal-body">
        <p translate>location.verifyCancel</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="displayCancel='none'" translate>location.no</button>
        <button class="btn btn-secondary" (click)="displayCancel='none'; cancelLockerReservation()" translate>location.yes</button>
      </div>
    </div>
  </div>
</div>
