<div class="panel" *ngIf="locationSub | async as location; else loading">
    <!--
     This page has four functionalities, each put into a collapsable panel-group:
       - overview of the location + possibility to edit the details of the location
       - calender to show the opening days and a form to add new/series of new opening days
       - ability to manage the description of the location
       - form to show current/next locker reservation period

     Such a panel-group consists of two parts:
       - the heading: panel-heading in which the panel-title is put
       - the collapsable body: panel-body in which a panel-body resides with the actual content of the panel-group
     -->
    <h2>
        {{('management.locationDetails.title' | translate).replace('{locationName}', location.name)}}
    </h2>
    <hr>
    <app-details-form [location]="locationSub"></app-details-form>

    <!-- Calendar with overview of opening days -->
    <h2>
        {{'management.locationDetails.calendar.title' | translate}}
    </h2>
    <hr/>

    <!-- Body -->
    <div class="panel-collapse collapse" id="calendarCollapseBody">
        <app-location-calendar [locationSub]="locationSub"></app-location-calendar>
    </div>

    <!-- Description of the location -->
    <h2>
        {{'management.locationDetails.description.title' | translate}}
    </h2>
    <hr/>

    <!-- Body -->
    <app-location-description [location]="locationSub"></app-location-description>


    <!-- Tags of the location -->
    <h2>
        {{'management.locationDetails.tags.title' | translate}}
    </h2>
    <hr/>

    <!-- Body -->
    <app-location-tags-management [location]="locationSub"></app-location-tags-management>

    <!-- Tags of the location -->
    <h2>
        {{'management.locationDetails.reminder.title' | translate}}
    </h2>
    <hr/>

    <!-- Body -->
    <app-location-reminder [location]="locationSub"></app-location-reminder>

</div>

<ng-template #loading>
    <div class="messages messages--info">
        <i class="icon-info"></i>
        {{'management.general.loading' | translate}}
    </div>
</ng-template>
