<!--
The information page is provided through Markdown because it is a static
page. If, at certain points, the page needs to be updated, markdown is easy
to use for everybody. And we dont have to change any code.
The markdown files used are provided in `assets/md/information.<lang>.md`
-->
<mat-tab-group>
  <mat-tab label="{{'information.general' | translate}}">
    <div style="padding-top: 10pt;">
      <aside class="col-sm-3 inpage-nav-container xs-hide">
        <div id="nav-anchor"></div>
        <nav role="navigation" data-lockfixed="true" class="padding-default bg-tertiary">
          <h2>Ga naar</h2>
          <ul class="linklist linklist-dark">
              <li><a href="information#FAQ">FAQ</a></li>
          </ul>
        </nav>
      </aside>
      <markdown src="assets/md/information.{{currentLanguage()}}.md"></markdown>
    </div>
  </mat-tab>
  <mat-tab label="{{'information.manager' | translate}}" *ngIf="showManagement">
    <div style="padding-top: 10pt;">
      <div markdown src="assets/md/information_manager.{{currentLanguage()}}.md"></div>
    </div>
  </mat-tab>
</mat-tab-group>


