<!--
The information page is provided through Markdown because it is a static
page. If, at certain points, the page needs to be updated, markdown is easy
to use for everybody. And we dont have to change any code.
The markdown files used are provided in `assets/md/information.<lang>.md`
-->
<mat-tab-group>
  <mat-tab label="{{'information.student' | translate}}">
    <div style="padding-top: 10pt;">
      <markdown src="assets/md/user-manuals/Handleiding-student.md"></markdown>
    </div>
  </mat-tab>
  <mat-tab label="{{'information.manager' | translate}}">
    <div style="padding-top: 10pt;">
      <markdown src="assets/md/user-manuals/Handleiding-beheer.md"></markdown>
    </div>
  </mat-tab>

</mat-tab-group>


