<div class="row mtop-default mbottom-small">
  <div class="col-xs-12 col-sm-3 ipad-col-sm3 hidden-xs">
    <div class="bg-primary full-width image-panel">
      <img class="image" src="assets\images\illustration-errorpage.png">
    </div>
  </div>
  <div class="col-xs-12 col-sm-9">
    <div class="padding-20 bg-tertiary mbottom-default">
      <h1>Onze excuses</h1>
      <h2>404 pagina</h2>
      <p>De pagina die u zonet heeft opgevraagd, bestaat niet op dit webadres.<br>
        Deze pagina werd mogelijk verplaatst, vervangen of verwijderd.</p>
    </div>
    <div class="pbottom-large mbottom-default border-bottom">
      <h3>Wat kunt u doen?</h3>

      <p>Meld het probleem aan de verantwoordelijke.</p>

      <h3>Kreeg u deze foutmelding na het klikken op een link op deze website?</h3>

      <p>Keer dan terug naar de vorige pagina: onderaan vindt u het e-mailadres van de verantwoordelijke
        medewerker. Indien u hem op de hoogte brengt van het probleem, kan hij het probleem oplossen en u
        verwijzen naar de juiste pagina. </p>

      <h3>Werd u naar deze pagina doorgestuurd via een externe website of via een zoekmachine?</h3>

      <p class="margin-none">U kunt dit melden aan het <a href="http://www.ugent.be/feedback">het portaalteam</a>.
        Wij contacteren de webmaster van die website of vragen de zoekmachine om aanpassingen te doen.</p>
    </div>

  </div>
</div>
