<div class="container-fluid" *ngIf="location | async as location">
  <!-- Title -->
  <h1>{{location.name}}</h1>

  <!-- First layer: image and general info -->
  <div class="row">
    <div class="col-md-7 col-sm-12">
      <!-- Note that if the original url of the image (received from the
           REST API) resulted in an error in the dashboard-item, the attribute
            will be replaced with a default value. -->
      <img *ngIf="location.imageUrl !== null"
           src="{{location.imageUrl}}" alt="Image of {{location.name}}"
           (error)="handleImageError(location)">
      <img *ngIf="location.imageUrl === null" [src]="altImageUrl" alt="Image of {{location.name}}">
    </div>

    <div class="col-md-5 col-sm-12">
      <!-- Number of seats, number of lockers and address -->
      <ul>
        <li>{{'dashboard.numberOfSeats' | translate}}: {{location.numberOfSeats}}</li>
        <li>{{'dashboard.numberOfLockers' | translate}}: {{location.numberOfLockers}}</li>
        <li>{{'dashboard.address' | translate}}: {{location.address}}</li>
      </ul>
    </div>
  </div>

  <hr>

  <!-- Description of the location, show the description based on the browser language -->
  <!-- A CKEditor is used, but is put in read-only mode and without a toolbar -->
  <h2>{{'dashboard.description' | translate}}</h2>

  <ckeditor [(ngModel)]="description.show"
            [editor]="editor"
            [disabled]="true" [config]="{toolbar: []}">
  </ckeditor>

  <hr>

  <!-- Calendar -->
  <div class="row">
    <app-calendar [events]="events"></app-calendar>
  </div>

  <hr>

  <!-- Google Maps Frame, based on address:
         - https://developers.google.com/maps/documentation/embed/get-started
         - https://stackoverflow.com/a/21141399/9356123

       To bypass XSS for a trusted URL:
          - https://angular.io/guide/security#xss -->
  <div class="row">
    <h1>{{'dashboard.location' | translate}}</h1>
    <iframe
      width="100%" height="450" style="border:0"
      [src]="getGoogleMapsUrl(location)" class="e2e-iframe-trusted-src col-md-12 col-sm-12" allowfullscreen>
    </iframe>
  </div>
</div>
