<div class="container-fluid" *ngIf="location | async as location">
  <!-- Title -->
  <h1>{{location.name}}</h1>

  <!-- First layer: image, general info and overview of tags -->
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <!-- Note that if the original url of the image (received from the
           REST API) resulted in an error in the dashboard-item, the attribute
            will be replaced with a default value. -->
      <div>
        <img *ngIf="location.imageUrl !== null"
            src="{{location.imageUrl}}" alt="Image of {{location.name}}"
            (error)="handleImageError(location)">
       <img *ngIf="location.imageUrl === null" [src]="altImageUrl" alt="Image of {{location.name}}">
       <div class="locationStatusBar"
             [classList]="'locationStatusBar ' + locationStatusColorClass()"></div>
      </div>

    </div>

    <div class="col-md-4 col-sm-12">
      <div class="container-fluid row">
        <div class="alert alert-info">
          {{'dashboard.locationDetails.info' | translate}}
        </div>

        <!-- Number of seats, number of lockers and address -->
        <ul>
          <li>{{'dashboard.numberOfSeats' | translate}}: {{location.numberOfSeats}}</li>
          <li>{{'dashboard.numberOfLockers' | translate}}: {{location.numberOfLockers}}</li>
          <li>{{'dashboard.building' | translate}}: {{location.building.name}}</li>
          <li>{{'dashboard.address' | translate}}: {{location.building.address}}</li>
          <li>{{'dashboard.status' | translate}}: {{statusInCurrentLang}}</li>
        </ul>
      </div>
    </div>

    <div class="col-md-4 col-sm12">
      <div class="container-fluid row">
        <div class="alert alert-info">
          {{'dashboard.locationDetails.tags' | translate}}
        </div>

        <!-- List of the tags -->
        <ul *ngIf="tags !== undefined">
          <li *ngFor="let tag of tags">
            {{currentLang === 'nl' ? tag.dutch : tag.english}}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <hr>

  <!-- Description of the location, show the description based on the browser language -->
  <!-- A CKEditor is used, but is put in read-only mode and without a toolbar -->
  <h2>{{'dashboard.description' | translate}}</h2>

  <ckeditor [(ngModel)]="description.show"
            [editor]="editor"
            [disabled]="true" [config]="{toolbar: []}">
  </ckeditor>

  <hr>

  <!-- Calendar -->
  <div class="row">
    <app-calendar [events]="events"></app-calendar>
  </div>

  <hr>

  <!-- Google Maps Frame, based on address:
         - https://developers.google.com/maps/documentation/embed/get-started
         - https://stackoverflow.com/a/21141399/9356123

       To bypass XSS for a trusted URL:
          - https://angular.io/guide/security#xss -->
  <div class="row">
    <h1>{{'dashboard.location' | translate}}</h1>
    <iframe
      width="100%" height="450" style="border:0"
      [src]="getGoogleMapsUrl(location)" class="e2e-iframe-trusted-src col-md-12 col-sm-12" allowfullscreen>
    </iframe>
  </div>
</div>
