.mat-chip-list-wrapper {
  flex-direction: column;
  align-items: flex-start;
  margin: 4px;
}

.locationStatusBar {
  height: 8px;
}

.open {
  background-color: var(--ck-color-base-action);
}

.closed {
  background-color: var(--ck-color-base-error);
}

h1.inline-block {
  display: inline-block;
}

#leafletMap {
  height: 450px;
}
