<div class="container-fluid" *ngIf="location | async as location">
  <!-- Title -->
  <h1 class="inline-block">{{location.name}}</h1>
  <button class="button button-primary float-right" *ngIf="showAdmin"
    routerLink="/management/locations/{{location.locationId}}">{{'dashboard.locationDetails.buttons.manage' |
    translate}}</button>


  <!-- Teaser Wide -->
  <li class="teaser teaser--wide no-space-top">
    <article class="teaser-content">

      <div class="content__second">
        <h2>{{"dashboard.details" | translate}}</h2>

        <div class="tag-list-wrapper">
          <ul class="tag-list">
            <li *ngFor="let tag of location.tags">

              <span class="tag ">
                {{currentLang === 'nl' ? tag.dutch : tag.english}}
              </span>

            </li>
          </ul>
        </div>

        <ul class="icon-list">
          <li>
            <i class='icon-marker'></i><span><strong> {{location.name}} </strong> &mdash;
              {{location.building.address}}</span>
          </li>
          <li class="entry">
            <i class="icon-clock" aria-hidden="true"></i>
            <span>{{location.status | formatStatus | async }}</span>
          </li>
          <li class="entry">
            <i class="icon-user" aria-hidden="true"></i> {{location.numberOfSeats}}
          </li>
          <li class="entry">
            <i class="icon-calendar" aria-hidden="true"></i>
            {{nextReservableFrom ? (nextReservableFrom | date:'short') :
            ('general.notAvailableAbbreviation' | translate)}}
          </li>

        </ul>

        <div *ngIf="showDescription(description.show)">
          <h4>{{'dashboard.description' | translate}}</h4>

          <ckeditor [(ngModel)]="description.show" [editor]="editor" [disabled]="true" [config]="{toolbar: []}">
          </ckeditor>

          <hr>
        </div>
      </div>

      <div class="content__first">
        <div class="figure-wrapper">
          <figure>
            <div class="image-wrapper" data-ratio="8:5">
              <img *ngIf="!imageUrlErrorOccurred && location.imageUrl" src="{{location.imageUrl}}" class="img"
                alt="Image for {{location.name}}" (error)="handleImageError()">
              <img *ngIf="imageUrlErrorOccurred || !location.imageUrl" [src]="altImageUrl"
                alt="Image of {{location.name}}">

            </div>
          </figure>
          <div class="accolade-inverse right-top"></div>
          <div class="accolade-inverse bottom-left"></div>
        </div>
      </div>
    </article>
  </li>

  <div class="messages messages--warning center" *ngIf="!loggedIn()">
    <i class="icon-info" aria-hidden="true"></i>
    {{'dashboard.locationDetails.loginWarning' | translate}}
  </div>

  <div class="messages messages--info center" *ngIf="loggedIn()">
    <i class="icon-info" aria-hidden="true"></i>
    {{'dashboard.locationDetails.refreshWarning' | translate}}
  </div>

  <!-- Calendar -->
  <div class="row">
    <app-calendar [events]="events" (timeslotPickedEvent)="timeslotPicked($event)"></app-calendar>
  </div>

  <div class="row" style="padding-top: 10px;">
    <button *ngIf="loggedIn()" class="button button-primary float-right" [disabled]="updateReservationIsPossible()"
      (click)="commitReservations(confirm)">
      {{'reservations.reservationButton' | translate}}
    </button>
  </div>

  <!-- If clicked on reservationButton, give some feedback -->
  <div class="row" style="margin-top: 10px">
    <div class="messages messages--success" *ngIf="showSuccess">
      {{'dashboard.locationDetails.calendar.reservation.successMessage' | translate}}
    </div>

    <div class="messages messages--error" *ngIf="showError">
      {{'dashboard.locationDetails.calendar.reservation.errorMessage' | translate}}
    </div>
  </div>

  <hr>

  <!-- Leaflet map (although the div id=leafletMap must be outside the enclosing div) -->
  <div class="row">
    <h1>{{'dashboard.location' | translate}}</h1>
  </div>
</div>
<div id="leafletMap"></div>

<ng-template #confirm>
  <h1 >
    {{'dashboard.locationDetails.calendar.reservation.header' | translate}}
  </h1>
  <div class="modal-body text-center">
    <p>{{'dashboard.locationDetails.calendar.reservation.updateMessage' | translate }}</p>
    <div *ngIf='newReservations.length !== 0'>
      <hr>
      <p>{{'dashboard.locationDetails.calendar.reservation.updateAddMessage' | translate }}</p>
      <div class="justify-content-center">
        <mat-chip-list aria-orientation="vertical">
          <mat-chip class="align-center" *ngFor="let reservation of newReservations" selected>
            {{formatReservation(reservation)}}
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <div *ngIf='removedReservations.length !== 0'>
      <hr>
      <p>{{'dashboard.locationDetails.calendar.reservation.updateDeleteMessage' | translate }}</p>
      <mat-chip-list class="mat-chip-list-wrapper">
        <mat-chip *ngFor="let reservation of removedReservations" selected color="warn">
          {{formatReservation(reservation)}}
        </mat-chip>
      </mat-chip-list>
    </div>
    <hr>
    <p>{{'dashboard.locationDetails.calendar.reservation.updateConfirmMessage' | translate }}</p>
    <button type="button" class="button button-primary" (click)="confirmReservationChange()">{{ 'general.yes' | translate
      }}</button>
    <button type="button" class="button button-warning" (click)="declineReservationChange()">{{ 'general.no' |
      translate}}</button>
  </div>
  <div class="modal-footer">
    <div class="messages messages--warning text-center">
      <i class="icon-exclamation" aria-hidden="true"></i>
      {{'dashboard.locationDetails.calendar.reservation.updateWarningMessage' | translate}}
    </div>
  </div>
</ng-template>