.pointerCursor:hover {
  cursor: pointer;
}
.addError{
  background-color: #e9f0fa;
  color: #1E64C8;
  margin: 18px 10px 18px;
  font-size: 17px;
  line-height: 15px;
  font-family: "PannoTextMedium",Arial,sans-serif;
  padding: 20px;
}
