<div class="container-fluid" *ngIf="userObs | async as user">
  <!-- Management of the roles of the user -->
  <h3>{{('management.users.userDetails.roles.title' | translate)
    .replace('{name}', user.firstName + ' ' + user.lastName)}}</h3>

  <hr>

  <!-- Feedback on updating the user's role -->
  <div class="alert alert-info" *ngIf="userUpdatingSuccess === null">
    {{'management.users.userDetails.roles.loadingUpdatingUser' | translate}}
  </div>

  <div class="alert alert-success" *ngIf="userUpdatingSuccess === true">
    {{'management.users.userDetails.roles.successUpdatingUser' | translate}}
  </div>

  <div class="alert alert-error" *ngIf="userUpdatingSuccess === false">
    {{'management.users.userDetails.roles.errorUpdatingUser' | translate}}
  </div>

  <!-- The form containing the checkboxes of the roles, and an update and reset buttons -->
  <div class="container-fluid">
    <form (ngSubmit)="submitUpdateUser()" [formGroup]="roleFormGroup">
      <div class="row">
        <label>
          <mat-checkbox type="checkbox" color='primary' formControlName="admin" (click)="onAdminClick($event, confirm)">{{'general.roles.ADMIN' | translate}}</mat-checkbox>
        </label>
      </div>

      <div class="row">
        <div class="pull-right">
          <button type="submit" class="btn btn-primary btn-left"
                  [disabled]="disableRoleUpdateButton()">
            {{'management.users.userDetails.roles.updateButton' | translate}}
          </button>

          <button class="btn btn-secondary" (click)="resetRolesFormArrayButtonClick()"
                  [disabled]="disableRoleUpdateButton()">
            {{'management.users.userDetails.roles.resetButton' | translate}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<ng-template #confirm>
  <div class="modal-body text-center">
    <p>{{'management.users.userDetails.roles.adminConfirmation' | translate }}</p>
    <button type="button" class="btn btn-default" (click)="confirmAdminChange()" >{{ 'general.yes' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="declineAdminChange()" >{{ 'general.no' | translate}}</button>
  </div>
</ng-template>
