@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

#login {
    background: #e9f0fa;

    .clarification {
        max-width: 600px;
        font-size: 14px;
        color: #555;
    }

    #image-container {
        height: 400px;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        position: relative;

        @include media-breakpoint-down(md) {
            background-position: center -100px;
        }

        #display {
            background: #0071a1;
            padding: 1.5rem;
            position: absolute;
            bottom: -50px;
            right: 45px;
            max-width: 380px;

            @include media-breakpoint-down(md) {
                max-width: 100%;
                right: 0;
                left: 0;
            }


            h1, h2 {
                color: white;
            }

            h1 {
                font-size: 32px;
            }

            h2 {
                font-size: 22px;
            }
        }
    }
}
