<div class="container-fluid">
  <!-- Title -->
  <h3>{{'management.tags.title' | translate}}</h3>

  <hr>

  <!-- Table with all existing tags -->
  <div class="row" *ngIf="tagsObs | async as tags">
    <table style="width: 100%;" *ngIf="tags.length > 0; else noTags">
      <thead>
      <tr>
        <th>{{'management.tags.table.dutch' | translate}}</th>
        <th>{{'management.tags.table.english' | translate}}</th>
        <th><!-- update --></th>
        <th><!-- delete --></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let locationTag of tags">
        <td>{{locationTag.dutch}}</td>
        <td>{{locationTag.english}}</td>
        <!-- Edit icon -->
        <td class="hover" style="padding-left: 10px; padding-right: 10px; padding-top: 10px"
            data-toggle="modal" (click)="prepareUpdate(locationTag, updateTagModal)">
          <span class="glyphicon glyphicon-pencil pointerCursor"></span>
        </td>
        <!-- Delete icon -->
        <td data-toggle="modal" class="hover" style="padding-left: 10px; padding-right: 10px; padding-top: 10px"
            (click)="prepareToDelete(locationTag, deleteTagModal)">
          <span class="glyphicon glyphicon-trash pointerCursor"></span>
        </td>
      </tr>
      </tbody>
    </table>

    <div style="margin-top: 20px">
      <button class="btn btn-primary" data-toggle="modal" (click)="prepareAdd(addTagModal)">
        {{'management.tags.addNewTag' | translate}}
      </button>
    </div>
  </div>

  <div class="row">
    <div class="alert alert-error" *ngIf="successGettingTags === false">
      {{'management.tags.errorOnRetrievingTags' | translate}}
    </div>
  </div>
</div>

<ng-template #noTags>
  <div class="alert alert-info">
    {{'management.general.noTags' | translate}}
  </div>
</ng-template>

<!-- Modal view to add a new tag -->
<ng-template #addTagModal>
  <!-- Modal header -->
  <div class="modal-header">
    <h5 class="modal-title" id="addTagModalTitle">
      {{'management.tags.addTagModal.title' | translate}}
    </h5>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
    <form [formGroup]="tagFormGroup">
      <!-- Dutch name of tag -->
      <div class="row form-group">
        <label class="col-lg-3 control-label" for="dutchDelete">
          {{'management.tags.table.dutch' | translate}}<span style="color: red; margin-left: 5px;">*</span>
        </label>
        <div class="col-lg-8">
          <input class="form-control" id="dutchDelete" type="text" formControlName="dutch" >
        </div>
      </div>

      <!-- English name of tag -->
      <div class="row form-group">
        <label class="col-lg-3 control-label" for="englishDelete">
          {{'management.tags.table.english' | translate}}<span style="color: red; margin-left: 5px;">*</span>
        </label>
        <div class="col-lg-8">
          <input class="form-control" id="englishDelete" type="text" formControlName="english" >
        </div>
      </div>
    </form>
  </div>

  <!-- Modal footer -->
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary"
            [disabled]="!validTagFormGroup()"
            (click)="addTag()">
      {{'general.buttons.add' | translate}}
    </button>
    <button type="button" class="btn btn-primary" (click)="closeModal()">
      {{'general.buttons.close' | translate}}
    </button>
  </div>

  <!-- Feedback to the user -->
  <div class="container-fluid">
    <div class="alert alert-info" *ngIf="successAddingTag === null">
      {{'general.waitingForServer' | translate}}
    </div>

    <div class="alert alert-success" *ngIf="successAddingTag === true">
      {{'management.tags.addTagModal.success' | translate}}
    </div>

    <div class="alert alert-error" *ngIf="successAddingTag === false">
      {{'management.tags.addTagModal.error' | translate}}
    </div>
  </div>
</ng-template>

<!-- Modal view to update a tag -->
<ng-template #updateTagModal>
  <!-- Modal header -->
  <div class="modal-header">
    <h5 class="modal-title" id="updateTagModalTitle">
      {{'management.tags.updateTagModal.title' | translate}}
    </h5>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
    <form [formGroup]="tagFormGroup">
      <!-- Dutch tag name -->
      <div class="row form-group">
        <label class="col-lg-3 control-label" for="dutchUpdate">
          {{'management.tags.table.dutch' | translate}}<span style="color: red; margin-left: 5px;">*</span>
        </label>
        <div class="col-lg-8">
          <input class="form-control" id="dutchUpdate" type="text" formControlName="dutch">
        </div>
      </div>

      <!-- English tag name -->
      <div class="row form-group">
        <label class="col-lg-3 control-label" for="englishUpdate">
          {{'management.tags.table.english' | translate}}<span style="color: red; margin-left: 5px;">*</span>
        </label>
        <div class="col-lg-8">
          <input class="form-control" id="englishUpdate" type="text" formControlName="english">
        </div>
      </div>
    </form>
  </div>

  <!-- Modal footer -->
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary"
            [disabled]="!validTagFormGroup()"
            (click)="updateTagInFormGroup()">
      {{'general.buttons.update' | translate}}
    </button>
    <button type="button" class="btn btn-primary" (click)="closeModal()">
      {{'general.buttons.close' | translate}}
    </button>
  </div>

  <!-- Feedback to the user -->
  <div class="container-fluid">
    <div class="alert alert-info" *ngIf="successUpdatingTag === null">
      {{'general.waitingForServer' | translate}}
    </div>

    <div class="alert alert-success" *ngIf="successUpdatingTag === true">
      {{'management.tags.updateTagModal.success' | translate}}
    </div>

    <div class="alert alert-error" *ngIf="successUpdatingTag === false">
      {{'management.tags.updateTagModal.error' | translate}}
    </div>
  </div>
</ng-template>

<!-- Modal view to ask whether the user is sure to delete a tag -->
<ng-template #deleteTagModal>
  <!-- Header -->
  <div class="modal-header">
    <h5 class="modal-title" id="deleteLockerModalLabel">
      {{'management.tags.deleteTagModal.title' | translate}}
    </h5>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- Body -->
  <div class="modal-body">
    <div>
      <b>{{'management.tags.deleteTagModal.body' | translate}}</b>
      <br><br>
      <ul>
        <li><b style="margin-right: 5px"><i>{{('management.tags.table.dutch' | translate) + ':   '}}</i></b>{{dutch.value}}</li>
        <li><b style="margin-right: 5px"><i>{{('management.tags.table.english' | translate)}}</i></b>{{english.value}}</li>
      </ul>
    </div>
  </div>

  <!-- Footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-primary"
            (click)="deleteTagInFormGroup()">
      {{'general.buttons.delete' | translate}}
    </button>
    <button type="button" class="btn btn-secondary" (click)="closeModal()">
      {{'general.buttons.cancel' | translate}}
    </button>
  </div>

  <div class="container-fluid">
    <div class="alert alert-info" *ngIf="successDeletingTag === null">
      {{'general.waitingForServer' | translate}}
    </div>

    <div class="alert alert-success" *ngIf="successDeletingTag === true">
      {{'management.tags.deleteTagModal.success' | translate}}
    </div>

    <div class="alert alert-error" *ngIf="successDeletingTag === false">
      {{'management.tags.deleteTagModal.error' | translate}}
    </div>
  </div>
</ng-template>
