<div class="container-fluid">
  <!-- Title -->
  <h3>{{'profile.reservations.lockers.title' | translate}}</h3>

  <hr>

  <!-- Table to show the locker reservations of the logged in user -->
  <div class="row">

    <div class="col-md-11">
      <div *ngIf="lockerReservations | async as reservations">
        <table style="width: 100%" *ngIf="reservations.length > 0; else noReservations">
          <!-- Table header -->
          <thead>
          <tr>
            <th>{{'profile.reservations.lockers.table.header.locationName' | translate}}</th>
            <th>{{'profile.reservations.lockers.table.header.lockerNumber' | translate}}</th>
            <th>{{'profile.reservations.lockers.table.header.keyPickupDate' | translate}}</th>
            <th>{{'profile.reservations.lockers.table.header.keyReturnedDate' | translate}}</th>
          </tr>
          </thead>

          <!-- Table body -->
          <tbody>
          <tr [@rowsAnimation]="" *ngFor="let reservation of reservations">
            <td>{{reservation.locker.location.name}}</td>
            <td>{{reservation.locker.number}}</td>

            <!-- KeyPickupDate: if key is null, the user needs to collect the key.
                 However, if the key is not null, show the date -->
            <td>{{reservation.keyPickupDate === null || reservation.keyPickupDate === undefined ?
              ('profile.reservations.lockers.table.keyPickupDateNull' | translate) :
              toDateString(reservation.keyPickupDate)}}
            </td>

            <!-- KeyReturnedDate:
                   - if KeyPickupDate is null, then it isn't possible to have brought back the key (1)
                   - else, if keyReturnedDate is null, then the user is still in possession of the key
                   - if both !== null, show the date              -->
            <td>
              {{reservation.keyPickupDate === null ?
              ('profile.reservations.lockers.table.keyPickupDateNull' | translate) :
              reservation.keyReturnedDate === null ?
                ('profile.reservations.lockers.table.keyReturnedDateNull' | translate) :
                toDateString(reservation.keyReturnedDate)}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #noReservations>
  {{'profile.reservations.lockers.noReservations' | translate}}
</ng-template>
