<div class="container" *ngIf="this.authenticationService.currentUser != null &&
        authenticationService.currentUserHasRole(authenticationService.roles.employee, authenticationService.roles.admin)">
  <h1>Scan<div class="helpLink"
                    title="{{ 'help.referToScan' | translate}}"
                    target="_blank">
  &nbsp;&nbsp;&nbsp;
</div></h1>

  <div style="padding-bottom: 5vh">
    <div style="padding-bottom: 5vh" *ngIf="!locationIsClosed">
      <form role="form">
        <div class="col-md-3"></div>
        <div class="col-md-3  bootstrap-select  form-control ">
          <select class="selectpicker form-control" id="select1" tabindex="-98"
                  data-live-search="true" [(ngModel)]="scanLocation" [ngModelOptions]="{standalone: true}"
                  title="{{ 'scan.chooseLocation' | translate}}">
            <option *ngFor="let l of locationNames" [value]="l">{{l}}</option>
          </select>
        </div>
        <button style="margin-left: 10px" *ngIf="!open else close" class="btn col-md-3 btn-success" (click)="connect()"
                translate>scan.open
        </button>
        <ng-template #close>
          <button style="margin-left: 10px" class="btn col-md-3 btn-danger " data-toggle="modal" data-target="#closeLocationModal"
                  translate>scan.close
          </button>
        </ng-template>
        <div class="col-md-3"></div>

      </form>
    </div>

    <!-- button for opening view for students in new tab -->
    <div class="col-md-12" *ngIf="open">
      <div class="col-md-4"></div>
      <a class="col-md-4 btn btn-default" (click)="openPageForStudents()" translate>scan.openForStudents</a>
      <div class="col-md-4"></div>
    </div>

    <!-- actions that the employee can take after closing the location -->
    <div class="col-md-12" *ngIf="locationIsClosed" style="padding-bottom: 2vh">
      <div class="col-md-1"></div>
      <button class="btn col-md-3 btn-default" data-toggle="modal" id="cancelReservationBtn"
              [disabled]="absentStudents.length == 0" data-target="#cancelReservationsModal" translate>scan.cancelScan
      </button>
      <button style="margin-left: 10px" class="btn col-md-3 btn-default" id="sendMailsBtn"
              [disabled]="absentStudents.length == 0" data-target="#sendMailsModal" data-toggle="modal"
              translate>scan.sendMails
      </button>
      <button style="margin-left: 10px" class="btn col-md-3 btn-default" id="addPenaltyPointsBtn"
              [disabled]="absentStudents.length == 0" data-target="#addPenaltyPointsModal" data-toggle="modal"
              translate>scan.assignPenaltyPoints
      </button>
      <div class="col-md-1"></div>
    </div>

    <!-- buttons for toggling view of present or absent students -->
    <div class="col-md-12" style="padding-top: 5vh">
      <div class="col-md-3"></div>
      <button class="btn col-md-3 btn-default" id="showAttended"
              [ngClass]="{'active selected': ( open || locationIsClosed)  && !showAbsent }"
              [disabled]="!open && !locationIsClosed"
              (click)="showAbsent = false; visibleStudents = presentStudents; firstNameFilterValue=''; lastNameFilterValue=''"
              translate>scan.present
      </button>
      <button style="margin-left: 10px" class="btn col-md-3 btn-default"
              [ngClass]="{'active selected': showAbsent}" id="showAbsent" [disabled]="!open && !locationIsClosed"
              (click)="showAbsent = true; visibleStudents= absentStudents; firstNameFilterValue=''; lastNameFilterValue=''"
              translate>scan.absent
      </button>
      <div class="col-md-3"></div>
    </div>

    <div class="col-md-12" style="padding-top: 5vh; display: none" id="messages">
      <div id="success_alert" style="padding-bottom:4vh;display: none;">
        <div class="col-md-3"></div>
        <div class="alert alert-success col-md-6" role="alert">
          {{successMessage}}
        </div>
        <div class="col-md-3"></div>
      </div>

      <div id="fail_alert" style="padding-bottom:4vh;display: none;">
        <div class="col-md-3"></div>
        <div class="alert alert-danger col-md-6" role="alert">
          {{failMessage}}
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>

    <!-- result table can contain either all present or all absent students -->
    <div class="col-md-12" style="padding-top: 2vh">
      <table class="table-striped col-md-12" style="width: 100%" id="resultsTable">
        <thead class="bg-info">
        <tr class=" headers firstrow lastrow even">
          <th scope="col" translate>management.firstName</th>
          <th scope="col" translate>management.lastName</th>
          <th scope="col" translate>management.studentNumber</th>
          <th scope="col" translate>management.locationName</th>
          <th scope="col" translate></th>
        </tr>
        <tr class="filters-tr">

          <td class="filter-td">
            <div class="row">
              <div class="col-md-12">
                <span class="glyphicon glyphicon-filter"></span>
                <input type="text" value="" id="id12" [(ngModel)]="firstNameFilterValue"
                       (keyup.enter)="applyFirstNameFilter(firstNameFilterValue)"
                       style="background: transparent; border: none"
                       class="textFilter" placeholder="filter">
              </div>
            </div>
          </td>

          <td class="filter-td">
            <div class="row">
              <div class="col-md-12">
                <span class="glyphicon glyphicon-filter"></span>
                <input type="text" [(ngModel)]="lastNameFilterValue"
                       id="id13" (keyup.enter)="applyLastNameFilter(lastNameFilterValue)"
                       style="background: transparent; border: none"
                       class="textFilter" placeholder="filter">
              </div>
            </div>
          </td>
          <td class="filter-td">&nbsp;</td>
          <td class="filter-td">&nbsp;</td>
          <td class="filter-td">&nbsp;</td>

        </tr>
        </thead>
        <tbody>
        <tr [@rowsAnimation]="" *ngFor="let locationReservation of visibleStudents"
            class="row_odd firstrow odd">
          <td>{{locationReservation.user.firstName}}</td>
          <td>{{locationReservation.user.lastName}}</td>
          <td>{{locationReservation.user.augentID}}</td>
          <td>{{locationReservation.location.name}}</td>
          <td *ngIf="showAbsent else setToAbsent" style="padding-top: 10px">
            <button class="btn btn-default" (click)="check(locationReservation.user.barcode)" translate>
              scan.setPresent
            </button>
          </td>
          <ng-template #setToAbsent>
            <td style="padding-top: 10px">
              <button class="btn btn-default" (click)="setStudentToAbsent(locationReservation.user.augentID)" translate>
                scan.setAbsent
              </button>
            </td>
          </ng-template>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- modal popup for closing location -->
<div class="modal fade " id="closeLocationModal" tabindex="-1" role="dialog"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span
          aria-hidden="true">&times;</span></button>
        <h2 class="modal-title"><span [translateParams]="{ location: scanLocation}" translate> scan.closeLocationHeader </span>? </h2>
      </div>
      <div class="modal-body">
        <div translate>
          scan.closeLocationBody
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" translate>
          management.no
        </button>
        <button type="button" class="btn btn-secondary" (click)="disconnect()" data-dismiss="modal"
                translate>
          management.yes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal popup for cancelling scanning -->
<div class="modal fade " id="cancelReservationsModal" tabindex="-1" role="dialog"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span
          aria-hidden="true">&times;</span></button>
        <h2 class="modal-title"><span translate> scan.cancelReservations </span>? </h2>
      </div>
      <div class="modal-body">
        <div translate>
          scan.cancelScanInfo
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" translate>
          management.no
        </button>
        <button type="button" class="btn btn-secondary" (click)="cancelReservations()" data-dismiss="modal" translate>
          management.yes
        </button>
      </div>
    </div>
  </div>
</div>


<!-- modal popup for sending mails-->
<div class="modal fade " id="sendMailsModal" tabindex="-1" role="dialog"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span
          aria-hidden="true">&times;</span></button>
        <h2 class="modal-title"><span translate> scan.sendMailsHeader </span>? </h2>
      </div>
      <div class="modal-body">
        <div class="checkbox checkbox-primary" style="overflow-y: scroll; max-height: 20vh">
          <ul class="list-unstyled">
            <li *ngFor="let l of absentStudents">
              <input type="checkbox" checked="checked" id="{{l.user.mail}}" (click)="cancelMail(l.user.mail)">
              <label for="{{l.user.mail}}">{{l.user.mail}}</label>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" translate>
          management.no
        </button>
        <button type="button" class="btn btn-secondary" (click)="sendMailsToAbsentStudents()" data-dismiss="modal"
                translate>
          management.yes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal popup for adding penalty points to absent students -->
<div class="modal fade " id="addPenaltyPointsModal" tabindex="-1" role="dialog"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span
          aria-hidden="true">&times;</span></button>
        <h2 class="modal-title"><span translate> scan.addPenaltyPoints </span>? </h2>
      </div>
      <div class="modal-body">
        <div translate>
          scan.addPenaltyPointsBody
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" translate>
          management.no
        </button>
        <button type="button" class="btn btn-secondary" (click)="setReservationsToUnattendedAndAddPenaltyPoints()" data-dismiss="modal"
                translate>
          management.yes
        </button>
      </div>
    </div>
  </div>
</div>



