<div>
    <!-- No location selected message -->
    <div *ngIf="filteredLocationReservations.length === 0">
        <div class="messages messages--info">
            <i aria-hidden="true" class="icon-info"></i>
            {{"management.locationDetails.calendar.reservations.table.noLocationReservations" | translate}}
        </div>
    </div>
    <!-- Search and scanning section -->
    <div *ngIf="filteredLocationReservations.length > 0" class="mb-3">
        <!-- User search -->
        <div class="d-flex justify-content-between align-items-end mb-3 gap-3">
            <div>
                <label for="search" class="fw-normal">
                    {{ "management.locationDetails.calendar.reservations.searchUser"| translate }}
                    <input
                        id="search"
                        type="text"
                        class="form-control mt-2"
                        [(ngModel)]="searchTerm"
                        (ngModelChange)="updateSearchTerm(scanningError)"
                    />
                </label>
            </div>
            <div>
                <button
                    id="finish"
                    class="button button-secondary"
                    [disabled]="isTimeslotStartInFuture()"
                    (click)="finishScanningModal.open()"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="{{ 'management.locationDetails.calendar.reservations.startScanningTooltip' | translate }}"
                >
                    {{ "management.locationDetails.calendar.reservations.startScanning" | translate }}
                </button>
            </div>
        </div>
        <!-- User not found warning -->
        <div *ngIf="noSuchUserFoundWarning" class="messages messages--error">
            <i aria-hidden="true" class="icon-cross"></i>
            <span>{{ "scan.unregistered" | translate }}</span>
        </div>
        <!-- User already scanned warning -->
        <div *ngFor="let user of userAlreadyPresentWarning" class="messages messages--error">
            <i aria-hidden="true" class="icon-cross"></i>
            <span>{{ "scan.already-present" | translate : {user: user.firstName + ' ' + user.lastName} }}</span>
        </div>
        <!-- User table -->
        <app-table *ngIf="currentTableData"
                   [tabularData]="currentTableData"
                   (action)="onAction($event, scanningError, penaltyManager)"
        ></app-table>
        <button [routerLink]="['/management/locations/0/timeslot', currentTimeSlot.timeslotSequenceNumber]" class="button button-primary">
            {{ "general.buttons.print" | translate }}
        </button>
    </div>
</div>
<!-- Modal view to ask whether the user is sure to delete a lockerReservation -->
<ng-template>
    <app-modal>
        <!-- Header -->
        <h2 class="modal-title" id="deleteLocationModalLabel" modal-header>
            {{ "management.reservations.location.deleteModal.title" | translate }}
        </h2>

        <!-- Body -->
        <div modal-body>
            <div>
                <b>{{
                    "management.reservations.location.deleteModal.body" | translate
                    }}</b>
                <br/><br/>
                <ul *ngIf="locationReservationToDelete !== undefined">
                    <li>
                        <b style="margin-right: 5px"
                        ><i>{{
                            ("management.locationDetails.calendar.reservations.table.user"
                                | translate) + ": "
                            }}</i></b
                        >{{
                        locationReservationToDelete.user.firstName +
                        " " +
                        locationReservationToDelete.user.lastName
                        }}
                    </li>
                    <li>
                        <b style="margin-right: 5px"
                        ><i>{{
                            ("management.locationDetails.calendar.reservations.table.attended"
                                | translate) + ": "
                            }}</i></b
                        >{{
                        (locationReservationToDelete.attended
                                ? "general.yes"
                                : "general.no"
                        ) | translate
                        }}
                    </li>
                </ul>
            </div>
        </div>

        <!-- Footer -->
        <div modal-footer>
            <button
                type="button"
                class="button button-primary"
                (click)="deleteLocationReservation()"
            >
                {{ "management.reservations.location.deleteModal.yesButton" | translate }}
            </button>
            <button
                type="button"
                class="button button-secondary"
                (click)="closeModal()"
            >
                {{ "management.reservations.location.deleteModal.noButton" | translate }}
            </button>
        </div>
    </app-modal>

    <div class="container-fluid">
        <div
            class="messages messages--info"
            *ngIf="successDeletingLocationReservation === null"
        >
            {{ "management.reservations.location.deleteModal.loading" | translate }}
        </div>

        <div
            class="messages messages--success"
            *ngIf="successDeletingLocationReservation === true"
        >
            {{ "management.reservations.location.deleteModal.success" | translate }}
        </div>

        <div
            class="messages messages--error"
            *ngIf="successDeletingLocationReservation === false"
        >
            {{ "management.reservations.location.deleteModal.error" | translate }}
        </div>
    </div>
</ng-template>

<app-modal #finishScanningModal>
    <!-- Modal header -->
    <h2 id="finishScanningModalTitle" modal-header>
        {{
        "management.reservations.location.finishScanningModal.title"
            | translate
        }}
    </h2>

    <!-- Modal body -->
    <div modal-body>
        <div class="messages messages--warning">
            <div>
                <p>
                    {{
                    "management.reservations.location.finishScanningModal.message1"
                        | translate
                    }}
                </p>
                <p>
                    {{
                    "management.reservations.location.finishScanningModal.message2"
                        | translate
                    }}
                </p>
                <p>
                    {{
                    "management.reservations.location.finishScanningModal.message3"
                        | translate
                    }}
                </p>
            </div>
        </div>
    </div>

    <!-- Modal footer -->
    <div modal-footer>
        <button
            type="button"
            class="button button-primary"
            (click)="setAllNotScannedToUnattended(scanningError)"
        >
            {{ "general.yes" | translate }}
        </button>

        <button
            type="button"
            class="button button-secondary"
            (click)="closeModal()"
        >
            {{ "general.no" | translate }}
        </button>
    </div>
</app-modal>

<app-modal #scanningError>
    <h2 id="scanningErrorModalTitle" modal-header>
        {{
        "management.reservations.location.scanningErrorModal.title" | translate
        }}
    </h2>
    <!-- Modal body -->
    <div modal-body>
        <div class="messages messages--error">
            {{
            "management.reservations.location.scanningErrorModal.message"
                | translate
            }}
        </div>
    </div>

    <!-- Modal footer -->
    <div modal-footer>
        <button type="button" class="button button-primary" (click)="closeModal()">
            {{ "general.buttons.close" | translate }}
        </button>
    </div>
</app-modal>

<ng-template #penaltyManager>
    <app-user-penalty-manager [user]="penaltyManagerUser"></app-user-penalty-manager>
</ng-template>
