<div class="container-fluid panel" *ngIf="locationObs | async as location; else loading">

  <!--
   This page has four functionalities, each put into a collapsable panel-group:
     - overview of the location + possibility to edit the details of the location
     - calender to show the opening days and a form to add new/series of new opening days
     - ability to manage the description of the location
     - form to show current/next locker reservation period

   Such a panel-group consists of two parts:
     - the heading: panel-heading in which the panel-title is put
     - the collapsable body: panel-body in which a panel-body resides with the actual content of the panel-group
   -->

  <!-- Overview of the location -->
  <div class="panel-group">
    <!-- Heading -->
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" href="#detailsOfLocationBody" aria-expanded="false" class="collapsed">
          <i class="glyphicon glyphicon-plus"></i>
          <i class="glyphicon glyphicon-minus"></i>
          {{('management.locationDetails.title' | translate).replace('{locationName}', location.name)}}
        </a>
      </h3>
    </div>

    <!-- Body -->
    <div class="panel-collapse collapse" id="detailsOfLocationBody">
      <div class="panel-body" style="padding: 20px">
        <app-details-form [location]="locationObs"></app-details-form>
      </div>
    </div>
  </div>

  <!-- Calendar with overview of opening days -->
  <div class="panel-group">
    <!-- Heading -->
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" href="#calendarCollapseBody" aria-expanded="false" class="collapsed">
            <i class="glyphicon glyphicon-plus"></i>
            <i class="glyphicon glyphicon-minus"></i>
            {{'management.locationDetails.calendar.title' | translate}}</a>
        </h3>
      </div>

      <!-- Body -->
      <div class="panel-collapse collapse" id="calendarCollapseBody">
        <app-location-calendar [location]="location"></app-location-calendar>
      </div>
  </div>

  <!-- Description of the location -->
  <div class="panel-group">
    <!-- Heading -->
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" href="#descriptionCollapseBody" aria-expanded="false" class="collapsed">
          <i class="glyphicon glyphicon-plus"></i>
          <i class="glyphicon glyphicon-minus"></i>
          {{'management.locationDetails.description.title' | translate}}</a>
      </h3>
    </div>

    <!-- Body -->
    <div class="panel-collapse collapse" id="descriptionCollapseBody">
      <app-location-description [location]="locationObs"></app-location-description>
    </div>
  </div>

  <!-- Tags of the location -->
  <div class="panel-group">
    <!-- Heading -->
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" href="#tagsCollapseBody" aria-expanded="false" class="collapsed">
          <i class="glyphicon glyphicon-plus"></i>
          <i class="glyphicon glyphicon-minus"></i>
          {{'management.locationDetails.tags.title' | translate}}</a>
      </h3>
    </div>

    <!-- Body -->
    <div class="panel-collapse collapse" id="tagsCollapseBody">
      <app-location-tags-management [location]="locationObs"></app-location-tags-management>
    </div>
  </div>

  <!-- If this period has lockers, show the calendar for lockers -->
  <div class="panel-group" *ngIf="showLockersManagement && location.numberOfLockers > 0">
    <!-- Heading -->
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" href="#lockerCalendarCollapseBody" aria-expanded="false" class="collapsed">
          <i class="glyphicon glyphicon-plus"></i>
          <i class="glyphicon glyphicon-minus"></i>
          {{'management.locationDetails.lockerCalendar.title' | translate}}</a>
      </h3>
    </div>

    <!-- Body -->
    <div class="panel-collapse collapse" id="lockerCalendarCollapseBody">
      <app-lockers-calendar [location]="locationObs"></app-lockers-calendar>
    </div>
  </div>

  <!-- If this period has lockers, show the table overview of lockers -->
  <div class="panel-group" *ngIf="showLockersManagement && location.numberOfLockers > 0">
    <!-- Heading -->
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" href="#lockersTableCollapseBody" aria-expanded="false" class="collapsed">
          <i class="glyphicon glyphicon-plus"></i>
          <i class="glyphicon glyphicon-minus"></i>
          {{'management.locationDetails.lockersTable.title' | translate}}</a>
      </h3>
    </div>

    <!-- Body -->
    <div class="panel-collapse collapse" id="lockersTableCollapseBody">
      <app-lockers-table [location]="locationObs"></app-lockers-table>
    </div>
  </div>
</div>

<ng-template #loading>
  {{'management.general.loading' | translate}}
</ng-template>
