<!-- Modal header -->
<app-modal>
    <h2 modal-header>
        {{'management.locationDetails.calendar.addModalView.title' | translate}}
    </h2>

    <div modal-body>
        <form>
            <!-- Starts at -->
            <div class="row">
                <div class="col">
                    <label class="control-label" for="startsAt">
                        {{'management.locationDetails.calendar.form.date' | translate}}
                        <app-moment-date id="startsAt" [(model)]="model.timeslotDate" [type]="'date'" [min]="getMinStartDate()"></app-moment-date>
                    </label>
                </div>
            </div>

            <!-- Opening time -->
            <div class="row">
                <div class="col">
                    <label class="control-label" for="openingTime">
                        {{'management.locationDetails.calendar.form.openingTime' | translate}}
                        <app-moment-date id="openingTime" [(model)]="model.openingHour" [type]="'time'"></app-moment-date>
                    </label>
                </div>
            </div>

            <!-- Closing time -->
            <div class="row">
                <div class="col">
                    <label class="control-label" for="closingTime">
                        {{'management.locationDetails.calendar.form.closingTime' | translate}}
                        <app-moment-date id="closingTime" [(model)]="model.closingHour" [type]="'time'"
                                         [min]="model.openingHour"></app-moment-date>
                    </label>
                </div>
            </div>

            <!-- Repeat -->
            <div class="row">
                <div class="col">
                    <input id="repeatable" type="checkbox" [(ngModel)]="model.repeatable" name="repeatable" /> {{'management.locationDetails.calendar.form.repeatable' | translate}}
                </div>
            </div>

            <!-- Reservable -->
            <div class="row">
                <div class="col">
                    <input id="reservable" type="checkbox" [(ngModel)]="model.reservable" name="reservable" /> {{'management.locationDetails.calendar.form.reservable' | translate}}
                </div>
            </div>

            <!-- Reservable from -->
            <div class="row">
                <div class="col">
                    <label class="control-label" for="reservableFrom">
                        {{'management.locationDetails.calendar.form.reservableFrom' | translate}}
                        <app-moment-datetime id="reservableFrom" [(model)]="model.reservableFrom" [disabled]="!model.reservable" [min]="getMinReservableFrom(model)" [max]="model.timeslotDate"></app-moment-datetime>
                    </label>
                </div>
            </div>
        </form>
    </div>

    <div modal-footer>
        <button class="button button-primary" (click)="confirm()" [disabled]="!model.isValid()" *ngIf="!isUpdating()">
            {{'general.buttons.add' | translate}}
        </button>

        <button class="button button-primary" (click)="confirm()" [disabled]="!model.isValid()" *ngIf="isUpdating()">
            {{'general.buttons.update' | translate}}
        </button>

        <button type="button" class="button button-secondary" (click)="closeModal()">
            {{'general.buttons.cancel' | translate}}
        </button>
    </div>
    <div modal-message-footer>
        <div *ngIf="displayErrorTime">
            <div class="alert alert-warning">
                {{'management.locationDetails.calendar.form.openingClosingHourError' | translate}}
            </div>
        </div>
    </div>

</app-modal>

