// Setting up gent_styleguide (cfr. https://stijlgids.stad.gent/v4/index.html)
$styleguide-dir: '' !default;
@import "./node_modules/gent_styleguide/build/styleguide/sass/main_cli";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

@include mat-core();

// import our custom theme
@import "./theme.scss";

// import custom component themes
@import "./custom-component-themes.scss";

/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

// import leaflet styling
@import "../node_modules/leaflet/dist/leaflet.css";


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include angular-material-theme($theming-material-components-theme);
@include custom-components-theme($theming-material-components-theme);


// Include the dark color styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.dark-theme` will be affected by this alternate dark theme instead of the default theme.
//.dark-theme {
//  @include angular-material-color($dark-theme);
//}

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($typography);


/* You can add global styles to this file, and also import other style files */


/*
 * Class definition for a rotating loader
 */
.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px double #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
 * Css style for a modal view
 * source: https://www.w3schools.com/howto/howto_css_modals.asp
 */
/* The Modal (background) */
.my-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.my-modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.my-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.my-close:hover,
.my-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/**
 * hover class
 */
.hover {
  cursor: pointer
}

/**
 * Class to set margin if two buttons are next to each other.
 * This class should be set on the left button.
 */
.btn-left {
  margin-right: 10px;
}

/**
 * Class to make sure that the options of the Material Dropdown inside a
 * Bootstrap Modal is at the foreground.
 * Solution found at: https://stackoverflow.com/a/63051872/9356123
 */
.cdk-overlay-container {
  z-index: 9999 !important;
}

.calendar-event-NR * * mwl-calendar-event-title {
  color: black;
}

.calendar-event-reserved * * mwl-calendar-event-title {
  color: #FFFFFF;
}

.calendar-event-NR span {
  white-space: normal !important;
}

.calendar-event-reserved span {
  white-space: normal !important;
}

.unclickable {
  opacity: 0.6;
}

.calendar-event-suggestion {
  opacity: 0.6;
}

.float-right {
  float: right;
  margin-right: 2.5vw;
}

.btn-danger.danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

video {
  width: 100%
}

.bigmodal {
  min-width: 60vw;
}

.fullheight {
  height: 100%
}
.fullwidth {
  width: 100%;
}

// Safari specific coloring of input fields
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
     
    .input-true{ 
        border: 1px solid rgba(245, 64, 64, 0.767) !important;
    }

    .input-false{ 
        border: 1px solid rgba(128, 128, 128, 0.678) !important;
    }
    
}}