<div class="container-fluid">
  You want the results of year {{year}} and week {{weekNr}} <!-- TODO: header & navigation arrows -->

  <hr>

  <div *ngIf="overviewObs | async as overview; else loadingOrError">
    <table class="table table-striped" style="table-layout: fixed; width: 100%">
      <!-- Table header -->
      <thead>
      <tr>
        <th style="width: 30%">{{'openingHoursOverview.table.locationName' | translate}}</th>
        <th style="text-align: center">{{'general.monday' | translate}}</th>
        <th style="text-align: center">{{'general.tuesday' | translate}}</th>
        <th style="text-align: center">{{'general.wednesday' | translate}}</th>
        <th style="text-align: center">{{'general.thursday' | translate}}</th>
        <th style="text-align: center">{{'general.friday' | translate}}</th>
        <th style="text-align: center">{{'general.saturday' | translate}}</th>
        <th style="text-align: center">{{'general.sunday' | translate}}</th>
      </tr>
      </thead>

      <!-- Table body -->
      <tbody>
      <tr *ngFor="let locationName of Object.keys(overview)">
        <td style="padding-right: 5em">{{locationName}}</td>
        <td style="text-align: center">{{stringOrPlaceholder(overview[locationName][0])}}</td>
        <td style="text-align: center">{{stringOrPlaceholder(overview[locationName][1])}}</td>
        <td style="text-align: center">{{stringOrPlaceholder(overview[locationName][2])}}</td>
        <td style="text-align: center">{{stringOrPlaceholder(overview[locationName][3])}}</td>
        <td style="text-align: center">{{stringOrPlaceholder(overview[locationName][4])}}</td>
        <td style="text-align: center">{{stringOrPlaceholder(overview[locationName][5])}}</td>
        <td style="text-align: center">{{stringOrPlaceholder(overview[locationName][6])}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<ng-template #loadingOrError>
  <div class="alert alert-error" *ngIf="errorSubject | async; else loading">
    {{'openingHoursOverview.loadingError' | translate}}
  </div>

  <ng-template #loading>
    <div class="alert alert-info">
      {{'general.waitingForServer' | translate}}
    </div>
  </ng-template>
</ng-template>
