# spring configuration
spring:
  profiles:
    active: "dev" # if profile "mail" is added, mails are allowed to be sent, otherwise not
  application:
    name: "BlokAtUGent"
  datasource:
    type: "com.zaxxer.hikari.HikariDataSource"
    driverClassName: org.postgresql.Driver
    url: "jdbc:postgresql://localhost:5432/blokatugent"
    username: ***REMOVED***
    password: ***REMOVED***
    maximumPoolSize: 200
  mail:
    host: smtp.ugent.be
    protocol: smtp
    port: 25
  flyway: # For automatic flyway migration integration with spring boot
    url: "jdbc:postgresql://localhost:5432/blokatugent"
    user: ***REMOVED***
    password: ***REMOVED***
    baseline-on-migrate: true

# server configuration
server:
  ssl:
    key-store-type: PKCS12
    key-store: classpath:keystore/blokat.p12
    key-store-password: ***REMOVED***
    key-alias: blokat
    enabled: true
  port: 8080
  servlet:
    context-path: /api

# url sent to user for verification
verification:
  url: /verify
  mail:
    template: "ENGLISH VERSION BELOW\n\nBeste %s\n\nKlik op de volgende link om uw account te verifiï¿½ren: %s\n\n---\n\nDear %s\n\nClick on this link to verify your account: %s"
    subject: "UGent verificatie nieuw BlokAtUGent-account"

# mail template to send to absent students
absentStudents:
  mail:
    subject: "Afwezigheid voor reservatie/ Absence for reservation"
    template: "ENGLISH VERSION BELOW\n\nBeste Student,\n\nU was afwezig voor uw reservatie vandaag.\nHiervoor heeft u strafpunten gekregen. Van zodra u te veel strafpunten heeft kan u geen reservaties meer maken\n\n---\n\nDear student,\n\nYou were absent for your reservation today.\nDue to this you have received penalty points. Please note that you can not make a reservation if you have too many penalty points."

# CAS Authentication
cas:
  loginUrl: https://login.ugent.be
  callbackUrl: https://localhost:8080/api/login/cas

# Redirect url after successful login
redirect:
  successLoginRedirectUrl: https://localhost:4200/dashboard

# LDAP Configuration
ldap:
  url: ldaps://ldap.ugent.be
  base: ***REMOVED***
  userDn: ***REMOVED***
  password: ***REMOVED***

# Logging config
logging:
  level:
      com:
        zaxxer:
          hikari:
            DEBUG

# setting custom configuration
custom:
  mailing:
    recipientsOpeningHoursOverview: ""
