# credentials for production database
spring:
  profiles:
    active: "prod,mail" # if profile "mail" is added, mails are allowed to be sent, otherwise not
  datasource:
    type: "com.zaxxer.hikari.HikariDataSource"
    driverClassName: org.postgresql.Driver
    url: "${DB_URL}"
    username: "${DB_USERNAME}"
    password: "${DB_PASSWORD}"
    maximumPoolSize: 200
  auth-datasource:
    type: "com.zaxxer.hikari.HikariDataSource"
    driverClassName: org.postgresql.Driver
    url: "${AUTH_DB_URL}"
    username: "${AUTH_DB_USERNAME}"
    password: "${AUTH_DB_PASSWORD}"
    maximumPoolSize: 200
  flyway: # For automatic flyway migration integration with spring boot
    url: "${DB_URL}"
    user: "${DB_USERNAME}"
    password: "${DB_PASSWORD}"
  mail:
    host: mailrelay
    protocol: smtp
    port: 25

# disable ssl for production for backend (proxied)
server:
  port: 8080
  ssl:
    enabled: false

debug: false

cas:
  callbackUrl: https://studieplekken.ugent.be/api/login/cas

redirect:
  successLoginRedirectUrl: https://studieplekken.ugent.be/dashboard

# setting custom configuration
custom:
  mailing:
    recipientsOpeningHoursOverview: "alarmbeheer@ugent.be,permanentie@ugent.be,schoonmaak@ugent.be,veiligheid@ugent.be"
  stadgent:
    url: "https://bloklocaties.stad.gent/"
  jwtKey: "${JWT_KEY}"

# SAML
saml:
  sp: https://studieplekken.ugent.be/api/metadata/saml
  sp-metadata: classpath:/saml/metadata/studieplekken_prod_saml_metadata.xml
  server-name: studieplekken.ugent.be
  entity-base-url: https://studieplekken.ugent.be/api
