// Setting up gent_styleguide (cfr. https://stijlgids.stad.gent/v4/index.html)
$styleguide-dir: "" !default;

@use '../../../../node_modules/@angular/material/index' as mat;

@import "../../../../node_modules/gent_styleguide/build/styleguide/sass/main_cli";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// import our custom theme
@import 'src/assets/styles/theme';

/* angular-cli file: src/styles.css */
@import '../../../../node_modules/angular-calendar/css/angular-calendar.css';

// import leaflet styling
@import '../../../../node_modules/leaflet/dist/leaflet.css';

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($theming-material-components-theme);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include mat.all-component-typographies($typography);

// Bootstrap components
@import 'bootstrap/dist/css/bootstrap-grid.min.css';
@import 'bootstrap/dist/css/bootstrap-utilities.min.css';


/* You can add global styles to this file, and also import other style files */

body {
    hr {
        border: 1px solid whitesmoke;
        border-radius: 2px;
    }

    .messages {
        i {
            align-self: center;
        }
    }
}

/*
 * Class definition for a rotating loader
 */
.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px double #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*
 * Css style for a modal view
 * source: https://www.w3schools.com/howto/howto_css_modals.asp
 */
/* The Modal (background) */
.my-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.my-modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.my-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.my-close:hover,
.my-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/**
 * hover class
 */
.hover {
    cursor: pointer;
}

/**
 * Class to set margin if two buttons are next to each other.
 * This class should be set on the left button.
 */
.btn-left {
    margin-right: 10px;
}

/**
 * Class to make sure that the options of the Material Dropdown inside a
 * Bootstrap Modal is at the foreground.
 * Solution found at: https://stackoverflow.com/a/63051872/9356123
 */
.cdk-global-overlay-wrapper {
    padding: 2rem 0;
    .cdk-overlay-pane {
        overflow-y: auto;
    }
}

.calendar-event-NR * * mwl-calendar-event-title {
    color: black;
}

.calendar-event-reserved * * mwl-calendar-event-title {
    color: #ffffff;
}

.calendar-event-NR span {
    white-space: normal !important;
}

.calendar-event-reserved span {
    white-space: normal !important;
}

.blue-text {
    color: #3498db;
}

.calendar-event-full-not-reserved * * mwl-calendar-event-title {
    color: #a32707;
}

.calendar-event-full-not-reserved span {
    white-space: normal !important;
}

.unclickable {
    opacity: 0.6;
}

.calendar-event-suggestion {
    opacity: 0.6;
}

.float-right {
    float: right;
    margin-right: 2.5vw;
}

.btn-danger.danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

video {
    width: 100%;
}

.bigmodal {
    min-width: 60vw;
}

.fullheight {
    height: 100%;
}

.fullwidth {
    width: 100%;
}

.responsive-table {
    display: inline-block !important;
}

// Safari specific coloring of input fields
@media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
        .input-true {
            border: 1px solid rgba(245, 64, 64, 0.767) !important;
        }

        .input-false {
            border: 1px solid rgba(128, 128, 128, 0.678) !important;
        }
    }
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

// Bootstrap form-control input styling
.my-form-control {
    border-radius: .25rem;
    border: 1px solid #ced4da;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    display: block;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    width: 100%;
}

/* Nav Tabs */
.nav-tabs {
    display: flex;
    list-style: none;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
}

.nav-tabs li {
    flex-grow: 1;
    float: left;
    border-bottom: none;
    text-align: center;
}

.nav-tabs a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

.nav-tabs a.active {
    background-color: #f0f9fd;
    border-bottom: 1px solid #fff;
}
