<div class="container-fluid">
  <!-- Title -->
  <h3>{{'management.users.overview.title' | translate}}</h3>

  <hr>

  <!-- Form to filter users by
          - first name
          - last name
          - barcode
   -->
  <div class="padding-default bg-tertiary">
    <div class="padding-default">
      <div class="">
        <form [formGroup]="formGroup" (ngSubmit)="submitSearch(formGroup.value)">
          <!-- First Name -->
          <div class="row form-group">
            <label class="col-lg-3 control-label" for="firstName">
              {{'management.users.overview.firstName' | translate}}
            </label>
            <div class="col-lg-8">
              <input class="form-control" id="firstName" type="text" formControlName="firstName"
                     (ngModelChange)="filterFormChanged(formGroup.value)">
            </div>
          </div>

          <!-- Last Name -->
          <div class="row form-group">
            <label class="col-lg-3 control-label" for="lastName">
              {{'management.users.overview.lastName' | translate}}
            </label>
            <div class="col-lg-8">
              <input class="form-control" id="lastName" type="text" formControlName="lastName"
                     (ngModelChange)="filterFormChanged(formGroup.value)">
            </div>
          </div>

          <!-- Barcode -->
          <div class="row form-group">
            <label class="col-lg-3 control-label" for="barcode">
              {{'management.users.overview.barcode' | translate}}
            </label>
            <div class="col-lg-8">
              <input class="form-control" id="barcode" type="text" formControlName="barcode"
                     (ngModelChange)="filterFormChanged(formGroup.value)">
            </div>
          </div>

          <!-- Search and Cancel buttons -->
          <div class="row">
            <div class="col-md-11">

              <div class="pull-right">
                <!-- Search -->
                <button type="submit" class="btn btn-default left-button"
                        [disabled]="!enableSearchButton(formGroup.value)">
                  {{'management.users.overview.filterSearchButton' | translate}}
                </button>

                <!-- Clear input -->
                <button type="button" class="btn btn-default" (click)="clearFilterInput()"
                        [disabled]="!enableClearButton(formGroup.value)">
                  {{'management.users.overview.filterClearButton' | translate}}
                </button>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <br><br>

  <!-- Table with all users matching the filter -->
  <h3>{{'management.users.searchResult.title' | translate}}</h3>

  <hr>

  <!-- Show table if user has queried, else show a message instead of an empty table -->
  <div *ngIf="neverSearched === true" class="alert alert-info">
    {{'management.users.searchResult.neverSearched' | translate}}
  </div>

  <div *ngIf="neverSearched === null" class="alert alert-info">
    {{'management.users.searchResult.loading' | translate}}
  </div>

  <!-- If an error has occurred while fetching the users, show the error -->
  <div *ngIf="errorOnRetrievingFilteredUsers" class="alert alert-error">
    {{'management.users.searchResult.error' | translate}}
  </div>

  <div *ngIf="noUserWithBarcodeHasBeenFound" class="alert alert-warning">
    {{'management.users.searchResult.noUserWithBarcodeHasBeenFound' | translate}}
  </div>

  <div *ngIf="neverSearched === false && !errorOnRetrievingFilteredUsers && !noUserWithBarcodeHasBeenFound"
       class="container-fluid">
    <table style="width: 100%">
      <thead>
      <tr>
        <th>{{'management.users.searchResult.table.id' | translate}}</th>
        <th>{{'management.users.searchResult.table.firstName' | translate}}</th>
        <th>{{'management.users.searchResult.table.lastName' | translate}}</th>
        <th *ngIf="showPenaltyPoints">{{'management.users.searchResult.table.penaltyPoints' | translate}}</th>
        <th>{{'management.users.searchResult.table.institution' | translate}}</th>
        <th></th>
      </tr>
      </thead>

      <tbody *ngIf="filteredUsers | async as users">
      <tr *ngFor="let user of users">
        <td>{{user.augentID}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td *ngIf="showPenaltyPoints">{{user.penaltyPoints}}</td>
        <td>{{user.institution}}</td>
        <td>
          <a [routerLink]="'./' + user.augentID">
            {{'management.users.searchResult.table.details' | translate}}
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
