<div class="container-fluid">
  <!-- Title -->
  <h3>{{'management.users.overview.title' | translate}}</h3>

  <hr>

  <!-- Form to filter users by
          - first name
          - last name
          - barcode
   -->
  <div class=" highlight loupe highlight--left">
    <div class="highlight__inner">
      <div class="">
        <form [formGroup]="formGroup" class="form" (ngSubmit)="submitSearch(formGroup.value)">
          <!-- First Name -->
          <div class="row form-group">
            <label class="col-lg-3 control-label" for="firstName">
              {{'management.users.overview.firstName' | translate}}
            </label>
            <div class="col-lg-8 search">
              <input class="form-control search inline" id="firstName" type="search" formControlName="firstName"
                (ngModelChange)="filterFormChanged(formGroup.value)">
            </div>
          </div>

          <!-- Last Name -->
          <div class="row form-group">
            <label class="col-lg-3 control-label" for="lastName">
              {{'management.users.overview.lastName' | translate}}
            </label>
            <div class="col-lg-8 search">
              <input class="form-control" id="lastName" type="search" formControlName="lastName"
                (ngModelChange)="filterFormChanged(formGroup.value)">
            </div>
          </div>

          <!-- Barcode -->
          <div class="row form-group">
            <label class="col-lg-3 control-label" for="barcode">
              {{'management.users.overview.barcode' | translate}}
            </label>
            <div class="col-lg-8 search">
              <input class="form-control" id="barcode" type="search" formControlName="barcode"
                (ngModelChange)="filterFormChanged(formGroup.value)">
            </div>
          </div>

          <!-- Search and Cancel buttons -->
          <div class="row">
            <div class="col-md-11">

              <div class="pull-right">
                <!-- Search -->
                <button type="submit" class="button button-primary btn-left"
                  [disabled]="!enableSearchButton(formGroup.value)">
                  {{'management.users.overview.filterSearchButton' | translate}}
                </button>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

  <br><br>

  <!-- Table with all users matching the filter -->
  <h3>{{'management.users.searchResult.title' | translate}}</h3>

  <hr>

  <!-- Show table if user has queried, else show a message instead of an empty table -->
  <div *ngIf="neverSearched === true" class="alert alert-info">
    {{'management.users.searchResult.neverSearched' | translate}}
  </div>

  <div *ngIf="neverSearched === null" class="alert alert-info">
    {{'management.users.searchResult.loading' | translate}}
  </div>

  <!-- If an error has occurred while fetching the users, show the error -->
  <div *ngIf="errorOnRetrievingFilteredUsers" class="alert alert-error">
    {{'management.users.searchResult.error' | translate}}
  </div>

  <div *ngIf="noUserWithBarcodeHasBeenFound" class="alert alert-warning">
    {{'management.users.searchResult.noUserWithBarcodeHasBeenFound' | translate}}
  </div>

  <div *ngIf="neverSearched === false && !errorOnRetrievingFilteredUsers && !noUserWithBarcodeHasBeenFound"
    class="container-fluid responsive-table fullwidth">
    <div class="table-wrapper fullwidth">
      <table class="fullwidth">
        <thead>
          <tr>
            <th scope="col">{{'management.users.searchResult.table.id' | translate}}</th>
            <th scope="col">{{'management.users.searchResult.table.firstName' | translate}}</th>
            <th scope="col">{{'management.users.searchResult.table.lastName' | translate}}</th>
            <th *ngIf="showPenaltyPoints" scope="col">{{'management.users.searchResult.table.penaltyPoints' |
              translate}}</th>
            <th scope="col">{{'management.users.searchResult.table.institution' | translate}}</th>
            <th scope="col">
              <!-- Details -->
            </th>
          </tr>
        </thead>

        <tbody *ngIf="filteredUsers | async as users">
          <tr *ngFor="let user of users">
            <td>{{user.userId}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td *ngIf="showPenaltyPoints">{{user.penaltyPoints}}</td>
            <td>{{user.institution}}</td>
            <td class="hover" style="padding-left: 10px; padding-right: 10px; padding-top: 10px">
              <span [routerLink]="'./' + user.userId">
                <i class="icon-hamburger" aria-hidden="true"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>