<div class="col-sm-6 col-md-4 col-xs-12 col-lg-4">
  <div class="thumbnail wrapper card">
    <div class="content">
      <!-- Image -->
      <div>
        <img *ngIf="location.imageUrl !== null"
             src="{{location.imageUrl}}" class="img" alt="Image for {{location.name}}"
             (error)="handleImageError()">
        <img *ngIf="location.imageUrl === null" [src]="altImageUrl" alt="Image of {{location.name}}">

        <div class="locationStatusBar"
             [classList]="'locationStatusBar ' + locationStatusColorClass()"></div>
      </div>
      <div class="location-info">
        <!-- Title -->
        <h3>{{ location.name }}</h3>

        <!-- Number of seats, number of lockers, address and collection of tags -->
        <ul>
          <li>{{'dashboard.numberOfSeats' | translate}}: {{location.numberOfSeats}}</li>
          <li>{{'dashboard.numberOfLockers' | translate}}: {{location.numberOfLockers}}</li>
          <li>{{'dashboard.building' | translate}}: {{location.building.name}}</li>
          <li>{{'dashboard.address' | translate}}: {{location.building.address}}</li>
          <li>{{'dashboard.tags' | translate}}: {{tagsInCurrentLang}}</li>
          <li>{{'dashboard.status' | translate}}: {{statusInCurrentLang | translate}}</li>
        </ul>

        <!-- Progress bar for reserved seats -->
        <div class="progress" *ngIf="showProgressBar && occupation >= 0">
          <div class="progress-bar" role="progressbar"
               [style.width]="occupation + '%'"
               [attr.aria-valuenow]="occupation"
               aria-valuemin="0" aria-valuemax="100">
            <span>{{occupation}}/{{location.numberOfSeats}}</span>
          </div>
        </div>

        <!-- Details button for dashboard item -->
        <p>
          <a routerLink="/dashboard/{{location.name}}"
             class="btn btn-block"
             role="button">{{'dashboard.details' | translate}}</a>
        </p>
      </div>
    </div>
  </div>
</div>

