<div class="thumbnail wrapper card">
  <div class="content" fxLayout="column nowrap" fxLayoutAlign="flex-start">
    <!-- Image -->
    <div>
      <img *ngIf="!imageUrlErrorOccurred && location.imageUrl"
           src="{{location.imageUrl}}" class="img" alt="Image for {{location.name}}"
           (error)="handleImageError()">
      <img *ngIf="imageUrlErrorOccurred || !location.imageUrl" [src]="altImageUrl" alt="Image of {{location.name}}">

      <div class="locationStatusBar"
           [classList]="'locationStatusBar ' + locationStatusColorClass()"></div>
    </div>

    <div fxLayout="column nowrap" class="location-info">
      <!-- Title -->
      <h3>{{ location.name }}</h3>

      <!-- General information about the location -->
      <div style="margin-bottom: 16px">

        <table class="table borderless">
          <tbody>
          <tr>
            <td><span class="glyphicon glyphicon-time" aria-hidden="true"></span></td>

            <td>{{status | formatStatus | async }}</td>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
            <td>{{location.numberOfSeats}}</td>
          </tr>
          <tr *ngIf="showLockersManagement">
            <td><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></td>
            <td>{{location.numberOfLockers}}</td>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-home" aria-hidden="true"></span></td>
            <td>{{location.building.name}}<br/>{{location.building.address}}</td>
          </tr>
          </tbody>
        </table>

        <div class="tags">
          <p class="tag" *ngFor="let item of tagsInCurrentLang; let i = index">
            {{item}}
          </p>
        </div>
      </div>

      <!-- Progress bar for reserved seats -->
      <div class="mt-auto" *ngIf="occupationObs | async as occupation">
        <div class="progress" [class.hidden]="!(showProgressBar && occupation >= 0)">
        <div class="progress-bar" role="progressbar"
              [style.width]="occupation / location.numberOfSeats * 100 + '%'"
              [attr.aria-valuenow]="occupation"
              aria-valuemin="0" aria-valuemax="100">
          <span>{{occupation}}/{{location.numberOfSeats}}</span>
        </div>
      </div>

      <!-- Details button for dashboard item -->
      <p>
        <a routerLink="/dashboard/{{location.name}}"
           class="btn btn-block"
           role="button">{{'dashboard.details' | translate}}
        </a>
      </p>
    </div>
    </div>
  </div>
</div>

