<div id="item" class="col-sm-6 col-md-4 col-xs-12 col-lg-4 location-item">
  <div class="thumbnail wrapper card">
    <div class="content">
      <img src="{{location.imageUrl}}" alt="Image of library" class="img" onerror="this.src='https://everestgloballtd.com/frontend/images/gallery/default-corporate-image.jpg';">
      <div class="location-info">
        <h3>{{ location.name }}</h3>
        <p [translateParams]="{number: location.numberOfSeats, address:location.address }" translate>locationItem.numberOfSeats
          <span class="card-text" *ngIf="true"
                [translateParams]="{number: location.numberOfLockers}" translate><br>locationItem.numberOfLockers</span>
          <br>locationItem.address</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" [id]="this.location.name">
            <span>{{this.reservedSeats}}/{{location.numberOfSeats}}</span>
          </div>
        </div>
        <p>
          <a routerLink="/location/{{location.name}}" class="btn btn-block" role="button" translate>locationItem.moreInfo</a>
        </p>
      </div>
    </div>
  </div>
</div>
