<div class="container-fluid" *ngIf="location | async as location">
  <div class="panel-body" style="padding: 20px">
    <app-calendar
      [events]="events"
      [refresh]="refresh"
      (onTimeslotPicked)="timeslotPickedHandler($event)"
      >
    </app-calendar>
  </div>


  <hr>

  <div class="row">
    <!-- Title -->
    <h3>
      {{'management.locationDetails.calendar.reservations.title' | translate}}
    </h3>
  </div>

  <!-- Show table if user has searched, else show a message instead of an empty table -->
  <div *ngIf="showReservations === false" class="alert alert-info"  >
    {{'management.locationDetails.calendar.reservations.selectSlot' | translate}}
  </div>
  <div *ngIf="showReservations === null" class="alert alert-info">
    {{'management.locationDetails.calendar.reservations.loading' | translate}}
  </div>

  <!-- If an error has occurred while fetching the reservations, show the error -->
  <div *ngIf="errorOnRetrievingReservations" class="alert alert-error">
    {{'management.locationDetails.calendar.reservations.error' | translate}}
  </div>

 <div *ngIf="showReservations === true && !errorOnRetrievingReservations" class="container-fluid">
    <div *ngIf="locationReservations.length === 0" class="alert alert-info">
      {{'management.locationDetails.calendar.reservations.table.noLocationReservations' | translate}}
    </div>
    <table style="width: 100%;" *ngIf="locationReservations.length > 0">
      <thead>
        <tr>
          <th>{{'management.locationDetails.calendar.reservations.table.user' | translate}}</th>
          <th>{{'management.locationDetails.calendar.reservations.table.attended' | translate}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr [@rowsAnimation]="" *ngFor="let reservation of locationReservations">
          <td>{{reservation.user.firstName + ' ' + reservation.user.lastName}}</td>
          <td>{{(reservation.attended ? 'general.yes' : 'general.no') | translate}}</td>
          <td class="hover" style="padding-left: 10px; padding-right: 10px; padding-top: 10px"
              data-toggle="modal" data-target="#deleteLocationReservationModal"
              (click)="prepareToDeleteLocationReservation(reservation)">
            <span class="glyphicon glyphicon-trash pointerCursor"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <hr>

  <!-- Form to edit the calendar -->
  <div class="row">
    <!-- Title -->
    <h3>
      {{'management.locationDetails.calendar.form.title' | translate}}
    </h3>

    <!-- Button to add new period -->
    <div class="pull-right">
      <button class="btn btn-primary" (click)="addOpeningPeriod(location)">
        {{'management.locationDetails.calendar.form.addButton' | translate}}
      </button>
    </div>
  </div>

  <!-- The form itself -->
  <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="table-responsive" *ngIf="calendarPeriods.length > 0; else noCalendarPeriodsForLocation">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>{{'management.locationDetails.calendar.form.startsAt' | translate}}</th>
          <th>{{'management.locationDetails.calendar.form.endsAt' | translate}}</th>
          <th>{{'management.locationDetails.calendar.form.openingTime' | translate}}</th>
          <th>{{'management.locationDetails.calendar.form.closingTime' | translate}}</th>
          <th>{{'management.locationDetails.calendar.form.reservable' | translate}}</th>
          <th>{{'management.locationDetails.calendar.form.reservableTimeslotSize' | translate}}</th>
          <th *ngIf="showReservationInformation">{{'management.locationDetails.calendar.form.reservableFrom' | translate}}</th>
          <th>{{'management.locationDetails.calendar.form.remove' | translate}}</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let period of calendarPeriods">
          <!-- Starts at -->
          <td>
            <label>
              <input
                class="form-control"
                type="date"
                [(ngModel)]="period.startsAt"
                (ngModelChange)="refreshCalendar(period)"
              />
            </label>
          </td>

          <!-- Ends at -->
          <td>
            <label>
              <input
                class="form-control"
                type="date"
                [(ngModel)]="period.endsAt"
                (ngModelChange)="refreshCalendar(period)"
              />
            </label>
          </td>

          <!-- Opening time -->
          <td>
            <label>
              <input
                class="form-control"
                type="time"
                [(ngModel)]="period.openingTime"
                (ngModelChange)="refreshCalendar(period)"
              />
            </label>
          </td>

          <!-- Closing time -->
          <td>
            <label>
              <input
                class="form-control"
                type="time"
                [(ngModel)]="period.closingTime"
                (ngModelChange)="refreshCalendar(period)"
              />
            </label>
          </td>

          <td>
            <label>
              <input
                style="height:40px;"
                type="checkbox"
                [(ngModel)]="period.reservable"
                (ngModelChange)="refreshCalendar(period)"
              />
            </label>
          </td>

          <td>
            <label>
              <select class="form-control" [disabled]="!period.reservable" [(ngModel)]="period.reservableTimeslotSize" (ngModelChange)="refreshCalendar(period)">
                  <option value="30" [ngValue]="30">{{"management.locationDetails.calendar.form.dropdown.halfHour" | translate }}</option>
                  <option value="60" [ngValue]="60">{{ "management.locationDetails.calendar.form.dropdown.hour" | translate }}</option>
                  <option value="90" [ngValue]="90">{{ "management.locationDetails.calendar.form.dropdown.hourAndHalf" |translate }}</option>
              </select>
            </label>
          </td>

          <!-- Reservable from -->
          <td *ngIf="showReservationInformation">
            <label>
              <input
                class="form-control"
                type="date"
                [disabled]="!period.reservable"
                [(ngModel)]="period.reservableFrom"
                (ngModelChange)="refreshCalendar(period)"
              />
            </label>
          </td>

          <!-- Button with glyphicon to delete period -->
          <td style="align-content: center">
            <button class="btn btn-danger" (click)="deleteOpeningPeriodButtonClick(period)">
              <span class="glyphicon glyphicon-trash hover"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Row below the table to provide cancel/update buttons -->
    <div class="row">
      <div class="pull-right">
        <button class="btn btn-primary btn-left"
                (click)="updateOpeningPeriodButtonClick()"
                [disabled]="disableFootButtons">
          {{'management.locationDetails.calendar.form.updateButton' | translate}}
        </button>

        <button class="btn btn-primary" (click)="cancelChangesButtonClick()" [disabled]="disableFootButtons">
          {{'management.locationDetails.calendar.form.cancelButton' | translate}}
        </button>
      </div>
    </div>

    <!-- If clicked on updateButton, give some feedback -->
    <div class="row" style="margin-top: 10px">
      <div class="alert alert-danger" *ngIf="showWrongCalendarPeriodFormat">
        {{'management.locationDetails.calendar.form.wrongCalendarPeriodFormatMessage' | translate}}
      </div>

      <div class="alert alert-success" *ngIf="showSuccess">
        {{'management.locationDetails.calendar.form.successMessage' | translate}}
      </div>

      <div class="alert alert-success" *ngIf="showSuccessButNoChanges">
        {{'management.locationDetails.calendar.form.successButNoChangesMessage' | translate}}
      </div>

      <div class="alert alert-error" *ngIf="showError">
        {{'management.locationDetails.calendar.form.errorMessage' | translate}}
      </div>
    </div>
  </div>
</div>

<!-- Modal view to ask whether the user is sure to delete a lockerReservation -->
<div class="modal fade" id="deleteLocationReservationModal" tabindex="-1" role="dialog"
      aria-labelledby="deleteLocationReservationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="deleteLocationModalLabel">
          {{'management.reservations.location.deleteModal.title' | translate}}
        </h5>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <div>
          <b>{{'management.reservations.location.deleteModal.body' | translate}}</b>
          <br><br>
          <ul>
            <li><b style="margin-right: 5px"><i>{{('management.locationDetails.calendar.reservations.table.user' | translate) + ':   '}}</i></b>{{currentLocationReservationToDelete.user.firstName + ' ' + currentLocationReservationToDelete.user.lastName}}</li>
            <li><b style="margin-right: 5px"><i>{{('management.locationDetails.calendar.reservations.table.attended' | translate) + ':   '}}</i></b>{{(currentLocationReservationToDelete.attended ? 'general.yes' : 'general.no') | translate}}</li>
          </ul>
        </div>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                (click)="deleteLocationReservation()">
          {{'management.reservations.location.deleteModal.yesButton' | translate}}
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{'management.reservations.location.deleteModal.noButton' | translate}}
        </button>
      </div>

      <div class="container-fluid">
        <div class="alert alert-info" *ngIf="deletionWasSuccess === null">
          {{'management.reservations.location.deleteModal.loading' | translate}}
        </div>

        <div class="alert alert-success" *ngIf="deletionWasSuccess === true">
          {{'management.reservations.location.deleteModal.success' | translate}}
        </div>

        <div class="alert alert-error" *ngIf="deletionWasSuccess === false">
          {{'management.reservations.location.deleteModal.error' | translate}}
        </div>
      </div>

    </div>
  </div>
</div>


<ng-template #noCalendarPeriodsForLocation>
  <div class="row" style="margin-top: 20px">
    <div class="alert alert-info">
      {{'management.locationDetails.calendar.form.noCalendarPeriodsForLocation' | translate}}
    </div>
  </div>
</ng-template>
