<div class="container-fluid" *ngIf="location | async as location">
  <div class="panel-body" style="padding: 20px">
    <app-calendar
      [events]="events"
      [refresh]="refresh">
    </app-calendar>
  </div>

  <hr>

  <!-- Form to edit the calendar -->
  <!-- Title and "add new" button -->
  <div class="row">
    <h3>
      {{'management.locationDetails.calendar.form.title' | translate}}

      <div class="pull-right">
        <button class="btn btn-primary" (click)="addOpeningPeriod()">
          {{'management.locationDetails.calendar.form.addButton' | translate}}
        </button>
      </div>
    </h3>
  </div>

  <!-- The form itself -->
  <div class="row" style="margin-top: 10px">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>{{'management.locationDetails.calendar.form.startsAt' | translate}}</th>
          <th>{{'management.locationDetails.calendar.form.endsAt' | translate}}</th>
          <th>{{'management.locationDetails.calendar.form.openingTime' | translate}}</th>
          <th>{{'management.locationDetails.calendar.form.closingTime' | translate}}</th>
          <th>{{'management.locationDetails.calendar.form.reservableFrom' | translate}}</th>
          <th>{{'management.locationDetails.calendar.form.remove' | translate}}</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let event of events">
          <td>
            <label>
              <input
                class="form-control"
                type="date"
                [(ngModel)]="event.meta.startsAt"
                (ngModelChange)="refreshCalendar(event)"
              />
            </label>
          </td>
          <td>
            <label>
              <input
                class="form-control"
                type="date"
                [(ngModel)]="event.meta.endsAt"
                (ngModelChange)="refreshCalendar(event)"
              />
            </label>
          </td>
          <td>
            <label>
              <input
                class="form-control"
                type="time"
                [(ngModel)]="event.meta.openingTime"
                (ngModelChange)="refreshCalendar(event)"
              />
            </label>
          </td>
          <td>
            <label>
              <input
                class="form-control"
                type="time"
                [(ngModel)]="event.meta.closingTime"
                (ngModelChange)="refreshCalendar(event)"
              />
            </label>
          </td>
          <td>
            <label>
              <input
                class="form-control"
                type="datetime-local"
                [(ngModel)]="event.meta.reservableFrom"
                (ngModelChange)="refreshCalendar(event)"
              />
            </label>
          </td>
          <td style="align-content: center">
            <button class="btn btn-danger" (click)="deleteOpeningPeriodButtonClick(event)">
              <span class="glyphicon glyphicon-trash hover"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="pull-right">
        <button class="btn btn-primary left-button" (click)="updateOpeningPeriodButtonClick()" [disabled]="disableFootButtons">
          {{'management.locationDetails.calendar.form.updateButton' | translate}}
        </button>

        <button class="btn btn-primary" (click)="cancelChangesButtonClick()" [disabled]="disableFootButtons">
          {{'management.locationDetails.calendar.form.cancelButton' | translate}}
        </button>
      </div>
    </div>

    <!-- If clicked on updateButton, give some feedback -->
    <div class="row" >
      <div class="alert alert-danger" *ngIf="showWrongCalendarPeriodFormat">
        {{'management.locationDetails.calendar.form.wrongCalendarPeriodFormatMessage' | translate}}
      </div>

      <div class="alert alert-success" *ngIf="showSuccess">
        {{'management.locationDetails.calendar.form.successMessage' | translate}}
      </div>

      <div class="alert alert-success" *ngIf="showSuccessButNoChanges">
        {{'management.locationDetails.calendar.form.successButNoChangesMessage' | translate}}
      </div>

      <div class="alert alert-error" *ngIf="showError">
        {{'management.locationDetails.calendar.form.errorMessage' | translate}}
      </div>
    </div>
  </div>
</div>


