<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <style>
        @media all and (max-width: 599px) {
        }

        main {
            margin-top: 2em;
            margin-bottom: 3em;
        }

        footer {
            margin-top: 1em;
            font-family: 'Courier New', monospace;
            font-size: 0.9em;
        }
    </style>
</head>

<body>
<main>
    <p><i>English version below.</i></p>
    <p>Beste student</p>
    <p>
        We hebben gemerkt dat jij vandaag een studieplek had gereserveerd via de app <a>studieplekken.ugent.be</a> en dat je deze jammer genoeg niet gebruikt hebt. Zoals ook reeds aangegeven in de app vragen we je om <b>enkel maar een studieplek te reserveren indien je deze ook effectief zal gebruiken</b>. Mocht je een studieplek gereserveerd hebben en het lukt je alsnog niet om te komen, dan willen we je vriendelijk verzoeken om deze studieplek opnieuw vrij te geven opdat een andere student je studieplek kan gebruiken (de studieplek kan op elk moment opnieuw vrijgegeven worden door in de app onder Profiel>Reservaties op het vuilbakje te drukken bij de juiste reservatie).
    </p>
    <p>
        We vragen je tevens om – wanneer je vervroegd de studieplek verlaat – je studieplek opnieuw vrij te geven opdat een medestudent het resterende tijdslot gebruik kan maken van de studieplek.
    </p>
    <p>
        Er worden dagelijks controles uitgevoerd op aanwezigheid op de studieplek en dit zowel in de voormiddag als in de namiddag. Gereserveerde studieplekken die om 10u niet ingenomen zijn, worden opnieuw vrijgegeven en zullen dan door andere studenten kunnen gereserveerd worden. Als je dus een les of practicum wil combineren met aansluitend een studieplek en nadat de controles zijn uitgevoerd, dan reserveer je dus best een vrijgekomen studieplek de dag zelf (zoniet kan je studieplek niet gegarandeerd worden). Is er uitzonderlijk geen toezichter aanwezig op de studieplek om de controle uit te voeren, dan kan je jouw studentenkaart niet laten scannen maar worden er ook geen plaatsen verwijderd.
    </p>
    <p>
        We hopen in de toekomst op je engagement te mogen rekenen om de studieplekken optimaal te benutten en enkel te reserveren als je de studieplek ook effectief gebruikt. Zo kunnen we ook andere studenten maximaal de kans te bieden om gebruik te maken van de studieplekken.
    </p>
    <p>
        Alvast dank bij voorbaat voor je medewerking.
    </p>
    <p>
        Met vriendelijke groeten
    </p>
    <p>
        Het Werk- en Studieplekken Team
    </p>
    <p>
        Dit is een automatisch bericht. Als je niet de bedoelde ontvanger bent, of je hebt andere vragen of opmerking over dit bericht, gelieve te mailen naar info@studieplekken.ugent.be.
    </p>

    <hr>

    <p>
        Dear student
    </p>
    <p>
        We have noticed that you reserved a study place via the app studieplekken.ugent.be today and that you unfortunately did not use it. As indicated in the app, we ask you to only reserve a study place if you will actually use it. Should you have reserved a study place and not be able to come, we kindly ask you to release this study place again so that another student can use it (the study place can be released again at any time by clicking on the trash can next to the appropriate reservation in the app under Profile>Reservations).
    </p>
    <p>
        We also ask you - when you leave your study place earlier - to release your study place again so that another student can use the study place for the remaining time slot.
    </p>
    <p>
        There are daily checks on presence at the study place, both in the morning and in the afternoon. Reserved study places that are not taken by 10:00 will be released again and can be reserved by other students. So if you want to combine a lesson or a lab with a place to study after the controls have been carried out, it is best to reserve a free place to study on the day itself (otherwise your place cannot be guaranteed). If, exceptionally, there is no supervisor present at the study place to carry out the check, then you cannot have your student card scanned but no places will be removed.
    </p>
    <p>
        We hope we can count on your commitment in the future to make optimal use of the study places and only make reservations if you will actually use the study place. In this way, we can also offer other students maximum opportunities to make use of the study places.
    </p>
    <p>
        Thank you in advance for your cooperation.
    </p>
    <p>
        With kind regards
    </p>
    <p>
        The Work and Study Rooms Team
    </p>
    <p>
        This is an automated message. If you are not the intended recipient, or have other concerns with this message, please mail info@studieplekken.ugent.be.
    </p>
</main>

</body>
</html>
