<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <style>
        @media all and (max-width: 599px) {
        }

        main {
            margin-top: 2em;
            margin-bottom: 3em;
        }

        footer {
            margin-top: 1em;
            font-family: 'Courier New', monospace;
            font-size: 0.9em;
        }
    </style>
</head>

<body>
<main>
    <p><i>English version below.</i></p>
    <p>Beste student</p>
    <p>
        Je hebt voor volgende week één of meerdere tijdslots van een studieplek gereserveerd.
    </p>
    <p>
        Graag maken we je nog even attent op een aantal <b>nieuwe afspraken</b>.
    </p>
    <p>
        Omdat we merken dat er heel wat studieplekken door studenten gereserveerd worden die niet gebruikt worden, worden strengere controles uitgevoerd worden op aanwezigheid. Studieplekken die worden gereserveerd en niet ingenomen zijn tegen 10u in de voormiddag kunnen weer vrijgegeven worden opdat andere studenten hiervan gebruik kunnen maken. We hopen op die wijze alle studenten die gebruik willen maken van de studieplekken ook een plek te kunnen geven.
    </p>
    <p>
        Als je slechts een deel van de voormiddag of namiddag gebruik maakt van de studieplek, dan vragen we je om op moment dat je de studieplek vroegtijdig verlaat, deze weer vrij te geven. Zo kan een andere student hier ook gebruik van maken. Als je pas een studieplek nodig hebt na 10u, dan raden we je aan om deze ook pas te reserveren om 10u30 (de vrijgegeven studieplekken zijn vanaf dan beschikbaar in de app).
    </p>
    <p>
        Het scannen van de aanwezigheid op de studieplek gebeurt aan de hand van de studentenkaarten. Er is steeds een toezichter op de studieplek aanwezig die deze controles uitvoert (personeelslid of student-vrijwilliger). We raden je aan om hiervoor reeds bij het plaatsnemen op de studieplek je studentenkaart op de hoek van de tafel te leggen opdat het scannen vlot kan gebeuren (tenzij dit uiteraard reeds aan de ingang gebeurd is).  Als student ben je zelf verantwoordelijk dat je studentenkaart ingescand wordt. Is er geen toezichter aanwezig, dan kan je jouw kaart niet laten scannen maar wordt jouw plaats ook niet verwijderd.
    </p>
    <p>
        We herinneren je er ook graag aan dat je een gereserveerde studieplek op elk tijdstip kan annuleren als je deze toch niet zou gebruiken.
    </p>
    <p>
        Graag willen we ook nog even je medewerking vragen om pas tegen het startuur waarop de studieplek voor jou gereserveerd is naar de studieplek te komen. Zeker voor het namiddaggedeelte moeten deze studieplekken eerst nog vrijgemaakt worden door de studenten die in de voormiddag de studieplek hadden gereserveerd dus heeft het geen zin om al vroeger naar de studieplek te komen. Check dus steeds goed het startuur van jouw reservatie van de studieplek.
    </p>
    <p>
        We hopen op je medewerking te kunnen rekenen en met deze werkwijze een optimalere bezetting van studieplekken te realiseren.
    </p>
    <p>
        Met vriendelijke groeten
    </p>
    <p>
        Het Werk- en Studieplekken Team
    </p>
    <p>
        Dit is een automatisch bericht. Als je niet de bedoelde ontvanger bent, of je hebt andere vragen of opmerking over dit bericht, gelieve te mailen naar info@studieplekken.ugent.be.
    </p>

    <hr>

    <p>
        Dear student
    </p>
    <p>
        You have reserved one or more timeslots in a study place for next week.
    </p>
    <p>
        We would like to draw your attention to a number of <b>new arrangements</b>.
    </p>
    <p>
        Because we notice that many study places are reserved by students but that they are not used, stricter checks are made on presence. Study places that are reserved and not taken by 10 am (morning slot) can be released so that other students can use them. We hope to be able to give all students who want to use the study places a place to study.
    </p>
    <p>
        If you only use the study place for a part of the morning or afternoon, we ask you to release it the moment you leave it. This way, another student can also make use of it. If you need a place to study after 10:00 in the morning, we advise you to reserve it at 10:30. The released study places are available in the app from then on).
    </p>
    <p>
        The scanning of the presence at the study place is done by means of the student cards. There is always a supervisor at the study place who performs these checks (staff member or student volunteer). We advise you to lay your student card on the corner of the table when you arrive at the study place so that the scanning can be done easily(unless you have already done so at the entrance).  As a student you are responsible for the scanning of your student card. If there is no supervisor present, you cannot have your card scanned but your seat will not be removed either.
    </p>
    <p>
        We would also like to remind you that you can cancel a reserved study place at any time if you don't want to use it.
    </p>
    <p>
        We would also like to ask for your cooperation in coming to the study place only around the starting time when the study place is reserved for you. Especially for the afternoon part, these study places still need to be freed up by the students who reserved the study place in the morning, so it makes no sense to come to the study place earlier. So always check the starting time of your study place reservation.
    </p>
    <p>
        We hope to be able to count on your cooperation and to realize a better occupation of the study places.
    </p>
    <p>
        With kind regards
    </p>
    <p>
        The Work and Study Rooms Team
    </p>
    <p>
        This is an automated message. If you are not the intended recipient, or have other concerns with this message, please mail info@studieplekken.ugent.be.
    </p>
</main>

</body>
</html>
