<h2 translate>management.penalties</h2>
<hr>

<!--
  Add new PenaltyEvent
-->
<div *ngIf="authenticationService.currentUserHasRole(authenticationService.roles.admin)">
  <div class="panel-group content-text mbottom-default">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse_styleguide_1" aria-expanded="false"
             class="collapsed" translate>
            <i class="glyphicon glyphicon-plus"></i>
            <i class="glyphicon glyphicon-minus"></i>
            admin.addPenaltyEvent</a>
        </h4>
      </div>
      <div id="collapse_styleguide_1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body" style="padding: 20px">
          <div class="col-md-12 personal-info">
            <div class="addError alert-primary" role="alert" [hidden]="!displayErrorMessage"
                 [translateParams]="{code: this.penaltyForm.controls.code.value}"   translate>
              management.addPenaltyEventError
            </div>
            <form class="form-horizontal" role="form" [formGroup]="penaltyForm"
                  (ngSubmit)="addPenaltyEvent(penaltyForm.value)">
              <div class="form-group">
                <label class="col-md-3 control-label" for="code" translate>admin.code</label>
                <div class="col-md-8">
                  <input class="form-control" type="number" id="code" formControlName="code">
                  <div *ngIf="penaltyForm.controls.code.touched && !penaltyForm.controls.code.valid"
                       class="alert alert-danger" translate> from.positive
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-3 control-label" for="points" translate>admin.points</label>
                <div class="col-md-8">
                  <input class="form-control" type="number" id="points" formControlName="points">
                  <div *ngIf="penaltyForm.controls.points.touched && !penaltyForm.controls.points.valid"
                       class="alert alert-danger" translate> from.positive
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-3 control-label" for="publicAccessible" translate>admin.publicAccessible</label>
                <div class="col-md-8">
                  <input class="form-control" type="checkbox" id="publicAccessible" formControlName="publicAccessible">
                </div>
              </div>

              <div class="form-group" *ngFor="let lang of Object.keys(appLanguages)">

                <label class="col-md-3 control-label" for="{{lang}}">
                  {{languageTranslations[appLanguages[lang]][Object.keys(appLanguages).indexOf(translate.currentLang)]}}
                </label>
                <div class="col-md-8" formGroupName="descriptions">
                  <input class="form-control" type="text" id="{{lang}}" formControlName="{{appLanguages[lang]}}">
                  <div
                    *ngIf="penaltyForm.controls.descriptions['controls'][appLanguages[lang]].touched && !penaltyForm.controls.descriptions['controls'][appLanguages[lang]].valid"
                    class="alert alert-danger" translate> from.required
                  </div>
                </div>

              </div>

              <div class="form-group">

                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                  <button type="submit" class="btn btn-primary btn-space" style="margin-right: 10px" translate>
                    management.add
                  </button>
                  <button class="btn btn-default btn-space" (click)="cancelAdd($event)" translate>management.cancel
                  </button>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>

<!--
  Table
-->
<div style="padding-top: 2vh; padding-bottom: 20px" class="table-responsive col-md-12">
  <table *ngIf="results.length > 0" class="table-striped" style="width: 100%" id="resultsTable">
    <thead class="bg-info">
    <tr class="firstrow lastrow even">
      <th scope="col" translate>admin.code</th>
      <th scope="col" translate>admin.points</th>
      <th scope="col" translate>admin.publicAccessible</th>
      <th scope="col" translate>admin.description</th>
      <th scope="col" *ngIf="authenticationService.currentUserHasRole(authenticationService.roles.admin)" ></th>
      <th scope="col" *ngIf="authenticationService.currentUserHasRole(authenticationService.roles.admin)" ></th>
    </tr>
    </thead>
    <tbody>
    <tr [@rowsAnimation]="" *ngFor="let penalty of results" class="row_odd firstrow odd">
      <td>{{penalty.code}}</td>
      <td>{{penalty.points}}</td>
      <td ><span class="glyphicon" [ngClass]="(penalty.publicAccessible)?' glyphicon-ok':' glyphicon-remove'"></span></td>
      <td>{{penalty.descriptions[appLanguages[translate.currentLang]]}}</td>
      <td *ngIf="authenticationService.currentUserHasRole(authenticationService.roles.admin)" style="padding-top: 10px">
        <button class="btn btn-default lastcolumn" (click)="setSelectedPenaltyEvent(penalty)" data-toggle="modal"
                data-target="#penalties" translate>admin.change
        </button>
      </td>
      <td
        *ngIf="authenticationService.currentUserHasRole(authenticationService.roles.admin) && !isReserved(penalty) else cantDelete"
        style="padding-left: 10px; padding-right: 10px; padding-top: 10px"><span
        (click)=" displayDelete='block'; selectedCode = penalty.code"
        class="glyphicon glyphicon-trash pointerCursor deleteRow"></span></td>
      <ng-template #cantDelete>
        <td></td>
      </ng-template>
    </tr>
    </tbody>
  </table>
</div>

<!--
  Popup if you want to modify a PenaltyEvent
-->
<ng-container *ngIf="selected !== undefined">
  <div class="modal fade" id="penalties" tabindex="-1" role="dialog" aria-labelledby="penaltiesLabel"
       aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="penaltiesLabel" translate>admin.changePenaltyEvent</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <form class="form-horizontal" role="form" [formGroup]="changePenaltyForm">
              <div class="form-group">
                <label class="col-lg-3 control-label" translate>admin.code</label>
                <div class="col-lg-8">
                  <input formControlName="code" class="form-control"
                         type="number" readonly>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label" translate>admin.points</label>
                <div class="col-lg-8">
                  <input formControlName="points" class="form-control"
                         type="number">
                  <div
                    *ngIf="changePenaltyForm.controls.points.touched && !changePenaltyForm.controls.points.valid"
                    class="alert alert-danger" translate> from.positive
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label" translate>admin.publicAccessible</label>
                  <div class="col-lg-8">
                    <input formControlName="publicAccessible"
                           class="form-control" type="checkbox">
                    <div
                      *ngIf="changePenaltyForm.controls.publicAccessible.touched && !changePenaltyForm.controls.publicAccessible.valid"
                      class="alert alert-danger" translate> from.required
                    </div>
                  </div>
                </div>
                <div formGroupName="descriptions">
                  <div *ngFor="let lang of Object.keys(selected.descriptions)" class="form-group">

                    <label
                      class="col-lg-3 control-label">{{languageTranslations[lang][Object.keys(appLanguages).indexOf(translate.currentLang)]}}</label>
                    <div class="col-lg-8">
                      <input formControlName="{{lang}}"
                             class="form-control" type="text">
                      <div
                        *ngIf="changePenaltyForm.controls.descriptions['controls'][lang].touched && !changePenaltyForm.controls.descriptions['controls'][lang].valid"
                        class="alert alert-danger" translate> from.required
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()" translate>
            location.cancel
          </button>
          <button type="button" class="btn btn-secondary" (click)="change()" translate>
            admin.change
          </button>
          <button [hidden]="true" id="hideChangePenaltyModal" data-dismiss="modal"> </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- pop-up which is shown when a manager tries to delete a record -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayDelete}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="displayDelete='none';"><span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" translate> Delete? </h2>
      </div>

      <div class="modal-body">
        <div [translateParams]="{penaltyCode: this.selectedCode}" translate>
          management.deletePenaltyEvent
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="displayDelete='none'" translate>
          management.no
        </button>
        <button type="button" class="btn btn-secondary"
                (click)="deletePenaltyEvent(this.selectedCode); displayDelete='none'" translate>
          management.yes
        </button>
      </div>

    </div>
  </div>
</div>

<!-- pop-up which is shown when a manager tries add a record with code 1666 -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display1666}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="display1666='none';"><span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" translate> management.add1666Title </h2>
      </div>

      <div class="modal-body">
        <div [translateParams]="{penaltyCode: this.selectedCode}" translate>
          management.add1666Description
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="display1666='none'" translate>
          management.no
        </button>
        <button type="button" class="btn btn-secondary"
                (click)="deletePenaltyEvent(this.selectedCode); displayDelete='none'" translate>
          management.yes
        </button>
      </div>

    </div>
  </div>
</div>
