<div id='print-ngx'>
    <h1>{{(getLocation(locationId) | async).name}}</h1>
    <h3>{{timestring(timeslot)}}</h3>

    <hr>
<table *ngIf="locationReservations | async as lrs">
    <thead>
        <tr>
            <th>{{'management.locationDetails.calendar.reservations.table.user' | translate}}</th>
            <th>{{'management.locationDetails.calendar.reservations.table.number' | translate}}</th>
        </tr>
    </thead>

    <tbody>
    <tr *ngFor="let reservation of lrs">
        <td>{{reservation.user.firstName + ' ' + reservation.user.lastName}}</td>
        <td>{{reservation.user.augentID}}</td>
    </tr>
    </tbody>
</table>
</div>
<div fxLayout="row">
<button (click)="print()" class="btn"> {{'general.print' | translate}}</button>
<button routerLink="../../../../" class="btn btn-primary">{{'general.back' | translate}}</button>
</div>
