<div class="container-fluid">
  <!-- Title -->
  <h3>{{'management.reservations.title' | translate}}</h3>

  <hr>

  <!-- Location Reservations -->
  <div class="panel-group">
    <!-- Heading -->
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" href="#locationReservationsBody" aria-expanded="false" class="collapsed">
          <i class="glyphicon glyphicon-plus"></i>
          <i class="glyphicon glyphicon-minus"></i>
          {{'management.reservations.locationsPanelTitle' | translate}}
        </a>
      </h3>
    </div>

    <!-- Body -->
    <div class="panel-collapse collapse" id="locationReservationsBody">
      <div class="panel-body" style="padding: 20px">
        TODO <!-- TODO -->
      </div>
    </div>
  </div>

  <!-- Locker Reservations -->
  <div class="panel-group">
    <!-- Heading -->
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" href="#lockerReservationsBody" aria-expanded="false" class="collapsed">
          <i class="glyphicon glyphicon-plus"></i>
          <i class="glyphicon glyphicon-minus"></i>
          {{'management.reservations.lockersPanelTitle' | translate}}
        </a>
      </h3>
    </div>

    <!-- Body -->
    <div class="panel-collapse collapse" id="lockerReservationsBody">
      <div class="panel-body" style="padding: 20px">
        TODO <!-- TODO -->
      </div>
    </div>
  </div>
</div>
