<div class="fluid-container">

  <div class="col-md-12 personal-info">
    <div class="alert alert-success alert-dismissable" role="alert" *ngIf="succesMessageVisible">
      <a class="panel-close close" data-dismiss="alert">×</a>
      <span translate>{{succesMessage}}</span>
    </div>
    <div class="alert alert-warning alert-dismissable" role="alert" *ngIf="errorMessageVisible">
      <a class="panel-close close" data-dismiss="alert">×</a>
      <span translate> {{errorMessage}} </span>
    </div>

    <h3 translate>profile.personalInfo</h3>

    <form class="form-horizontal" [formGroup]="profileForm" (ngSubmit)="saveChanges(profileForm.value)">
      <div class="form-group">
        <label class="col-lg-3 control-label" for="firstName" translate>profile.firstName</label>
        <div class="col-lg-8">
          <input class="form-control" id="firstName" type="text" formControlName="firstName"
                 readonly>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 control-label" for="lastName" translate>profile.lastName</label>
        <div class="col-lg-8">
          <input class="form-control" id="lastName" type="text" formControlName="lastName"
                 readonly>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 control-label" for="institution" translate>profile.institution</label>
        <div class="col-lg-8">
          <input class="form-control" id="institution" type="text" formControlName="institution" readonly>
        </div>
      </div>

      <!--<div class="form-group">
        <label *ngIf="user.roles.length === 1; else roles" class="col-lg-3 control-label" for="roles" translate>profile.role</label>
        <ng-template #roles>
          <label class="col-lg-3 control-label" for="roles" translate>profile.roles</label>
        </ng-template>
        <div class="col-lg-8">
          <input class="form-control" id="roles" type="text" formControlName="roles" readonly>
        </div>
      </div>-->

      <div *ngIf="user.roles.includes(authenticationService.roles.student)" class="form-group">
        <label class="col-lg-3 control-label" for="penaltyPoints" translate>profile.penaltyPoints</label>
        <div class="col-lg-8">
          <input class="form-control" id="penaltyPoints" type="number" formControlName="penaltyPoints" readonly>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 control-label" for="email" translate>profile.email</label>
        <div class="col-lg-8">
          <input class="form-control" id="email" type="email" formControlName="email" readonly>
        </div>
      </div>

      <div class="form-group">
        <label *ngIf="user.roles.includes(authenticationService.roles.student); else employeeNumber"
               class="col-lg-3 control-label" for="identificationNumber" translate>profile.studentNumber</label>
        <ng-template #employeeNumber>
          <label class="col-lg-3 control-label" for="identificationNumber" translate>profile.employeeNumber</label>
        </ng-template>
        <div class="col-lg-8">
          <input class="form-control" type="text" id="identificationNumber" formControlName="identificationNumber" readonly>
        </div>
      </div>

      <div *ngIf="(user.institution != 'UGent' )">

      <div class="form-group">
        <label class="col-lg-3 control-label" for="password" translate>profile.password</label>
        <div class="col-lg-6">
          <input class="form-control" id="password" type="password" formControlName="password" readonly>
        </div>


        <div class="col-lg-3">
          <button type='button' class="btn btn-link" [disabled]="editPassword"
                  (click)="changeVisibilityPasswordChangeFields()" translate>
            profile.editPassword
          </button>
        </div>
      </div>

      <!-- Clicking on the button above calls changeVisibilityPasswordChangeFields, which makes the input fields to
           change password become visible if they weren't visible -->

      <div *ngIf="editPassword">
        <div class="form-group">
          <label class="col-md-3 control-label" for="pwd" translate>profile.newPassword</label>
          <div class="col-md-8">
            <input class="form-control" id="pwd" type="password" formControlName="pwd">
            <div *ngIf="profileForm.controls.pwd.touched && !profileForm.controls.pwd.valid ">
              <div *ngIf="profileForm.controls.pwd.errors.minlength" class="alert alert-danger"  [translateParams]="{num: this.minLengthPwd}" translate>
                from.minLength
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label" for="confPwd" translate>profile.confirmNewPassword</label>
          <div class="col-md-8">
            <input class="form-control" id="confPwd" type="password" formControlName="confPwd">
            <div *ngIf="profileForm.errors?.passwordsDifferent && profileForm.controls.confPwd.touched"
                 class="alert alert-danger" translate>
              loginAndRegister.pwdMatch
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <button type="submit" class="btn btn-primary btn-space"
                    translate>
              profile.saveChanges
            </button>
            <button type="button" class="btn btn-default btn-space" style="margin-left: 10px;"
                    (click)="changeVisibilityPasswordChangeFields()" translate>
              profile.cancel
            </button>
          </div>
        </div>
      </div>
      </div>

      <div class="col-md-12" *ngIf="user.barcode !== null">
        <div class="row">
          <div class="col-md-4">

          </div>

          <div class="col-xs-12 col-md-6" style="text-align: center">
            <img style="width:70%; padding: 3vh  " [src]="barcode" alt="Barcode" id="image">
          </div>

          <div class="col-md-2">

          </div>
        </div>

        <div class="row">
          <div class="col-md-4">

          </div>

          <div class="col-xs-12 col-md-6" style="text-align: center; margin-bottom: 5vh">
            <div class="btn btn-primary buttonframe">
              <span class="glyphicon glyphicon-save" style="margin-right: 8px"></span>
              <a href="/api/barcode/download/{{user.barcode}}" class="content" translate>profile.download</a>
            </div>
          </div>

          <div class="col-md-2">

          </div>
        </div>
      </div>
    </form>
  </div>
</div>
