table {
    width: 100%;
}

tr {
    border: solid;
    border-width: 1px 0;
}
tr:first-child {
    border-top: none;
  }
  tr:last-child {
    border-bottom: none;
  }

  h3 {
    white-space: pre;
  }

  @media print
{
    ::ng-deep aside
    {
        display: none !important;
    }

    ::ng-deep .footer
    {
        display: none !important;
    }

    .noprint
    {
        display: none !important;
    }

    .print
    {
        display: table !important;
    }

    ::ng-deep header {
      display: none;
    }

    table {
      text-align: center;
    }
}

.print {
  display: none;
}
