<div *ngIf="userSub$ | async as user; else notFound">
    <!-- Form with details of the user -->
    <app-user-details-form [userObs]="userSub$"></app-user-details-form>

    <!-- If the user is an EMPLOYEE or ADMIN, show the authorities of the user -->
    <div class="mt-4">
        <app-user-authorities-management [userObs]="userSub$">

        </app-user-authorities-management>
    </div>

    <div class="mt-4">
        <app-profile-reservations [userObs]="userSub$">

        </app-profile-reservations>
    </div>

    <div class="mt-4">
        <!-- Table with all penalty points and the option to add/delete them manually  -->
        <app-user-penalty-manager [userObs$]="userSub$">

        </app-user-penalty-manager>
    </div>

    <!-- If the user is an ADMIN, then he may change the role of a user -->
    <div *ngIf="showRolesManagement$ | async">
        <app-user-roles [userObs]="userSub$"></app-user-roles>
    </div>
</div>
<ng-template #notFound>
    <!-- If querying the user is not successful, show an error -->
    <div class="messages messages--error">
        {{('management.users.userDetails.errorQuerying' | translate).replace('{id}', userId$ | async)}}
    </div>
</ng-template>
