.content {
  padding: 5px;
}

/*
 * Remove the upper border from the mat-select component. This
 * adds unnecessary whitespace in the filter.
 */
::ng-deep .mat-form-field-infix {
  border-top: 0;
}

.dashboard-item-container {
  flex-grow: 1;
}

.warning-banner {
  text-align: left;
  background-color: #e9f0fa;
  padding: 20px;
}
.warning-banner:empty { display: none }
