.content {
  padding: 5px;
}

/*
 * Remove the upper border from the mat-select component. This
 * adds unnecessary whitespace in the filter.
 */
::ng-deep .mat-form-field-infix {
  border-top: 0;
}

.dashboard-item-container {
  flex-grow: 1;
}
.banner {
  max-width: 75%;
  margin: 0 auto;
}