<div class="container-fluid" *ngIf="locations !== undefined && successOnRetrievingLocations === true">
  <div class="row">
    <mat-form-field *ngIf="tags !== undefined" >
      <mat-label>{{'dashboard.tagsFilterTitle' | translate}}</mat-label>
      <mat-select multiple
                  [formControl]="matSelectFormControl"
                  [compareWith]="compareTagsInSelection"
                  (selectionChange)="onSelectionChange($event)">
        <mat-option *ngFor="let tag of tags" [value]="tag">
          {{currentLang === 'nl' ? tag.dutch : tag.english}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <hr>

  <div class="container-fluid"
       *ngIf="filteredLocations && filteredLocations.length > 0 && locations.length > 0; else noMatchesFromFilter">
    <app-dashboard-item *ngFor="let location of filteredLocations" [location]="location"></app-dashboard-item>
  </div>
</div>

<!-- Feedback to the user when the locations are loading/can't be retrieved -->
<div class="container-fluid">
  <div class="alert alert-info" *ngIf="successOnRetrievingLocations === null">
    {{'general.waitingForServer' | translate}}
  </div>

  <div class="alert alert-error" *ngIf="successOnRetrievingLocations === false">
    {{'dashboard.error' | translate}}
  </div>
</div>

<ng-template #noMatchesFromFilter>
  <div class="alert alert-warning">
    {{'dashboard.noMatchesFromFilter' | translate}}
  </div>
</ng-template>
