<div class="container-fluid">
  <h2 style="float: left">
    {{ viewDate | calendarDate:(view + 'ViewTitle'):this.locale }}
  </h2>
  <div class="btn btn-primary" style="float: right; margin: 5px" mwlCalendarNextView
       [view]="view"
       [(viewDate)]="viewDate"
       translate>
    <span class="glyphicon glyphicon-chevron-right"></span>
  </div>
  <div class="btn btn-primary" style="float: right; margin: 5px" mwlCalendarPreviousView
       [view]="view"
       [(viewDate)]="viewDate" translate>
    <span class="glyphicon glyphicon-chevron-left"></span>
  </div>
</div>
<div class="row">
  <ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
      <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
      <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <div *ngIf="reserved(day.date)" class="text-center">
      <h2 translate>location.location</h2>
      <h3>{{getLocationNameForReservation(day.date)}}</h3>
    </div>
    <button *ngIf="reserved(day.date) && !isPastOpeningHour(day.date)" class="btn btn-secondary"
            (click)="getCancelPoints(day.date); selectedDay = dateToIDate(day.date)" translate>location.cancel</button>
  </ng-template>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [cellTemplate]="customCellTemplate"
      [(locale)]=this.locale
      [weekStartsOn]="1"
      (beforeViewRender)="beforeMonthViewRender($event)">
    </mwl-calendar-month-view>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" [ngStyle]="{'display':displayCancel}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" translate>location.cancel</h2>
      </div>
      <div class="modal-body">
        <p translate>location.verifyCancel</p>
        <p *ngIf="cancelPoints !== 0" [translateParams]="{points:cancelPoints}" translate>location.verifyCancelPoints</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="displayCancel='none'" translate>location.no</button>
        <button class="btn btn-secondary" (click)="displayCancel='none'; cancelLocationReservation()" translate>location.yes</button>
      </div>
    </div>
  </div>
</div>
